@page {
  size: A4;
  margin-top: 125px;        /** should be header height + page top margin */
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 125px;      /** should be footer height + page bottom-margin */

  @top-left {
    content: element(header);
  }

  @bottom-left {
    content: element(footer);
  }
}

object[type="watermark"] {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  z-index: 1000;
  left: 0;
  top: 0;
}

body {
  margin: 0;
  padding: 0;
}
    
header,
footer {
  width: 100%;
}

header {
  margin-bottom: 16px;	
  border-bottom: 1px solid black;
}

footer {
  margin-top: 16px;
  border-top: 1px solid black;
}
    
    
.excelDefaults {
	background-color: none;
	color: black;
	text-decoration: none;
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	word-spacing: 0;
	white-space: normal;
	vertical-align: 0;
	background-image: none;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	vertical-align: bottom;
	font-style: normal;
	font-family: sans-serif;
	font-variant: normal;
	font-weight: normal;
	font-size: 10px;
	text-align: right;
	width: 100%;
}

.excelDefaults td {
	padding: 1px 5px;
}
