<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem name="marketing-root" order="-2000" title="Marketing" icon="fa fa-bullseye"
    if="__config__.app.isApp('marketing')" icon-background="#525252"/>

  <menuitem name="targets-all" parent="marketing-root" title="Targets" action="targets.all"
    order="100"/>

  <action-view name="targets.all" model="com.axelor.apps.marketing.db.TargetList"
    title="Targets">
    <view name="target-list-grid" type="grid"/>
    <view name="target-list-form" type="form"/>
  </action-view>

  <menuitem name="campaign-all" parent="marketing-root" title="Campaigns"
    action="campaign.all" order="200"/>

  <action-view name="campaign.all" model="com.axelor.apps.marketing.db.Campaign"
    title="Campaigns">
    <view name="campaign-kanban" type="kanban"/>
    <view name="campaign-grid" type="grid"/>
    <view name="campaign-form" type="form"/>
  </action-view>

  <menuitem name="marketing-conf" title="Configuration" parent="marketing-root"
    icon="fa-cog" order="300"/>

  <menuitem name="marketing-conf-campaign-type" parent="marketing-conf"
    title="Campaign types" action="marketing.conf.campaign.type" order="100"/>

  <action-view name="marketing.conf.campaign.type"
    model="com.axelor.apps.marketing.db.CampaignType" title="Campaign types">
    <view name="campaign-type-grid" type="grid"/>
    <view name="campaign-type-form" type="form"/>
  </action-view>

  <menuitem name="marketing-conf-template" parent="marketing-conf" title="Template"
    action="marketing.conf.template" order="200"/>

  <action-view name="marketing.conf.template" model="com.axelor.message.db.Template"
    title="Template">
    <view name="template-grid" type="grid"/>
    <view name="template-form" type="form"/>
    <domain>self.mediaTypeSelect IN (4)</domain>
    <context name="_mediaType" expr="eval:4"/>
  </action-view>

  <menuitem name="menu-marketing-help" title="Help" parent="marketing-root" order="1500"
            icon="fa-question-circle" />


</object-views>
