src/main/axelor-react-timesheet/.yarn/*
!src/main/axelor-react-timesheet/.yarn/.yarn/patches
!src/main/axelor-react-timesheet/.yarn/.yarn/plugins
!src/main/axelor-react-timesheet/.yarn/.yarn/releases
!src/main/axelor-react-timesheet/.yarn/.yarn/sdks
!src/main/axelor-react-timesheet/.yarn/.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !.yarn/cache
src/main/axelor-react-timesheet/.pnp.*

