.readonly {
  border-color: transparent !important;
  padding-left: 0;
  padding-right: 0;
  // hide icons
  > div:last-child {
    display: none;
  }
}

.selectionContainer .required {
  border-bottom-color: red !important;
}

.icon {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  padding: 2px;
}
.label {
  font-weight: 700;
  color: var(--palettes-neutral-700);
}
