<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_7.4.xsd">

  <menuitem title="Contracts" name="contracts-root" order="-1500"
    if="__config__.app.isApp('contract')" icon="briefcase-fill" icon-background="#2196f3"/>

  <menuitem title="Customer contracts" name="contracts-root-customer-all"
    action="contracts.root.customer.all" parent="contracts-root" order="100"/>

  <action-view name="contracts.root.customer.all" title="Customer contracts"
    model="com.axelor.apps.contract.db.Contract">
    <view type="grid" name="contract-grid"/>
    <view type="form" name="contract-form"/>
    <view-param name="search-filters" value="contract-filters"/>
    <domain>self.targetTypeSelect = 1 AND self.contractTypeSelect = 1 AND self.statusSelect != 3</domain>
    <context name="_xTargetType" expr="eval: 1"/>
  </action-view>

  <menuitem title="Supplier contracts" name="contracts-root-supplier-all"
    action="contracts.root.supplier.all" parent="contracts-root" order="200"/>

  <action-view name="contracts.root.supplier.all" title="Supplier contracts"
    model="com.axelor.apps.contract.db.Contract">
    <view type="grid" name="contract-grid"/>
    <view type="form" name="contract-form"/>
    <view-param name="search-filters" value="contract-filters"/>
    <domain>self.targetTypeSelect = 2 AND self.contractTypeSelect = 1 AND self.statusSelect != 3</domain>
    <context name="_xTargetType" expr="eval: 2"/>
  </action-view>

  <menuitem title="YEB/YER Customer contracts" name="contracts-root-yer-customer-all"
    action="contracts.root.yer.customer.all" parent="contracts-root" order="300"
    if="__config__.app.getApp('base')?.enablePricingScale"/>

  <action-view name="contracts.root.yer.customer.all" title="YEB/YER Customer contracts"
    model="com.axelor.apps.contract.db.Contract">
    <view type="grid" name="contract-grid"/>
    <view type="form" name="contract-form"/>
    <view-param name="search-filters" value="contract-filters"/>
    <domain>self.targetTypeSelect = 3 AND self.contractTypeSelect = 1 AND self.statusSelect != 3</domain>
    <context name="_xTargetType" expr="eval: 3"/>
  </action-view>

  <menuitem title="YEB/YER Supplier contracts" name="contracts-root-yer-supplier-all"
    action="contracts.root.yer.supplier.all" parent="contracts-root" order="400"
    if="__config__.app.getApp('base')?.enablePricingScale"/>

  <action-view name="contracts.root.yer.supplier.all" title="YEB/YER Supplier contracts"
    model="com.axelor.apps.contract.db.Contract">
    <view type="grid" name="contract-grid"/>
    <view type="form" name="contract-form"/>
    <view-param name="search-filters" value="contract-filters"/>
    <domain>self.targetTypeSelect = 4 AND self.contractTypeSelect = 1 AND self.statusSelect != 3</domain>
    <context name="_xTargetType" expr="eval: 4"/>
  </action-view>

  <menuitem title="Framework contracts" name="contracts-root-framework-contract-all"
    action="contracts.root.framework.contract.all" parent="contracts-root" order="450"/>

  <action-view name="contracts.root.framework.contract.all" title="Framework contracts"
    model="com.axelor.apps.contract.db.Contract">
    <view type="grid" name="contract-grid"/>
    <view type="form" name="contract-form"/>
    <view-param name="search-filters" value="contract-filters"/>
    <domain>self.contractTypeSelect = 2</domain>
    <context name="_isFrameworkContract" expr="eval: true"/>
  </action-view>

  <menuitem title="Configuration" name="contracts-root-conf-all" parent="contracts-root"
    icon="fa-cog" order="500"/>

  <menuitem title="Terminated contracts" name="contracts-root-conf-terminated"
    action="contracts.root.conf.terminated" parent="contracts-root-conf-all" order="100"/>

  <action-view name="contracts.root.conf.terminated" title="Terminated contracts"
    model="com.axelor.apps.contract.db.Contract">
    <view type="grid" name="contract-grid"/>
    <view type="form" name="contract-form"/>
    <view-param name="search-filters" value="contract-filters"/>
    <domain>self.statusSelect = 3</domain>
  </action-view>

  <menuitem name="contract-template-all" title="Contract templates"
    parent="contracts-root-conf-all" action="contract.templates.all" order="200"/>

  <action-view name="contract.templates.all" title="Contract templates"
    model="com.axelor.apps.contract.db.ContractTemplate">
    <view type="grid" name="contract-template-grid"/>
    <view type="form" name="contract-template-form"/>
    <view-param name="search-filters" value="contract-template-filters"/>
  </action-view>

  <menuitem name="duration-all" title="Durations" parent="contracts-root-conf-all"
    action="duration.all" order="300"/>

  <action-view name="duration.all" title="Duration"
    model="com.axelor.apps.base.db.Duration">
    <view type="grid" name="duration-grid"/>
    <view type="form" name="duration-form"/>
    <domain>self.applicationTypeSelect = 2</domain>
    <context name="_applicatioTypeSelect" expr="2"/>
  </action-view>

  <menuitem name="index-revaluation-all" title="Indexes revaluation"
    parent="contracts-root-conf-all" action="index.revaluation.all" order="400"/>

  <action-view name="index.revaluation.all" title="Index revaluation"
    model="com.axelor.apps.contract.db.IndexRevaluation">
    <view type="grid" name="index-revaluation-grid"/>
    <view type="form" name="index-revaluation-form"/>
  </action-view>

  <menuitem name="revaluation-formula-all" title="Revaluation formulas"
    parent="contracts-root-conf-all" action="revaluation.formula.all" order="500"/>

  <action-view name="revaluation.formula.all" title="Revaluation formula"
    model="com.axelor.apps.contract.db.RevaluationFormula">
    <view type="grid" name="revaluation-formula-grid"/>
    <view type="form" name="revaluation-formula-form"/>
  </action-view>

  <menuitem name="contract-root-files" title="Files" parent="contracts-root-conf-all"
    action="action.file.view.contract" order="550"/>

  <action-view name="action.file.view.contract" title="Files"
    model="com.axelor.apps.base.db.File">
    <view type="grid" name="file-grid"/>
    <view type="form" name="file-form"/>
    <domain>self.fileTypeSelect = 1</domain>
    <context name="_fileTypeSelect" expr="eval: 1"/>
  </action-view>

  <menuitem title="Pricing" name="contracts-conf-pricing" parent="contracts-root-conf-all"
    order="600" action="contracts.conf.pricing"
    if="__config__.app.getApp('base')?.enablePricingScale"/>

  <action-view name="contracts.conf.pricing" title="Pricing"
    model="com.axelor.apps.base.db.Pricing">
    <view type="grid" name="pricing-grid"/>
    <view type="form" name="contract-line-pricing-form"/>
    <domain>self.concernedModel.name = 'InvoiceLine'</domain>
  </action-view>

  <menuitem name="contracts-conf-customer-partner-price-list"
    parent="contracts-root-conf-all" title="Customer price lists"
    action="contracts.conf.customer.partner.price.list" order="800"/>

  <action-view name="contracts.conf.customer.partner.price.list"
    title="Customer price lists" model="com.axelor.apps.base.db.PartnerPriceList">
    <view type="grid" name="partner-price-list-grid"/>
    <view type="form" name="partner-price-list-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.typeSelect = 3</domain>
    <context name="_typeSelect" expr="eval: 3"/>
  </action-view>

  <menuitem name="contracts-conf-supplier-partner-price-list"
    parent="contracts-root-conf-all" title="Supplier price lists"
    action="contracts.conf.supplier.partner.price.list" order="900"/>

  <action-view name="contracts.conf.supplier.partner.price.list"
    title="Supplier price lists" model="com.axelor.apps.base.db.PartnerPriceList">
    <view type="grid" name="partner-price-list-grid"/>
    <view type="form" name="partner-price-list-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.typeSelect = 4</domain>
    <context name="_typeSelect" expr="eval: 4"/>
  </action-view>

  <menuitem title="Pricing rules" name="contracts-conf-pricing-rule"
    parent="contracts-root-conf-all" order="700" action="contracts.conf.pricing.rule"
    if="__config__.app.getApp('base')?.enablePricingScale"/>

  <action-view name="contracts.conf.pricing.rule" title="Pricing rules"
    model="com.axelor.apps.base.db.PricingRule">
    <view type="grid" name="pricing-rule-grid"/>
    <view type="form" name="pricing-rule-form"/>
    <domain>self.concernedModel.name = 'InvoiceLine'</domain>
  </action-view>

  <menuitem name="admin-root-batch-contract" parent="admin-root-batch"
    title="Contract batches" action="admin.root.batch.contract"
    if="__config__.app.isApp('contract')" order="1200"/>

  <action-view name="admin.root.batch.contract" title="Contract batches"
    model="com.axelor.apps.contract.db.ContractBatch">
    <view type="grid" name="contract-batch-grid"/>
    <view type="form" name="contract-batch-form"/>
    <view-param name="search-filters" value="contract-batch-filters"/>
  </action-view>

</object-views>
