<div class="row studio-container">
    <div view-components></div>
    <div class="studio-panel row">
		<div class="col-md-4">
			<div class="panel panel-default fixed-panel">
		        <div class="panel-heading">
		            <span class="nav-title">Fields</span>
		        </div>
		       	<div fb-builder="fieldForm" class="pre-scrollable"></div>
		   	</div>
		</div>
		<div class="col-md-5">
	    	<div class="panel panel-default">
		        <div class="panel-heading">
		            <span class="nav-title">Form View</span>
		        </div>
	        	<div fb-builder="viewForm"></div>
	    	</div>
		</div>
		<div class="col-md-3" />
	</div>
</div>

