<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">
	
	<grid name="app-grid" title="Apps" model="com.axelor.apps.base.db.App" canDelete="false" canNew="false">
		<field name="name" />
		<field name="active" />
		<field name="demoDataLoaded" />
	</grid>
	
	<form name="app-form" title="App" model="com.axelor.apps.base.db.App" canDelete="false" canNew="false" width="large">
		<panel>
			<field name="image" widget="Image" colSpan="2"/>
			<panel colSpan="6">
				<field name="name" readonly="true" colSpan="12" />
				<field name="languageSelect" />
				<field name="demoDataLoaded" readonly="true" if="com.axelor.app.AppSettings.get().get('application.mode') != 'prod'"/>
			</panel>
			<field name="description" colSpan="12" readonly="true"/>
			<field name="initDataLoaded" hidden="true" />
			<field name="code" hidden="true" />
			<field name="active" hidden="true" />
		</panel>
		<panel itemSpan="12" sidebar="true">
				<button name="install" title="Install"  onClick="action-app-alert-install,save,action-app-method-install-app"  showIf="!active" />
				<button name="uninstall" title="Uninstall" onClick="action-app-alert-un-install,action-app-method-uninstall-app" showIf="active" />
				<button name="configure" title="Configure" showIf="active" onClick="com.axelor.apps.base.web.AppController:configure" />
				<button name="importDataDemo" if="com.axelor.app.AppSettings.get().get('application.mode') != 'prod'" showIf="active &amp;&amp; !demoDataLoaded" onClick="action-app-alert-demo-import,save,action-method-app-import-data-demo" title="Import demo data" />
		</panel>
		<panel-related field="dependsOnSet" readonly="true" canSelect="false" canView="false" >
			<field name="name" />
			<field name="active"/>
		</panel-related>
	</form> 
	
	<form model="com.axelor.apps.base.db.App" title="Bulk install" name="bulk-install-app-form">
		<panel>
			<button name="selectAll" title="Select all" colSpan="4" onClick="action-app-bulk-install-select-all,action-app-bulk-install-apps-set-change"/>
			<field type="many-to-many" name="appsSet" target="com.axelor.apps.base.db.App" colSpan="12" title="Apps" canNew="false" domain="self.active = false or self.demoDataLoaded = false" height="200" onChange="action-app-bulk-install-apps-set-change"/>			
			<field name="languageSelect" type="string" selection="select.language" title="Language" colSpan="4"/>
			<field type="boolean" name="importDemoData" title="Import demo data ?" colSpan="3"/>
			<button name="install" title="Install" colSpan="4" onClick="action-app-method-bulk-install" hidden="true"/>
		</panel>
	</form>
	
	<cards name="app-cards" model="com.axelor.apps.base.db.App" title="Apps" css="rect-image" orderBy="sequence" width="25%:200" > 
		<toolbar>
			<button name="bulkInstall" title="Bulk install" onClick="action-app-open-bulk-install-selector"/>
			<button name="refreshApp" title="Refresh Apps" onClick="action-app-method-refresh-app"/>
		</toolbar>
		<field name="name" />
		<field name="code" x-bind="{{code|unaccent|uppercase}}" />
		<field name="image" />
		<field name="description"/>
		<field name="active"/>
		<field name="sequence"/>
		<template><![CDATA[
			<div>
			  <div class="span4 card-image">
			    <img ng-src="{{$image('image', 'content')}}" />
			  </div>
			  <div class="span8">
				 <strong x-translate>{{$fmt('name')}}</strong>
			  </div>
			  <div class="span12">
				<a class="btn btn-small btn-info pull-right" href="" ng-show="!active" ui-action-click="action-app-alert-install,action-app-method-install-app" x-translate>Install</a>
				<a class="btn btn-small btn-success pull-right" href="" ng-show="active" ui-action-click="com.axelor.apps.base.web.AppController:configure" x-translate>Configure</a>
				<a class="btn btn-small btn-danger pull-right" href="" ng-show="active" ui-action-click="action-app-alert-un-install,action-app-method-uninstall-app" x-translate>Uninstall</a>
			  </div>
			</div>
		]]>
		</template>
	</cards>
	
	<action-record name="action-app-bulk-install-select-all" model="com.axelor.apps.base.db.App">
	 	<field name="appsSet" expr="eval:(__repo__(App).all().filter('self.active = false or self.demoDataLoaded = false').fetch()).toSet()"/>
	</action-record>
	
	<action-method name="action-method-app-import-data-demo">
		<call class="com.axelor.apps.base.web.AppController" method="importDataDemo"/>
	</action-method>
	
	 <action-method name="action-app-method-install-app">
	    <call class="com.axelor.apps.base.web.AppController" method="installApp"  />
	 </action-method>
	 
	 <action-method name="action-app-method-uninstall-app">
	    <call class="com.axelor.apps.base.web.AppController" method="uninstallApp" />
	 </action-method>
	 
	 <action-method name="action-app-method-bulk-install" >
	 	<call class="com.axelor.apps.base.web.AppController" method="bulkInstall" />
	 </action-method>
	 
	 <action-method name="action-app-method-refresh-app">
		<call class="com.axelor.apps.base.web.AppController" method="refreshApp"/>
	 </action-method>

	 <action-view name="action-app-open-bulk-install-selector" title="Bulk install" model="com.axelor.apps.base.db.App">
	 	<view type="form" name="bulk-install-app-form"/>
	 	<view-param name="show-toolbar" value="false"/>
		<view-param name="popup" value="true" />  
		<view-param name="popup-save" value="false" />
		<view-param name="show-confirm" value="false" />
		<view-param name="height" value="400" />
	 </action-view>
	 
	 <action-attrs name="action-app-on-load-attrs">
	 	<attribute name="hidden" for="configure" expr="eval:!__self__.active"/>
	 	<attribute name="hidden" for="demoDataLoaded" expr="eval:!__self__.active"/>
	 	<attribute name="hidden" for="importDataDemo" expr="eval:!__self__.active || demoDataLoaded"/>
	 </action-attrs>
	 
	 <action-attrs name="action-app-bulk-install-apps-set-change">
	 	<attribute name="hidden" for="install" expr="eval:appsSet == null || appsSet.empty"/>
	 </action-attrs>
	 
	 <action-validate name="action-app-alert-install">
	 	<alert message="Are you sure wants to install '${name}'?"/>
	 </action-validate>
	 
	 <action-validate name="action-app-alert-un-install">
	 	<alert message="Are you sure wants to uninstall '${name}'?"/>
	 </action-validate>
	 
	 <action-validate name="action-app-alert-demo-import">
	 	<alert message="Are you sure wants to import demo data for '${name}'?"/>
	 </action-validate>
       
</object-views>
