<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

  <menuitem name="menu-auth-permission-assistant" parent="menu-auth" title="Permission Assistant"
    action="action-auth-permission-assistant"/>

  <action-view name="action-auth-permission-assistant" title="Permission Assistant"
    model="com.axelor.auth.db.PermissionAssistant">
    <view type="grid" name="permission-assistant-grid" />
    <view type="form" name="permission-assistant-form" />
  </action-view>
  
  <menuitem name="menu-meta-group-menu-assistant" parent="menu-auth" title="Group Menu Assistant"
    action="action-group-menu-assistant" />

  <action-view name="action-group-menu-assistant" title="Group Menu Assistant"
    model="com.axelor.meta.db.MetaGroupMenuAssistant">
    <view type="grid" name="meta-group-menu-assistant-grid" />
    <view type="form" name="meta-group-menu-assistant-form" />
  </action-view>
  
  <menuitem name="menu-meta-permission" parent="menu-auth" title="Meta Permissions"
    action="action-meta-permission" />

  <action-view name="action-meta-permission" title="Meta Permissions"
    model="com.axelor.meta.db.MetaPermission">
    <view type="grid" name="meta-permission-grid" />
    <view type="form" name="meta-permission-form" />
  </action-view>
  
  <menuitem name="admin-root" title="Application Config" order="-60"
		icon="fa-gear" icon-background="#31b4a9"/>
		
  <menuitem name="admin-root-app-management" parent="admin-root" order="5"
	title="Apps management" action="admin.root.app.management" />
	
  <action-view name="admin.root.app.management" title="Apps management"
	model="com.axelor.apps.base.db.App" >
	<view type="cards" name="app-cards"/>
	<view type="grid" name="app-grid"/>
	<view type="form" name="app-form"/>
  </action-view>
  
  <menuitem name="admin-root-maintenance" parent="admin-root" if="__config__.app.isApp('base')"
		title="Technical maintenance" order="45" />
  
  <menuitem name="admin-root-object-data-config" parent="admin-root-maintenance"
   title="Object data config"  action="admin.root.object.data.config" order="10"/>
  
  <action-view name="admin.root.object.data.config" title="Object data config"
  	model="com.axelor.apps.base.db.ObjectDataConfig" >
	<view type="grid" name="object-data-config-grid"/>
	<view type="form" name="object-data-config-form"/>
  </action-view>
  
   <menuitem name="admin-root-data-backup" parent="admin-root-maintenance" title="Backup" order="11"/>
  
  <menuitem name="admin-root-data-create-backup" parent="admin-root-data-backup"
   title="Create Backup"  action="admin.root.data.create.backup"/>
  
  <action-view name="admin.root.data.create.backup" title="Create Backup"
  	model="com.axelor.apps.base.db.DataBackup" >
	<view type="grid" name="data-create-backup-grid"/>
	<view type="form" name="data-create-backup-form"/>
	<domain>self.backupDate != null</domain>
  </action-view>
  
  <menuitem name="admin-root-data-restore-backup" parent="admin-root-data-backup"
   title="Restore Backup"  action="admin.root.data.restore.backup"/>
  
  <action-view name="admin.root.data.restore.backup" title="Restore Backup"
  	model="com.axelor.apps.base.db.DataBackup" >
	<view type="grid" name="data-restore-backup-grid"/>
	<view type="form" name="data-restore-backup-form"/>
	<domain>self.restoreDate != null</domain>
  </action-view>
  
</object-views>
