.container {
  padding: 0.4rem 0.5rem;
}
.container span {
  font-size: 0.9rem;
  color: var(--palettes-neutral-600);
}
.workHourWrapper {
  font-size: 1rem;
  font-weight: 600;
  color: var(--palettes-neutral-800);
  word-spacing: 5px;
}
