<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

	<menuitem name="menu-project-root" order="-103" title="Project" icon="fa-tasks"  if="__config__.app.isApp('project')"
	     icon-background="#3f6bb9"/> 	
	    
	<menuitem name="project-all" parent="menu-project-root"
    	title="Projects"
    	action="project.all"/>

	<action-view name="project.all" title="Projects" model="com.axelor.apps.project.db.Project">
    	<view type="grid" name="project-grid"/>
	    <view type="form" name="project-form"/>
	    <view type="calendar" name="project-calendar"/>
	    <view type="gantt" name="project-gantt"/>
	</action-view>
	
	<!--  Team Apps -->
	<menuitem name="project-folder" parent="menu-project-root" title="Project Folder" action="project.folder"/>
	<action-view name="project.folder" title="Project Folder" model="com.axelor.apps.project.db.ProjectFolder">
		<view type="grid" name="project-folder-grid"/>
		<view type="form" name="project-folder-form"/>
	</action-view>
	
	<menuitem name="project-tasks" parent="menu-project-root" title="Tasks" action="all.tasks"/>
	<action-view name="all.tasks" title="Project Tasks" model="com.axelor.team.db.TeamTask">
		<view type="grid" name="tasks-grid"/>
		<view type="form" name="tasks-form"/>
	</action-view>
	
	<menuitem name="project-configurations" parent="menu-project-root" title="Configurations"/>
	
	<menuitem name="project-category" parent="project-configurations" title="Categories" action="project-category"/>
	<action-view name="project-category" title="Categories" model="com.axelor.apps.project.db.ProjectCategory">
		<view type="grid" name="category-grid"/>
		<view type="form" name="category-form"/>
	</action-view>
	
	
	
	
	<menuitem name="project-gantt" parent="menu-project-root"
    	title="Project gantt"
    	action="project.gantt"/>
    	
   	<action-view name="project.gantt" title="Project gantt" model="com.axelor.apps.project.db.Project">
   		<view type="gantt" name="project-gantt"/>
   		<view type="form" name="task-form"/>
	</action-view>
	
	<!--  
		<menuitem name="task-all" parent="menu-project-root"
	    	title="Tasks"
	    	action="task.all"/>
	
		<action-view name="task.all" title="Tasks" model="com.axelor.apps.project.db.Project">
	    	<view type="kanban" name="task-kanban"/>
	    	<view type="grid" name="task-grid"/>
		    <view type="form" name="task-form"/>
		    <domain>self.typeSelect = 'task'</domain>
		</action-view>
	-->
	
	<menuitem name="my-planning" parent="menu-project-root"
    	title="My Planning"
    	action="my.planning"/>

	<action-method name="my.planning">
		<call class="com.axelor.apps.project.web.ProjectPlanningController" method="myPlanning"/>
	</action-method>
	
	<menuitem name="my-team-planning" parent="menu-project-root"
    	title="My Team Planning"
    	action="my.team.planning"/>

	<action-method name="my.team.planning">
		<call class="com.axelor.apps.project.web.ProjectPlanningController" method="myTeamPlanning"/>
	</action-method>

</object-views>
