.footerContainer {
  height: 60px;
  width: 100%;
  border-top: 1px solid var(--palettes-neutral-50);
  box-shadow: var(--pr-t-elevation-shadow-raised);
  background-color: var(--palettes-neutral-0);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: start;
  padding: 10px 0;
}

.openSummary {
  height: 300px;
}

.openSummaryBtn {
  all: unset;
  transition: all 0.3s ease-in-out;
  display: "inline-block";
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0.4rem;
}
.openSummaryBtn:hover {
  background-color: var(--palettes-neutral-50);
}

/* RESPONSIVE DESIGN */

@media (max-width: 768px) {
  .footerContainer {
    height: 0px !important;
    display: none !important;
  }
}
