<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.0.xsd">

	<menuitem name="invoicing-project-all" parent="menu-project-root"
    	title="Invoicing Projects"
    	action="invoicing.project.all" />

	<action-view name="invoicing.project.all" title="Invoicing Projects" model="com.axelor.apps.businessproject.db.InvoicingProject">
    	<view type="grid" name="invoicing-project-grid"/>
	    <view type="form" name="invoicing-project-form"/>
	</action-view>

</object-views>
