<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem name="business-project-root" title="Job costing" order="-1300"
    icon="fa-list-alt" icon-background="#525252" if="__config__.app.isApp('business-project')"/>

  <menuitem name="business-project-folder" parent="business-project-root"
    title="Project Folder" action="business.project.folder" order="100"/>

  <action-view name="business.project.folder" title="Project Folder"
    model="com.axelor.apps.businessproject.db.ProjectFolder">
    <view type="grid" name="project-folder-grid"/>
    <view type="form" name="project-folder-form"/>
  </action-view>

  <menuitem name="business-project-all" parent="business-project-root" order="200"
    title="Business projects" action="business.project.all"/>

  <action-view name="business.project.all" title="Business projects"
    model="com.axelor.apps.project.db.Project">
    <view type="grid" name="business-project-grid"/>
    <view type="form" name="project-form"/>
    <view type="calendar" name="project-calendar"/>
    <view-param name="search-filters" value="project-filters"/>
    <domain>self.isBusinessProject = true</domain>
    <context name="_fromBusinessProject" expr="eval:true"/>
  </action-view>

  <menuitem name="business-project-root-invoicing-project" order="-1200"
    title="Invoicing project" action="business.project.root.invoicing.project" icon="fa-tasks"
    icon-background="#525252" if="__config__.app.isApp('business-project')"/>

  <action-view name="business.project.root.invoicing.project" title="Invoicing project"
    model="com.axelor.apps.businessproject.db.InvoicingProject">
    <view type="grid" name="invoicing-project-grid"/>
    <view type="form" name="invoicing-project-form"/>
    <view-param name="search-filters" value="invoicing-project-filters"/>
  </action-view>

  <!-- ADMINISTRATION -->

  <menuitem name="admin-root-batch-business-project" parent="admin-root-batch"
    if="__config__.app.isApp('business-project')" if-module="axelor-business-project"
    title="Business project batches" action="admin.root.batch.business.project" order="1300"/>

  <action-view name="admin.root.batch.business.project" title="Business project batches"
    model="com.axelor.apps.businessproject.db.BusinessProjectBatch">
    <view type="grid" name="business-project-batch-grid"/>
    <view type="form" name="business-project-batch-form"/>
    <view-param name="search-filters" value="business-project-batch-filters"/>
  </action-view>

  <menuitem name="menu-jobcosting-help" title="Help" parent="business-project-root" order="1500"
            icon="fa-question-circle" />

</object-views>
