<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_7.4.xsd">

  <menuitem name="menu-business-project-root" parent="menu-project-root" order="50"
    title="Business projects" icon="fa-tasks" icon-background="#3f6bb9"
    if="__config__.app.isApp('business-project')"/>

  <menuitem name="business-project-all" parent="menu-business-project-root" order="200"
    title="Business projects" action="business.project.all"
    if="__config__.app.isApp('business-project')"/>

  <action-view name="business.project.all" title="Business projects"
    model="com.axelor.apps.project.db.Project">
    <view type="grid" name="business-project-grid"/>
    <view type="form" name="business-project-form"/>
    <view type="calendar" name="project-calendar"/>
    <view-param name="search-filters" value="project-filters"/>
    <domain>self.isBusinessProject = true</domain>
    <context name="_fromBusinessProject" expr="eval:true"/>
  </action-view>

  <menuitem name="business-project-task-all" parent="menu-business-project-root"
    order="300" title="Business project tasks" action="business.project.task.all"/>

  <action-view name="business.project.task.all" title="Tasks"
    model="com.axelor.apps.project.db.ProjectTask">
    <view type="kanban" name="project-task-kanban"/>
    <view type="grid" name="business-project-task-grid"/>
    <view type="form" name="business-project-task-form"/>
    <view-param name="search-filters" value="project-filters"/>
    <domain>self.typeSelect = :_typeSelect AND self.project.isBusinessProject = true</domain>
    <context name="_typeSelect" expr="eval: __repo__(ProjectTask).TYPE_TASK"/>
  </action-view>

  <menuitem name="business-project-folder" parent="project-configurations"
    title="Project Folders" action="business.project.folder" order="1200"
    if="__config__.app.isApp('business-project')"/>

  <action-view name="business.project.folder" title="Project Folders"
    model="com.axelor.apps.businessproject.db.ProjectFolder">
    <view type="grid" name="project-folder-grid"/>
    <view type="form" name="project-folder-form"/>
  </action-view>

  <menuitem name="business-project-root-invoicing-project" order="400"
    parent="menu-business-project-root" title="Invoicing project"
    action="business.project.root.invoicing.project" if="__config__.app.isApp('business-project')"/>

  <action-view name="business.project.root.invoicing.project" title="Invoicing project"
    model="com.axelor.apps.businessproject.db.InvoicingProject">
    <view type="grid" name="invoicing-project-grid"/>
    <view type="form" name="invoicing-project-form"/>
    <view-param name="search-filters" value="invoicing-project-filters"/>
  </action-view>

  <!-- ADMINISTRATION -->

  <menuitem name="admin-root-batch-business-project" parent="admin-root-batch"
    if="__config__.app.isApp('business-project')" if-module="axelor-business-project"
    title="Business project batches" action="admin.root.batch.business.project" order="1300"/>

  <action-view name="admin.root.batch.business.project" title="Business project batches"
    model="com.axelor.apps.businessproject.db.BusinessProjectBatch">
    <view type="grid" name="business-project-batch-grid"/>
    <view type="form" name="business-project-batch-form"/>
    <view-param name="search-filters" value="business-project-batch-filters"/>
  </action-view>

  <!-- My project menu -->

  <action-method name="project.mine" id="businessproject.project.mine"
    if-module="axelor-business-project">
    <call class="com.axelor.apps.businessproject.web.ProjectMenuController" method="myProjects"/>
  </action-method>

  <menuitem name="business-project-mine" parent="menu-my-project-root" order="200"
    title="Business projects" action="business.project.mine"
    if="__config__.app.isApp('business-project')"/>

  <action-method name="business.project.mine">
    <call class="com.axelor.apps.businessproject.web.ProjectMenuController"
      method="myBusinessProjects"/>
  </action-method>

  <menuitem name="business-project-my-invoicing-project" order="900"
    parent="menu-my-project-root" title="Invoicing project"
    action="business.project.invoicing.project.mine" if="__config__.app.isApp('business-project')"/>

  <action-method name="business.project.invoicing.project.mine">
    <call class="com.axelor.apps.businessproject.web.ProjectMenuController"
      method="myInvoicingProjects"/>
  </action-method>

  <!-- HOLDBACK -->
  <menuitem name="business-project-project-hold-back" parent="project-configurations"
    if="__config__.app.isApp('business-project')" if-module="axelor-business-project"
    title="HoldBacks" action="business.project.root.project.hold.back.all" order="1400"/>

  <action-view name="business.project.root.project.hold.back.all" title="HoldBacks"
    model="com.axelor.apps.businessproject.db.ProjectHoldBack">
    <view type="grid" name="project-hold-back-grid"/>
    <view type="form" name="project-hold-back-form"/>
  </action-view>

</object-views>
