<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem name="crm-root" title="CRM" order="-2100" if="__config__.app.isApp('crm')"
    icon="fa-user" icon-background="#2fa042"/>

  <menuitem name="crm-root-lead" parent="crm-root" title="Leads" action="crm.root.lead"
    order="100"/>

  <action-view name="crm.root.lead" title="Leads" model="com.axelor.apps.crm.db.Lead">
    <view type="grid" name="lead-grid"/>
    <view type="form" name="lead-form"/>
    <view-param name="search-filters" value="lead-filters"/>
    <domain>self.leadStatus.isOpen = true</domain>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="todayDate" expr="eval:__config__.date"/>
    <context name="_internalUserId" expr="eval:__user__.id"/>
  </action-view>

  <menuitem name="crm-root-prospects" parent="crm-root" title="Prospects"
    action="crm.root.prospects" order="200"/>

  <action-view name="crm.root.prospects" title="Prospects"
    model="com.axelor.apps.base.db.Partner">
    <view type="cards" name="partner-cards"/>
    <view type="grid" name="partner-prospect-grid"/>
    <view type="form" name="partner-customer-form"/>
    <view-param name="limit" value="39"/>
    <view-param name="search-filters" value="partner-filters"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.isContact = false AND self.isProspect = true</domain>
    <context name="_isProspect" expr="true"/>
    <context name="_domain" expr="self.isContact = false AND self.isProspect = true"/>
    <context name="json-enhance" expr="eval:true"/>
  </action-view>


  <menuitem name="crm-root-customers" parent="crm-root" title="Customers"
    action="crm.root.customers" order="300"/>

  <action-view name="crm.root.customers" title="Customers"
    model="com.axelor.apps.base.db.Partner">
    <view type="cards" name="partner-cards"/>
    <view type="grid" name="partner-customer-grid"/>
    <view type="form" name="partner-customer-form"/>
    <view-param name="limit" value="39"/>
    <view-param name="search-filters" value="partner-filters"/>
    <domain>self.isContact = false AND self.isCustomer = true</domain>
    <context name="_isCustomer" expr="true"/>
    <context name="_domain" expr="self.isContact = false AND self.isCustomer = true"/>
    <context name="json-enhance" expr="eval:true"/>
  </action-view>

  <menuitem name="crm-root-contacts" parent="crm-root" title="Contacts"
    action="crm.root.contacts" order="400"/>

  <action-view name="crm.root.contacts" title="Contacts"
    model="com.axelor.apps.base.db.Partner">
    <view type="cards" name="partner-contact-cards"/>
    <view type="grid" name="partner-contact-grid"/>
    <view type="form" name="partner-contact-form"/>
    <view-param name="limit" value="39"/>
    <view-param name="search-filters" value="partner-filters"/>
    <domain>self.isContact = true AND (self.mainPartner.isCustomer = true OR
      self.mainPartner.isProspect = true)</domain>
    <context name="_domain"
      expr="self.isContact = true AND (self.mainPartner.isCustomer = true OR self.mainPartner.isProspect = true)"/>
  </action-view>

  <menuitem name="crm-root-catalog" parent="crm-root" title="Catalogs"
    action="crm.root.catalogs" order="500" if="__config__.app.getApp('crm')?.getIsManageCatalogs()"/>

  <action-view name="crm.root.catalogs" title="Catalogs"
    model="com.axelor.apps.crm.db.Catalog">
    <view type="cards" name="catalog-cards"/>
    <view type="grid" name="catalog-grid"/>
    <view type="form" name="catalog-form"/>
  </action-view>

  <menuitem name="crm-root-event" parent="crm-root" title="Events" action="crm.root.event"
    order="600"/>

  <action-view name="crm.root.event" title="Events" model="com.axelor.apps.crm.db.Event">
    <view type="grid" name="event-grid"/>
    <view type="form" name="event-form"/>
    <view type="calendar" name="event-calendar-color-by-calendar"/>
    <view-param name="search-filters" value="event-filters"/>
    <context name="_currentDate" expr="eval:  __config__.date"/>
    <context name="_internalUserId" expr="eval: __user__.id"/>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="_todayDateTime" expr="eval:__config__.app.getTodayDateTime()"/>
    <context name="_newDate" expr="eval: __datetime__.plusDays(5)"/>
  </action-view>


  <menuitem name="crm-root-opportunity" parent="crm-root" title="Opportunities"
    action="crm.root.opportunity" order="700"/>

  <action-view name="crm.root.opportunity" title="Opportunities"
    model="com.axelor.apps.crm.db.Opportunity" home="true">
    <view type="kanban" name="opportunity-kanban"/>
    <view type="grid" name="opportunity-grid"/>
    <view type="form" name="opportunity-form"/>
    <view-param name="search-filters" value="opportunity-filters"/>
    <context name="_internalUserId" expr="eval:__user__.id"/>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="todayDate" expr="eval:__config__.date"/>
  </action-view>

  <menuitem title="Leads historical" name="crm-root-leadHistorical" parent="crm-root"
    action="crm.root.leadHistorical" order="900"/>
  <action-view name="crm.root.leadHistorical" title="Leads historical"
    model="com.axelor.apps.crm.db.Lead">
    <view type="grid" name="lead-historical-grid"/>
    <view type="form" name="lead-form"/>
    <view-param name="search-filters" value="lead-filters"/>
    <domain>self.leadStatus.id = :_convertedLeadStatusId OR self.leadStatus.id = :_lostLeadStatusId</domain>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="todayDate"
      expr="eval:__config__.app.getTodayDate(__user__.activeCompany)"/>
    <context name="_internalUserId" expr="eval:__user__.id"/>
    <context name="_convertedLeadStatusId"
      expr="eval: __config__.app.getApp('crm')?.getConvertedLeadStatus()?.id"/>
    <context name="_lostLeadStatusId"
      expr="eval: __config__.app.getApp('crm')?.getLostLeadStatus()?.id"/>
  </action-view>

  <menuitem name="crm-root-meeting-my-calendar" parent="menu-calendar"
    title="My CRM events" action="crm.root.meeting.my.calendar" order="200"/>

  <action-method name="crm.root.meeting.my.calendar">
    <call class="com.axelor.apps.crm.web.CalendarController" method="showMyEvents"/>
  </action-method>

  <menuitem name="crm-root-report" parent="crm-root" title="Reportings" order="1100"
    icon="fa-bar-chart"/>

  <menuitem name="crm-conf" parent="crm-root" title="Configuration" order="1200"
    icon="fa-cog"/>

  <menuitem name="crm-conf-lead-source" parent="crm-conf" title="Leads Source"
    action="crm.conf.lead.source" order="100"/>

  <action-view name="crm.conf.lead.source" title="Leads Source"
    model="com.axelor.apps.base.db.Source">
    <view type="grid" name="source-grid"/>
    <view type="form" name="source-form"/>
  </action-view>

  <menuitem name="crm-conf-category" parent="crm-conf" title="Event Categories"
    action="crm.conf.event.category" order="200"/>

  <action-view name="crm.conf.event.category" title="Event Categories"
    model="com.axelor.apps.crm.db.EventCategory">
    <view type="grid" name="event-category-conf-grid"/>
    <view type="form" name="event-category-form"/>
  </action-view>

  <menuitem name="crm-conf-lost-reason" parent="crm-conf" title="Lost reasons"
    action="crm.conf.lost.reason" order="300"/>

  <action-view name="crm.conf.lost.reason" title="Lost reasons"
    model="com.axelor.apps.crm.db.LostReason">
    <view type="grid" name="lost-reason-grid"/>
    <view type="form" name="lost-reason-form"/>
  </action-view>

  <menuitem name="crm-conf-contact-function" parent="crm-conf" title="Contact function"
    action="crm.conf.contact.function" order="400"/>

  <action-view name="crm.conf.contact.function" title="Contact function"
    model="com.axelor.apps.base.db.Function">
    <view type="grid" name="function-grid"/>
    <view type="form" name="function-form"/>
  </action-view>

  <menuitem name="crm-conf-catalog-type" parent="crm-conf" title="Catalogs type"
    action="crm.conf.catalog.type" if="__config__.app.getApp('crm')?.getIsManageCatalogs()"
    order="500"/>

  <action-view name="crm.conf.catalog.type" title="Catalogs type"
    model="com.axelor.apps.crm.db.CatalogType">
    <view type="grid" name="catalog-type-grid"/>
    <view type="form" name="catalog-type-form"/>
  </action-view>

  <menuitem name="crm-conf-industry-sector" parent="crm-conf" title="Industry"
    action="crm.conf.industry.sector" order="600"/>

  <action-view name="crm.conf.industry.sector" title="Industry"
    model="com.axelor.apps.base.db.IndustrySector">
    <view type="grid" name="industry-sector-grid"/>
    <view type="form" name="industry-sector-form"/>
  </action-view>

  <menuitem name="crm-conf-opportunity-status" parent="crm-conf" title="Opportunity status"
    action="crm.conf.opportunity.status" order="1100"/>

  <action-view name="crm.conf.opportunity.status" title="Opportunity status"
    model="com.axelor.apps.crm.db.OpportunityStatus">
    <view type="grid" name="opportunity-status-grid"/>
    <view type="form" name="opportunity-status-form"/>
  </action-view>

  <menuitem name="admin-root-batch-crm" parent="admin-root-batch" title="CRM batches"
    action="admin.root.batch.crm" if="__config__.app.isApp('crm')" order="800"/>

  <action-view name="admin.root.batch.crm" title="CRM batches"
    model="com.axelor.apps.crm.db.CrmBatch">
    <view type="grid" name="crm-batch-grid"/>
    <view type="form" name="crm-batch-form"/>
    <view-param name="search-filters" value="crm-batch-filters"/>
  </action-view>

  <!-- Top Menu for Activity and Create Entry for opportunity.... -->

  <menuitem name="top-menu-crm" title="CRM" order="1" top="true" left="false"
    if="__config__.app.isApp('crm')"/>

  <menuitem name="top-menu-crm-meetings" parent="top-menu-crm" title="Meetings"
    action="top.menu.crm.meetings" top="true"/>

  <action-view name="top.menu.crm.meetings" title="Meetings"
    model="com.axelor.apps.crm.db.Event">
    <view type="grid" name="event-grid"/>
    <view type="form" name="event-form"/>
    <view type="calendar" name="event-calendar-color-by-calendar"/>
    <view-param name="search-filters" value="event-filters"/>
    <domain>self.typeSelect = 2</domain>
    <context name="_internalUserId" expr="eval: __user__.id"/>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="_todayDateTime" expr="eval:__config__.app.getTodayDateTime()"/>
    <context name="_newDate" expr="eval: __datetime__.plusDays(5)"/>
  </action-view>

  <menuitem name="top-menu-crm-calls" parent="top-menu-crm" title="Calls"
    action="top.menu.crm.calls" top="true"/>

  <action-view name="top.menu.crm.calls" title="Calls"
    model="com.axelor.apps.crm.db.Event">
    <view type="grid" name="event-grid"/>
    <view type="form" name="event-form"/>
    <view type="calendar" name="event-calendar-color-by-calendar"/>
    <view-param name="search-filters" value="event-filters"/>
    <domain>self.typeSelect = 1 OR self.typeSelect = 6</domain>
    <context name="_internalUserId" expr="eval: __user__.id"/>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="_todayDateTime" expr="eval:__config__.app.getTodayDateTime()"/>
    <context name="_newDate" expr="eval: __datetime__.plusDays(5)"/>
  </action-view>

  <menuitem name="top-menu-crm-tasks" parent="top-menu-crm" title="Tasks"
    action="top.menu.crm.tasks" top="true"/>

  <action-view name="top.menu.crm.tasks" title="Tasks"
    model="com.axelor.apps.crm.db.Event">
    <view type="grid" name="event-grid"/>
    <view type="form" name="event-form"/>
    <view type="calendar" name="event-calendar-color-by-calendar"/>
    <view-param name="search-filters" value="event-filters"/>
    <domain>self.typeSelect = 3</domain>
    <context name="_internalUserId" expr="eval: __user__.id"/>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="_todayDateTime" expr="eval:__config__.app.getTodayDateTime()"/>
    <context name="_newDate" expr="eval: __datetime__.plusDays(5)"/>
  </action-view>

  <menuitem name="top-menu-crm-lead" parent="top-menu-crm" title="Leads"
    action="top.menu.crm.lead" top="true"/>

  <action-view name="top.menu.crm.lead" title="Leads"
    model="com.axelor.apps.crm.db.Lead">
    <view type="grid" name="lead-grid"/>
    <view type="form" name="lead-form"/>
    <view-param name="search-filters" value="lead-filters"/>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="todayDate" expr="eval:__config__.date"/>
    <context name="_internalUserId" expr="eval:__user__.id"/>
  </action-view>

  <menuitem name="top-menu-crm-opportunity" parent="top-menu-crm" title="Opportunities"
    action="top.menu.crm.opportunity" top="true"/>

  <action-view name="top.menu.crm.opportunity" title="Opportunities"
    model="com.axelor.apps.crm.db.Opportunity">
    <view type="kanban" name="opportunity-kanban"/>
    <view type="grid" name="opportunity-grid"/>
    <view type="form" name="opportunity-form"/>
    <view-param name="search-filters" value="opportunity-filters"/>
    <context name="_internalUserId" expr="eval:__user__.id"/>
    <context name="_myActiveTeam"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
    <context name="todayDate" expr="eval:__config__.date"/>
  </action-view>

  <!-- CRM Dashboard Entry for CRM.... -->


  <menuitem name="menu-event-dashboard" parent="crm-root-report" title="Event" order="400"/>

  <menuitem name="menu-event-dashboard-one" parent="menu-event-dashboard"
    title="Event monitoring" action="crm.event.dashboard.one.view" order="100"/>

  <action-view name="crm.event.dashboard.one.view" title="Event monitoring">
    <view type="dashboard" name="crm.event.dashboard.one"/>
  </action-view>

  <menuitem name="menu-event-dashboard-manager" parent="menu-event-dashboard"
    title="Manager" action="crm.event.dashboard.manager.view" order="200"/>

  <action-view name="crm.event.dashboard.manager.view" title="Event monitoring">
    <view type="dashboard" name="crm.event.manager"/>
  </action-view>

  <menuitem name="menu-event-dashboard-salesman" parent="menu-event-dashboard"
    title="Salesman" action="crm.event.dashboard.salesman.view" order="300"/>

  <action-view name="crm.event.dashboard.salesman.view" title="Event monitoring">
    <view type="dashboard" name="crm.event.salesman"/>
  </action-view>

  <menuitem name="menu-lead-dashboard" parent="crm-root-report" title="Lead" order="300"/>

  <menuitem name="menu-lead-dashboard-one" parent="menu-lead-dashboard"
    title="Leads monitoring" action="crm.lead.dashboard.one.view" order="100"/>

  <action-view name="crm.lead.dashboard.one.view" title="Leads monitoring">
    <view type="dashboard" name="crm.lead.dashboard.one"/>
  </action-view>

  <menuitem name="menu-lead-dashboard-manager" parent="menu-lead-dashboard" title="Manager"
    action="crm.lead.dashboard.manager.view" order="200"/>

  <action-view name="crm.lead.dashboard.manager.view" title="Leads monitoring">
    <view type="dashboard" name="crm.lead.manager"/>
  </action-view>

  <menuitem name="menu-lead-dashboard-salesman" parent="menu-lead-dashboard"
    title="Salesman" action="crm.lead.dashboard.salesman.view" order="300"/>

  <action-view name="crm.lead.dashboard.salesman.view" title="Leads monitoring">
    <view type="dashboard" name="crm.lead.salesman"/>
  </action-view>

  <menuitem name="menu-opportunities-dashboard" parent="crm-root-report"
    title="Opportunities" order="200"/>

  <menuitem name="menu-opportunities-dashboard-1" parent="menu-opportunities-dashboard"
    title="Tb Opportunities 1" action="crm.opportunities.dashboard.1.view" order="100"/>

  <menuitem name="menu-opportunities-dashboard-manager"
    parent="menu-opportunities-dashboard" title="Manager" action="crm.opportunities.manager.view"
    order="200"/>

  <action-view name="crm.opportunities.manager.view" title="Opportunities monitoring">
    <view type="dashboard" name="crm.opportunities.manager"/>
  </action-view>

  <menuitem name="menu-opportunities-dashboard-salesman"
    parent="menu-opportunities-dashboard" title="Salesman" action="crm.opportunities.salesman.view"
    order="300"/>

  <action-view name="crm.opportunities.salesman.view" title="Opportunities monitoring">
    <view type="dashboard" name="crm.opportunities.salesman"/>
  </action-view>

  <action-view name="crm.opportunities.dashboard.1.view" title="Tb Opportunities 1">
    <view type="dashboard" name="crm.opportunities.dashboard.1"/>
  </action-view>

  <menuitem name="menu-opportunities-dashboard-2" parent="menu-opportunities-dashboard"
    title="Tb Opportunities 2" action="crm.opportunities.dashboard.2.view" order="400"/>

  <action-view name="crm.opportunities.dashboard.2.view" title="Tb Opportunities 2">
    <view type="dashboard" name="crm.opportunities.dashboard.2"/>
  </action-view>

  <menuitem name="menu-calls-dashboard" parent="crm-root-report" title="Calls" order="100"/>

  <menuitem name="menu-calls-dashboard-1" parent="menu-calls-dashboard"
    title="Calls monitoring" action="crm.calls.dashboard.view" order="100"/>

  <action-view name="crm.calls.dashboard.view" title="Calls monitoring">
    <view type="dashboard" name="crm.calls.dashboard"/>
  </action-view>

  <menuitem title="Roles" name="crm-conf-partner-roles" parent="crm-conf"
    action="crm.conf.partner.roles" order="700"/>

  <action-view name="crm.conf.partner.roles" title="Roles"
    model="com.axelor.apps.base.db.PartnerRole">
    <view type="grid" name="partner-role-grid"/>
    <view type="form" name="partner-role-form"/>
  </action-view>

  <menuitem title="Department" name="crm-conf-department" parent="crm-conf"
    action="crm.conf.department" order="800"/>
  <action-view name="crm.conf.department" title="Department"
    model="com.axelor.apps.base.db.CompanyDepartment">
    <view type="grid" name="company-department-grid"/>
    <view type="form" name="company-department-form"/>
  </action-view>

  <menuitem title="Type" name="crm-conf-type" parent="crm-conf" action="crm.conf.type"
    order="900"/>
  <action-view name="crm.conf.type" title="Type"
    model="com.axelor.apps.base.db.PartnerCategory">
    <view type="grid" name="partner-category-grid"/>
    <view type="form" name="partner-category-form"/>
  </action-view>

  <menuitem title="Lead status" name="crm-conf-lead-status" parent="crm-conf"
    action="crm.conf.lead.status" order="1000"/>
  <action-view name="crm.conf.lead.status" title="Lead status"
    model="com.axelor.apps.crm.db.LeadStatus">
    <view type="grid" name="lead-status-grid"/>
    <view type="form" name="lead-status-form"/>
  </action-view>

  <menuitem title="Sales pipeline follow-up" name="crm-root-crm-reporting"
    parent="crm-root" action="crm.root.crm.reporting" order="1000"/>
  <action-view name="crm.root.crm.reporting" title="Sales pipeline follow-up"
    model="com.axelor.apps.crm.db.CrmReporting">
    <view type="grid" name="crm-reporting-grid"/>
    <view type="form" name="crm-reporting-form"/>
    <view-param name="forceTitle" value="true"/>
    <view-param name="reload-dotted" value="true"/>
  </action-view>

  <menuitem title="Agencies" name="admin-root-user-agency" parent="admin-root-user"
    action="admin.root.user.agency" order="400"
    if="__config__.app.isApp('crm') &amp;&amp; __config__.app.getApp('crm')?.getAgenciesManagement()"/>
  <action-view name="admin.root.user.agency" title="Agencies"
    model="com.axelor.apps.crm.db.Agency">
    <view type="grid" name="agency-grid"/>
    <view type="form" name="agency-form"/>
  </action-view>

</object-views>
