<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.0.xsd">

	<menuitem name="crm-root" title="CRM" order="-108"
		icon="fa-user" groups="admins,ERP,CRM" icon-background="#2fa042"/>

	<menuitem name="crm-root-create" parent="crm-root"
		title="Create"/>
		
	<menuitem name="crm-root-create-task" parent="crm-root-create"
		title="Task" action="crm.root.create.task" />

	<action-view name="crm.root.create.task" title="Task"
		model="com.axelor.apps.crm.db.Event" >
		<view type="form" name="crm-task-form"/>
		<view type="grid" name="crm-task-grid"/>
		<context name="_typeSelect" expr="3"/>
		<context name="_internalUserId" expr="eval: __user__.id"/>
	</action-view>
	
	<menuitem name="crm-root-create-meeting" parent="crm-root-create"
		title="Meeting" action="crm.root.create.meeting" />

	<action-view name="crm.root.create.meeting" title="Meeting"
		model="com.axelor.apps.crm.db.Event" >
		<view type="form" name="meeting-form"/>
		<view type="grid" name="meeting-grid"/>
		<context name="_typeSelect" expr="2"/>
		<context name="_internalUserId" expr="eval: __user__.id"/>
	</action-view>
	
	<menuitem name="crm-root-create-call" parent="crm-root-create"
		title="Call" action="crm.root.create.call" />

	<action-view name="crm.root.create.call" title="Call"
		model="com.axelor.apps.crm.db.Event" >
		<view type="form" name="call-form"/>
		<view type="grid" name="call-grid"/>
		<context name="_typeSelect" expr="1"/>
		<context name="_internalUserId" expr="eval: __user__.id"/>
	</action-view>
	
	<menuitem name="crm-root-create-ticket" parent="crm-root-create"
		title="Ticket" action="crm.root.create.ticket" />

	<action-view name="crm.root.create.ticket" title="Ticket"
		model="com.axelor.apps.crm.db.Event" >
		<view type="form" name="ticket-form"/>
		<view type="grid" name="ticket-grid"/>
		<context name="_typeSelect" expr="5"/>
		<context name="_prioritySelect" expr="2"/>
		<context name="_internalUserId" expr="eval: __user__.id"/>
	</action-view>
	
	<menuitem name="crm-root-task" parent="crm-root"
		title="Tasks" action="crm.root.task" />

	<action-view name="crm.root.task" title="Tasks"
		model="com.axelor.apps.crm.db.Event" >
		<view type="grid" name="crm-task-grid"/>
		<view type="form" name="crm-task-form"/>
		<view-param name="search-filters" value="tasks-filters"/>
		<domain>self.typeSelect = 3</domain>
		<context name="_typeSelect" expr="3"/>
		<context name="_internalUserId" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
		<context name="_todayDateTime" expr="eval:__config__.generalService.getTodayDateTime()"/>
		<context name="_newDate" expr="eval: __datetime__.plusDays(5)"/>
	</action-view>
	
	<menuitem name="crm-root-meeting" parent="crm-root"
		title="Meetings" action="crm.root.meeting" />

	<action-view name="crm.root.meeting" title="Meetings"
		model="com.axelor.apps.crm.db.Event" >
		<view type="grid" name="meeting-grid"/>
		<view type="form" name="meeting-form"/>
		<view type="calendar" name="meeting-calendar"/>
		<view-param name="search-filters" value="meeting-filters"/>
		<domain>self.typeSelect = 2</domain>
		<context name="_typeSelect" expr="2"/>
		<context name="_internalUserId" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
		<context name="_newDate" expr="eval: __datetime__.plusDays(5)"/>
	</action-view>
	
	<menuitem name="crm-root-call" parent="crm-root"
		title="Calls" action="crm.root.call" />

	<action-view name="crm.root.call" title="Calls"
		model="com.axelor.apps.crm.db.Event" >
		<view type="grid" name="call-grid"/>
		<view type="form" name="call-form"/>
		<view-param name="search-filters" value="call-filters"/>
		<domain>self.typeSelect = 1</domain>
		<context name="_typeSelect" expr="1"/>
		<context name="_internalUserId" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
		<context name="_todayDateTime" expr="eval:__config__.generalService.getTodayDateTime()"/>
	</action-view>
	
	<menuitem name="crm-root-ticket" parent="crm-root"
		title="Tickets" action="crm.root.ticket" />

	<action-view name="crm.root.ticket" title="Tickets"
		model="com.axelor.apps.crm.db.Event" >
		<view type="grid" name="ticket-grid"/>
		<view type="form" name="ticket-form"/>
		<view-param name="search-filters" value="ticket-filters"/>
		<domain>self.typeSelect = 5</domain>
		<context name="_typeSelect" expr="5"/>
		<context name="_prioritySelect" expr="2"/>
		<context name="_internalUserId" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
	</action-view>
	
	<menuitem name="crm-root-lead" parent="crm-root"
		title="Leads" action="crm.root.lead" />

	<action-view name="crm.root.lead" title="Leads"
		model="com.axelor.apps.crm.db.Lead" >
		<view type="grid" name="lead-grid"/>
		<view type="form" name="lead-form"/>
		<view-param name="search-filters" value="lead-filters"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
		<context name="todayDate" expr="eval:__config__.generalService.getTodayDate()" />
		<context name="_internalUserId" expr="eval:__user__.id"/>
	</action-view>
	
	<menuitem name="crm-root-opportunity" parent="crm-root"
		title="Opportunities" action="crm.root.opportunity" />

	<action-view name="crm.root.opportunity" title="Opportunities"
		model="com.axelor.apps.crm.db.Opportunity" >
		<view type="kanban" name="opportunity-kanban"/>
		<view type="grid" name="opportunity-grid"/>
		<view type="form" name="opportunity-form"/>
		<view-param name="search-filters" value="opportunity-filters"/>
		<context name="_internalUserId" expr="eval:__user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeam()"/>
		<context name="todayDate" expr="eval:__config__.generalService.getTodayDate()" />
	</action-view>
	
		
	<menuitem name="crm-root-meeting-my-calendar" parent="crm-root"
		title="My Calendar" action="crm.root.meeting.my.calendar" />
	
	
	<action-method name="crm.root.meeting.my.calendar">
		<call class="com.axelor.apps.crm.web.CalendarController" method="showMyEvents"/>
	</action-method>
	
	<menuitem name="crm-root-meeting-team-calendar" parent="crm-root"
		title="Team Calendar" action="crm.root.meeting.team.calendar"/>
		
	<action-method name="crm.root.meeting.team.calendar">
		<call class="com.axelor.apps.crm.web.CalendarController" method="showTeamEvents"/>
	</action-method>
	
	<menuitem name="crm-root-meeting-sharedm-calendar" parent="crm-root"
		title="Shared Calendar" action="crm.root.meeting.shared.calendar"/>
		
	<action-method name="crm.root.meeting.shared.calendar">
		<call class="com.axelor.apps.crm.web.CalendarController" method="showSharedEvents"/>
	</action-method>
	
<!-- 	<action-view title="My Meetings Calendar"  model="com.axelor.apps.crm.db.Event" name="crm.root.meeting.my.calendar"> -->
<!-- 	    <view type="calendar" name="event-calendar"/> -->
<!-- 	    <view type="form" name="event-form"/> -->
<!-- 	    <domain>self.user = :__user__ OR self.id IN :_currentAttendee</domain> -->
	
<!-- 	    <context name="_currentPartner" expr="eval: __user__.partner"/> -->
<!-- 	    <context name="_currentAttendee" expr="eval:com.axelor.apps.crm.db.EventAttendee.all().filter('self.contactPartner.id = ?1',com.axelor.apps.base.db.UserInfo.all().filter('self.internalUser.id = ?1',__user__.id).fetchOne().partner.id).fetch()"/> -->
<!-- 	    <context name="_typeSelect" expr="2"/> -->
<!-- 	</action-view> -->
	
	<!--  
	<menuitem name="crm-root-meeting-team-calendar" parent="crm-root"
		title="Shared calendar" action="crm.root.meeting.team.calendar" />

	<action-view name="crm.root.meeting.team.calendar" title="Shared calendar"
		model="com.axelor.apps.crm.db.Event" >
		<view type="calendar" name="event-calendar"/>
		<view type="grid" name="event-grid"/>
		<view type="form" name="event-form"/>
		<context name="_typeSelect" expr="2"/>
	</action-view>
	-->
	
	<menuitem name="crm-root-report" parent="crm-root" title="Reportings"/>
				
	<menuitem name="crm-conf" parent="crm-root" title="Configuration"/>
	
	<menuitem name="crm-conf-lead-source" parent="crm-conf"
		title="Leads Source" action="crm.conf.lead.source" />
		
	<action-view name="crm.conf.lead.source" title="Leads Source"
		model="com.axelor.apps.base.db.Source" >
		<view type="grid" name="source-grid"/>
		<view type="form" name="source-form"/>
	</action-view>

	<menuitem name="crm-conf-meeting-type" parent="crm-conf"
		title="Meeting Types" action="crm.conf.meeting.type" />

	<action-view name="crm.conf.meeting.type" title="Meeting Types"
		model="com.axelor.apps.crm.db.MeetingType" >
		<view type="grid" name="meeting-type-grid"/>
		<view type="form" name="meeting-type-form"/>
	</action-view>
	
	<menuitem name="crm-conf-participant" parent="crm-conf"
		title="Meeting Participants" action="crm.conf.participant" />

	<action-view name="crm.conf.participant" title="Meeting Participants"
		model="com.axelor.apps.crm.db.Participant" >
		<view type="grid" name="participant-grid"/>
		<view type="form" name="participant-form"/>
	</action-view>
	
	<menuitem name="crm-conf-category" parent="crm-conf"
		title="Event Categories" action="crm.conf.event.category" />

	<action-view name="crm.conf.event.category" title="Event Categories"
		model="com.axelor.apps.crm.db.EventCategory" >
		<view type="grid" name="event-category-conf-grid"/>
		<view type="form" name="event-category-form"/>
	</action-view>
	
	<menuitem name="crm-conf-calendar" parent="crm-conf"
		title="Calendars" action="crm.conf.calendar" />

	<action-view name="crm.conf.calendar" title="Calendars"
		model="com.axelor.apps.crm.db.Calendar" >
		<view type="grid" name="crm-calendar-grid"/>
		<view type="form" name="crm-calendar-form"/>
	</action-view>
	
	<menuitem name="crm-conf-calendar-configuration" parent="crm-conf"
		title="Calendar Configurations" action="crm.conf.calendar.configuration" />

	<action-view name="crm.conf.calendar.configuration" title="Calendar Configurations"
		model="com.axelor.apps.crm.db.CalendarConfiguration" >
		<view type="grid" name="calendar-configuration-grid"/>
		<view type="form" name="calendar-configuration-form"/>
	</action-view>
	
	<menuitem name="crm-conf-target-configuration" parent="crm-conf"
		title="Targets configurations" action="crm.conf.target.configuration" />

	<action-view name="crm.conf.target.configuration" title="Targets Configurations"
		model="com.axelor.apps.crm.db.TargetConfiguration" >
		<view type="grid" name="target-configuration-grid"/>
		<view type="form" name="target-configuration-form"/>
	</action-view>
	
	<menuitem name="crm-conf-target" parent="crm-conf"
		title="Targets" action="crm.conf.target" />

	<action-view name="crm.conf.target" title="Target"
		model="com.axelor.apps.crm.db.Target" >
		<view type="grid" name="target-grid"/>
		<view type="form" name="target-form"/>
	</action-view>
	
	<menuitem name="admin-root-conf-crm-config" parent="admin-root-conf"
		title="CRM configurations" action="admin.root.conf.crm.config" />
		
	<action-view name="admin.root.conf.crm.config" title="CRM configurations"
		model="com.axelor.apps.crm.db.CrmConfig" >
		<view type="grid" name="crm-config-grid" />
		<view type="form" name="crm-config-form"/>
	</action-view>
	
	
	<menuitem name="admin-root-batch-crm" parent="admin-root-batch"
		title="CRM batches" action="admin.root.batch.crm" />

	<action-view name="admin.root.batch.crm" title="CRM batches"
		model="com.axelor.apps.crm.db.CrmBatch" >
		<view type="grid" name="crm-batch-grid"/>
		<view type="form" name="crm-batch-form"/>
	</action-view>


<!-- <action-view title="Calendrier"  model="com.axelor.apps.crm.db.Event" name="crm.root.event.calendar.1">  -->
<!-- <view type="calendar" name="event-calendar"/> -->
<!-- <view type="grid" name="event-grid"/> -->
<!-- <view type="form" name="event-form"/> -->
<!-- <domain>self.calendar in :_calendarSet</domain> -->
<!-- <context name="_typeSelect" expr="2"/> -->
<!-- <context name="_calendarSet" expr="eval: com.axelor.apps.crm.db.CalendarConfiguration.find(1).calendarSet"/> -->
<!-- </action-view> -->
	
	<!-- Top Menu for Activity and Create Entry for opportunity.... -->
	
	<menuitem name="top-menu-crm-activities" order="-180" title="Activity" groups="admins,ERP,CRM" top="true" left="false"/> 	

	<menuitem name="top-menu-activity-my-calendar" order="-90"  parent="top-menu-crm-activities" title="My Calendar" action="crm.root.meeting.my.calendar" top="true" />
	
	<menuitem name="top-menu-activity-team-calendar" order="-80"  parent="top-menu-crm-activities" 	title="My Team Calendar" top="true" action="crm.root.meeting.team.calendar" />
	
	<menuitem name="top-menu-activity-create-task" order="-70"  parent="top-menu-crm-activities" 	title="Create Task" top="true" action="crm.root.create.task" />
	
	<menuitem name="top-menu-activity-view-tasks" order="-60" title="View Tasks" action="crm.root.task" parent="top-menu-crm-activities" top="true"/>
	
	<menuitem name="top-menu-activity-create-call" order="-50"  parent="top-menu-crm-activities" top="true"	title="Create Call" action="crm.root.create.call" />
	
	<menuitem name="top-menu-activity-view-calls" order="-40" title="View Calls" action="crm.root.call" parent="top-menu-crm-activities" top="true"/>
	
	<menuitem name="top-menu-activity-create-meeting" order="-30"  parent="top-menu-crm-activities" top="true" title="Create Meeting" action="crm.root.create.meeting" />
	
	<menuitem name="top-menu-activity-view-meetings" order="-20" title="View Meetings" top="true" action="crm.root.meeting" parent="top-menu-crm-activities"/>	
	
	<menuitem name="top-menu-create-opportunity" order="-80" parent="top-menu-utility" top="true" title="Create Opportunity" action="top.new.opportunity.view"  />

	<action-view name="top.new.opportunity.view" title="Create Opportunity" model="com.axelor.apps.crm.db.Opportunity" >
		<view type="form" name="opportunity-form"/>
		<view type="grid" name="opportunity-grid"/>
		<context name="_internalUserId" expr="eval:__user__.id"/>
	</action-view>
	
	<menuitem name="top-menu-create-lead" order="-70" parent="top-menu-utility"	top="true" title="Create Lead" action="top.new.lead.view"  />
		
	<action-view name="top.new.lead.view" title="Create Lead"  model="com.axelor.apps.crm.db.Lead" >
		<view type="form" name="lead-form" />
		<view type="grid" name="lead-grid" />
		<context name="todayDate" expr="eval:__config__.generalService.getTodayDate()" />
		<context name="_internalUserId" expr="eval:__user__.id"/>
	</action-view>
	
	<menuitem name="top-prospection" title="Prospection" groups="admins,ERP" top="true" left="false" order="-170"/>
	<menuitem name="top-prospection-create-lead" order="-100" parent="top-prospection" top="true"	title="Create Lead" action="top.new.lead.view"  />
	<menuitem name="top-prospection-leads" title="View Leads" order="-90" action="top.propsection.leads" parent="top-prospection" groups="admins,ERP,CRM" top="true" left="false"/> 	
	<action-view name="top.propsection.leads" title="Leads" model="com.axelor.apps.crm.db.Lead" >
		<view type="grid" name="lead-grid" />
		<view type="form" name="lead-form" />
		<context name="todayDate" expr="eval:__config__.generalService.getTodayDate()" />
		<context name="_internalUserId" expr="eval:__user__.id"/>
	</action-view>
	<menuitem name="top-prospection-create-opportunity" order="-80" parent="top-prospection" top="true" title="Create Opportunity"  action="top.new.opportunity.view"  />
	<menuitem name="top-prospection-opportunity" order="-70" title="View Opportunities" action="top.prospection.opportunity" parent="top-prospection"  groups="admins,ERP,CRM" top="true" left="false"/> 	
	<action-view name="top.prospection.opportunity" title="Opportunities" model="com.axelor.apps.crm.db.Opportunity" >
		<view type="grid" name="opportunity-grid" />
		<view type="form" name="opportunity-form" />
		<context name="todayDate" expr="eval:__config__.generalService.getTodayDate()" />
		<context name="_internalUserId" expr="eval:__user__.id"/>
	</action-view>
	
	
	  
	<!-- CRM Dashboard Entry for CRM.... -->

	
 	<menuitem name="menu-event-dashboard" parent="crm-root-report" title="Event" order="-5"/> 
		
 	<menuitem name="menu-event-dashboard-one" parent="menu-event-dashboard" title="Event Db"  action="crm.event.dashboard.one.view" /> 

 	<action-view name="crm.event.dashboard.one.view" title="Event Dashboard 1" > 
 		<view type="dashboard" name="crm.event.dashboard.one" />
	</action-view>
	 
	<menuitem name="menu-lead-dashboard" parent="crm-root-report" title="Lead" order="-10"/>
	
	<menuitem name="menu-lead-dashboard-one" parent="menu-lead-dashboard" title="Lead Db"  action="crm.lead.dashboard.one.view" />

	<action-view name="crm.lead.dashboard.one.view" title="Lead Db 1" >
		<view type="dashboard" name="crm.lead.dashboard.one" />
	</action-view>
	
	<menuitem name="menu-target-dashboard" parent="crm-root-report"	title="Target" />
		
	<menuitem name="menu-target-user-dashboard" parent="menu-target-dashboard"
		title="Target User Db"  action="crm.target.user.dashboard.view"/>	
	
	<action-view name="crm.target.user.dashboard.view" title="Target user Dashboard">
		<view type="dashboard" name="crm.target.user.dashboard" />
		<context name="date" expr="eval: __date__"/>
		<context name="user" expr="eval:__user__"/>
	</action-view>
	
	<menuitem name="menu-target-team-dashboard" parent="menu-target-dashboard"
		title="Target Team Db"  action="crm.target.team.dashboard.view"/>	

	<action-view name="crm.target.team.dashboard.view" title="Target team Dashboard">
		<view type="dashboard" name="crm.target.team.dashboard" />
		<context name="team" expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeamId()"/>
		<context name="date" expr="eval:__config__.generalService.getTodayDate()"/>
	</action-view>
	
	
	<menuitem name="menu-opportunities-dashboard" parent="crm-root-report"
		title="Opportunities" order="-20" />	
	
	<menuitem name="menu-opportunities-dashboard-1" parent="menu-opportunities-dashboard"
		title="Opportunities Db 1"  action="crm.opportunities.dashboard.1.view"/>	

	<action-view name="crm.opportunities.dashboard.1.view" title="Opportunities Db 1">
		<view type="dashboard" name="crm.opportunities.dashboard.1" />
	</action-view>
	
	<menuitem name="menu-opportunities-dashboard-2" parent="menu-opportunities-dashboard"
		title="Opportunities Db 2"  action="crm.opportunities.dashboard.2.view"/>	

	<action-view name="crm.opportunities.dashboard.2.view" title="Opportunities Db 2">
		<view type="dashboard" name="crm.opportunities.dashboard.2" />
	</action-view>
	
	<menuitem name="menu-opportunities-dashboard-3" parent="menu-opportunities-dashboard"
		title="Opportunities Db 3"  action="crm.opportunities.dashboard.3.view"/>	

	<action-view name="crm.opportunities.dashboard.3.view" title="Opportunities Db 3">
		<view type="dashboard" name="crm.opportunities.dashboard.3" />
	</action-view>
		
	<menuitem name="menu-calls-dashboard" parent="crm-root-report"
		title="Calls" order="-50" />	
		
	<menuitem name="menu-calls-dashboard-1" parent="menu-calls-dashboard"
		title="Calls Db"  action="crm.calls.dashboard.view"/>	
	
	<action-view name="crm.calls.dashboard.view" title="Calls Db">
		<view type="dashboard" name="crm.calls.dashboard" />
	</action-view>	
	
	<menuitem name="menu-tickets-dashboard" parent="crm-root-report"
		title="Tickets" order="-60"   />
		
	<menuitem name="menu-tickets-dashboard-1" parent="menu-tickets-dashboard"
		title="Tickets Db 1"  action="crm.tickets.dashboard.1.view"/>	

	<action-view name="crm.tickets.dashboard.1.view" title="Tickets Db 1">
		<view type="dashboard" name="crm.tickets.dashboard.1" />
	</action-view>
	
	<menuitem name="menu-tickets-dashboard-2" parent="menu-tickets-dashboard"
		title="Tickets Db 2"  action="crm.tickets.dashboard.2.view"/>	

	<action-view name="crm.tickets.dashboard.2.view" title="Tickets Db 2">
		<view type="dashboard" name="crm.tickets.dashboard.2" />
	</action-view>
	
	
</object-views>
