<?xml version="1.0" encoding="utf-8"?>
<%		
	query = com.axelor.inject.Beans.get('com.axelor.studio.db.repo.ActionBuilderRepository' as Class).all()
		
	if(__ids__ != null) {
		query = query.filter('self.appBuilder.id in ?1)',__ids__)
	}
		
	actionBuilders = ""
	query.fetch().each({
		action ->	
				lines = com.axelor.studio.service.ExportService.exportActionBuilderLines(action.lines, 4)
				
				viewParams = com.axelor.studio.service.ExportService.exportActionBuilderLines(action.viewParams, 4)
				
				views = ""
				action.actionBuilderViews.each{
					view->views += """\n\t\t\t\t<view>
					\n\t\t\t\t\t<viewType>${view.viewType}</viewType>
					\n\t\t\t\t\t<viewName>${view.viewName}</viewName>
					\n\t\t\t\t\t<sequence>${view.sequence}</sequence>
					\n\t\t\t\t</view>"""
				}
				emailTemplate = ""
				if(action.emailTemplate != null){
				
				templateContextList = ""
				action.emailTemplate?.templateContextList.each{
					templateContextLine -> templateContextList += """\n\t\t\t\t\t<templateContextLine>
					\n\t\t\t\t\t\t<name>${templateContextLine.name}</name>
					\n\t\t\t\t\t\t<value>${templateContextLine.value}</value>
					\n\t\t\t\t\t</templateContextLine>"""

				}
				
				birtTemplates = ""
				action.emailTemplate?.birtTemplateSet.each{
					birtTemplate -> birtTemplates += """\n\t\t\t\t\t<birtTemplate>${birtTemplate.name}</birtTemplate>"""
				}

				emailTemplate =  """\n\t\t\t\t<name>${action.emailTemplate?.name}</name>
					\n\t\t\t\t<mediaTypeSelect>${action.emailTemplate?.mediaTypeSelect}</mediaTypeSelect>
					\n\t\t\t\t<language>${action.emailTemplate?.language?.code}</language>
					\n\t\t\t\t<metaModel>${action.emailTemplate?.metaModel?.name}</metaModel>
					\n\t\t\t\t<replyToRecipients>${action.emailTemplate?.replyToRecipients}</replyToRecipients>
					\n\t\t\t\t<toRecipients>${action.emailTemplate?.toRecipients}</toRecipients>
					\n\t\t\t\t<ccRecipients>${action.emailTemplate?.ccRecipients}</ccRecipients>
					\n\t\t\t\t<bccRecipients>${action.emailTemplate?.bccRecipients}</bccRecipients>
					\n\t\t\t\t<subject>${action.emailTemplate?.subject}</subject>
					\n\t\t\t\t<content>${action.emailTemplate?.content}</content>
					\n\t\t\t\t<templateContextList>$templateContextList
					\n\t\t\t\t</templateContextList>
					\n\t\t\t\t<target>${action.emailTemplate?.target}</target>
					\n\t\t\t\t<isDefault>${action.emailTemplate?.isDefault}</isDefault>
					\n\t\t\t\t<isSystem>${action.emailTemplate?.isSystem}</isSystem>
					\n\t\t\t\t<isJson>${action.emailTemplate?.isJson}</isJson>
					\n\t\t\t\t<metaJsonModel>${action.emailTemplate?.metaJsonModel?.name}</metaJsonModel>
					\n\t\t\t\t<birtTemplateSet>$birtTemplates
					\n\t\t\t\t</birtTemplateSet>"""
				}
				actionBuilders += """\n\t\t<action-builder>
				\n\t\t\t<name>${action.name}</name>
				\n\t\t\t<xmlId>${action.xmlId}</xmlId>
				\n\t\t\t<typeSelect>${action.typeSelect}</typeSelect>
				\n\t\t\t<model>${action.model}</model>
				\n\t\t\t<targetModel>${action.targetModel}</targetModel>
				\n\t\t\t<lines>$lines
				\n\t\t\t</lines>
				\n\t\t\t<title>${action.title}</title>
				\n\t\t\t<emailTemplate>$emailTemplate
				\n\t\t\t</emailTemplate>
				\n\t\t\t<transactional>${action.transactional}</transactional>
				\n\t\t\t<scriptType>${action.scriptType}</scriptType>
				\n\t\t\t<scriptText>${action.scriptText}</scriptText>
				\n\t\t\t<actionBuilderViews>$views
				\n\t\t\t</actionBuilderViews>
				\n\t\t\t<isJson>${action.isJson}</isJson>
				\n\t\t\t<domainCondition>${action.domainCondition}</domainCondition>
				\n\t\t\t<viewParams>$viewParams
				\n\t\t\t</viewParams>
				\n\t\t\t<menuAction>${action.menuAction}</menuAction>
				\n\t\t\t<appBuilder>${action.appBuilder?.code}</appBuilder>
				\n\t\t</action-builder>""" 
				
	})
	
	if (!actionBuilders.isEmpty()) {
		actionBuilders = """<action-builders>\n""" +  actionBuilders + """\n</action-builders>"""
	}
	
	out << """$actionBuilders"""
%>