<?xml version="1.0" encoding="utf-8"?>
<%	
	query = com.axelor.inject.Beans.get('com.axelor.studio.db.repo.WsAuthenticatorRepository' as Class).all()

	if(__ids__ != null) {
		query = query.filter('self.appBuilder.id in ?1',__ids__)
	} 
	
	wsAuthenticators = ""
	query.fetch().each({
		wsAuthenticator -> 
				wsAuthenticators += """\n\t\t<ws-authenticator>
				\n\t\t\t<name>${wsAuthenticator.name}</name>
				\n\t\t\t<Authenticated>${wsAuthenticator.isAuthenticated}</Authenticated>
				\n\t\t\t<authWsRequest>${wsAuthenticator.authWsRequest?.name}</authWsRequest>
				\n\t\t\t<authTypeSelect>${wsAuthenticator.authTypeSelect}</authTypeSelect>
				\n\t\t\t<tokenWsRequest>${wsAuthenticator.tokenWsRequest?.name}</tokenWsRequest>
				\n\t\t\t<refreshTokenWsRequest>${wsAuthenticator.refreshTokenWsRequest?.name}</refreshTokenWsRequest>
				\n\t\t\t<authResponse>${wsAuthenticator.authResponse}</authResponse>
				\n\t\t\t<tokenResponse>${wsAuthenticator.tokenResponse}</tokenResponse>
				\n\t\t\t<refreshTokenResponse>${wsAuthenticator.refreshTokenResponse}</refreshTokenResponse>
				\n\t\t\t<appBuilder>${wsAuthenticator.appBuilder?.code}</appBuilder>
				\n\t\t</ws-authenticator>"""
	})
	
	if (!wsAuthenticators.isEmpty()) {
		wsAuthenticators = """<ws-authenticators>\n""" +  wsAuthenticators + """\n</ws-authenticators>"""
	}
	
	out << """$wsAuthenticators"""
%>