<?xml version="1.0" encoding="utf-8"?>
<%	
	query = com.axelor.inject.Beans.get('com.axelor.studio.db.repo.WsConnectorRepository' as Class).all()

	if(__ids__ != null) {
		query = query.filter('self.appBuilder.id in ?1',__ids__)
	} 
	
	wsConnectors = ""
	query.fetch().each({
		wsConnector -> 
				wsConnectors += """\n\t\t<ws-connector>
				\n\t\t\t<name>${wsConnector.name}</name>
				\n\t\t\t<defaultWsAuthenticator>${wsConnector.defaultWsAuthenticator?.name}</defaultWsAuthenticator>
				\n\t\t\t<baseUrl>${wsConnector.baseUrl}</baseUrl>
				\n\t\t\t<appBuilder>${wsConnector.appBuilder?.code}</appBuilder>
				\n\t\t</ws-connector>"""
	})
	
	if (!wsConnectors.isEmpty()) {
		wsConnectors = """<ws-connectors>\n""" +  wsConnectors + """\n</ws-connectors>"""
	}
	
	out << """$wsConnectors"""
%>