<?xml version="1.0" encoding="utf-8"?>
<%	
	query = com.axelor.inject.Beans.get('com.axelor.studio.db.repo.WsRequestRepository' as Class).all()

	if(__ids__ != null) {
		query = query.filter('self.appBuilder.id in ?1',__ids__)
	} 
	
	wsRequests = ""
	query.fetch().each({
		request -> 
		
				headers = com.axelor.studio.service.ExportService.exportWsKeyValueLines(request.headerWsKeyValueList, 4, 'header')
				
				payloads = com.axelor.studio.service.ExportService.exportWsKeyValueLines(request.payLoadWsKeyValueList, 4, 'payload')
				
				wsRequests += """\n\t\t<ws-request>
				\n\t\t\t<name>${request.name}</name>
				\n\t\t\t<wsUrl>${request.wsUrl}</wsUrl>
				\n\t\t\t<requestTypeSelect>${request.requestTypeSelect}</requestTypeSelect>
				\n\t\t\t<payLoadTypeSelect>${request.payLoadTypeSelect}</payLoadTypeSelect>
				\n\t\t\t<callIf>${request.callIf}</callIf>
				\n\t\t\t<repeatIf>${request.repeatIf}</repeatIf>
				\n\t\t\t<headers>$headers
				\n\t\t\t</headers>
				\n\t\t\t<payloads>$payloads
				\n\t\t\t</payloads>
				\n\t\t\t<wsConnector>${request.wsConnector?.name}</wsConnector>
				\n\t\t\t<appBuilder>${request.appBuilder?.code}</appBuilder>
				\n\t\t</ws-request>"""
	})
	
	if (!wsRequests.isEmpty()) {
		wsRequests = """<ws-requests>\n""" +  wsRequests + """\n</ws-requests>"""
	}
	
	out << """$wsRequests"""
%>