<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_7.4.xsd">

  <menuitem title="Budget management" name="budget-root-budget-management"
    icon="pie-chart-fill" order="-850" if="__config__.app.isApp('budget')" icon-background="#5a5a7c"/>

  <menuitem title="Budgets" name="budget-root-budget-management-budgets"
    parent="budget-root-budget-management" order="10"/>

  <!-- Budget Level -->

  <menuitem title="Sale budgets" name="budget-root-budget-management-budgets-sale"
    parent="budget-root-budget-management-budgets"
    action="budget.root.budget.management.budgets.sale" order="10"/>

  <action-view name="budget.root.budget.management.budgets.sale" title="Sale budget"
    model="com.axelor.apps.budget.db.GlobalBudget">
    <view type="grid" name="global-budget-grid"/>
    <view type="form" name="global-budget-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain><![CDATA[self.budgetTypeSelect = :_budgetTypeSelect]]></domain>
    <context name="_budgetTypeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.GlobalBudgetRepository.GLOBAL_BUDGET_BUDGET_TYPE_SELECT_SALE"/>
  </action-view>

  <menuitem title="Purchase budgets" name="budget-root-budget-management-budgets-purchase"
    parent="budget-root-budget-management-budgets"
    action="budget.root.budget.management.budgets.purchase" order="20"/>

  <action-view name="budget.root.budget.management.budgets.purchase"
    title="Purchase budget" model="com.axelor.apps.budget.db.GlobalBudget">
    <view type="grid" name="global-budget-grid"/>
    <view type="form" name="global-budget-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain><![CDATA[self.budgetTypeSelect = :_budgetTypeSelect]]></domain>
    <context name="_budgetTypeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.GlobalBudgetRepository.GLOBAL_BUDGET_BUDGET_TYPE_SELECT_PURCHASE"/>
  </action-view>

  <menuitem title="Investment budgets"
    name="budget-root-budget-management-budgets-investment"
    parent="budget-root-budget-management-budgets"
    action="budget.root.budget.management.budgets.investment" order="30"/>

  <action-view name="budget.root.budget.management.budgets.investment"
    title="Investment budget" model="com.axelor.apps.budget.db.GlobalBudget">
    <view type="grid" name="global-budget-grid"/>
    <view type="form" name="global-budget-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain><![CDATA[self.budgetTypeSelect = :_budgetTypeSelect]]></domain>
    <context name="_budgetTypeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.GlobalBudgetRepository.GLOBAL_BUDGET_BUDGET_TYPE_SELECT_INVESTMENT"/>
  </action-view>

  <menuitem title="Purchase and investment budgets"
    name="budget-root-budget-management-budgets-purchase-and-investment"
    parent="budget-root-budget-management-budgets"
    action="budget.root.budget.management.budgets.purchase.and.investment" order="40"/>

  <action-view name="budget.root.budget.management.budgets.purchase.and.investment"
    title="Purchase and investment budget" model="com.axelor.apps.budget.db.GlobalBudget">
    <view type="grid" name="global-budget-grid"/>
    <view type="form" name="global-budget-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain><![CDATA[self.budgetTypeSelect = :_budgetTypeSelect]]></domain>
    <context name="_budgetTypeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.GlobalBudgetRepository.GLOBAL_BUDGET_BUDGET_TYPE_SELECT_PURCHASE_AND_INVESTMENT"/>
  </action-view>

  <!-- Budget Level Templates -->

  <menuitem title="Templates" name="budget-root-budget-management-templates"
    parent="budget-root-budget-management" order="25"/>

  <menuitem title="Budget templates" name="budget-root-budget-management-budget-structure"
    parent="budget-root-budget-management-templates"
    action="budget.root.budget.management.budget.structure" order="31"/>
  <action-view name="budget.root.budget.management.budget.structure"
    title="Budget templates" model="com.axelor.apps.budget.db.BudgetStructure">
    <view type="grid" name="budget-structure-grid"/>
    <view type="form" name="budget-structure-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.isScenario is false</domain>
    <context name="_isScenario" expr="eval: false"/>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_TEMPLATE"/>
  </action-view>

  <menuitem title="Budget Generator" name="budget-root-budget-generator"
    parent="budget-root-budget-management-templates" action="budget.root.budget.generator"
    order="31"/>
  <action-view name="budget.root.budget.generator" title="Budget Generator"
    model="com.axelor.apps.budget.db.BudgetGenerator">
    <view type="grid" name="budget-generator-grid"/>
    <view type="form" name="budget-generator-form"/>

  </action-view>

  <menuitem title="Budget structures"
    name="budget-root-budget-management-budget-structure-scenario"
    parent="budget-root-budget-management-templates"
    action="budget.root.budget.management.budget.structure.scenario" order="31"/>
  <action-view name="budget.root.budget.management.budget.structure.scenario"
    title="Budget structures" model="com.axelor.apps.budget.db.BudgetStructure">
    <view type="grid" name="budget-structure-grid"/>
    <view type="form" name="budget-structure-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.isScenario is true</domain>
    <context name="_isScenario" expr="eval: true"/>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_TEMPLATE"/>
  </action-view>

  <menuitem title="Import budgets and budget templates"
    name="budget-root-budget-management-templates-import" parent="budget-root-budget-management"
    action="budget.root.management.templates.import" order="23"/>
  <action-view name="budget.root.management.templates.import"
    title="Import budgets and budget templates" model="com.axelor.apps.base.db.AdvancedImport">
    <view type="form" name="advanced-import-form"/>
    <view-param name="forceTitle" value="true"/>
    <context name="_showRecord"
      expr="eval: __repo__(AdvancedImport).all().filter('self.importId = ?','101').fetchOne()?.getId()"/>
    <context name="_canNew" expr="eval: false"/>
  </action-view>

  <menuitem title="Budget Scenario Variable"
    name="budget-root-budget-management-budget-scenario-variable"
    parent="budget-root-budget-management-templates"
    action="budget.root.management.budget.scenario.variable" order="23"/>
  <action-view name="budget.root.management.budget.scenario.variable"
    title="Budget Scenario Variable" model="com.axelor.apps.budget.db.BudgetScenarioVariable">
    <view type="grid" name="budget-scenario-variable-grid"/>
    <view type="form" name="budget-scenario-variable-form"/>
  </action-view>

  <menuitem title="Budget Scenario" name="budget-root-budget-management-budget-scenario"
    parent="budget-root-budget-management-templates" action="budget.root.management.budget.scenario"
    order="23"/>
  <action-view name="budget.root.management.budget.scenario"
    title="Budget Scenario Value" model="com.axelor.apps.budget.db.BudgetScenario">
    <view type="grid" name="budget-scenario-grid"/>
    <view type="form" name="budget-scenario-form"/>
  </action-view>

</object-views>
