<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem title="Budget management" name="budget-root-budget-management"
    icon="fa-pie-chart" order="-850" if="__config__.app.isApp('budget')" icon-background="#525252"/>

  <menuitem title="Budgets" name="budget-root-budget-management-budgets"
    parent="budget-root-budget-management" order="10"/>

  <!-- Budget Level -->

  <menuitem title="Sale budgets" name="budget-root-budget-management-budgets-sale"
    parent="budget-root-budget-management-budgets"
    action="budget.root.budget.management.budgets.sale" order="10"/>

  <action-view name="budget.root.budget.management.budgets.sale" title="Sale budget"
    model="com.axelor.apps.budget.db.BudgetLevel">
    <view type="grid" name="budget-level-grid"/>
    <view type="form" name="global-budget-budget-level-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.typeSelect = :_typeSelect AND self.parentBudgetLevel = null AND
      self.budgetTypeSelect = :_budgetTypeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_BUDGET"/>
    <context name="_budgetTypeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_BUDGET_TYPE_SELECT_SALE"/>
    <context name="_isParent" expr="eval: true"/>
  </action-view>

  <menuitem title="Purchase budgets" name="budget-root-budget-management-budgets-purchase"
    parent="budget-root-budget-management-budgets"
    action="budget.root.budget.management.budgets.purchase" order="20"/>

  <action-view name="budget.root.budget.management.budgets.purchase"
    title="Purchase budget" model="com.axelor.apps.budget.db.BudgetLevel">
    <view type="grid" name="budget-level-grid"/>
    <view type="form" name="global-budget-budget-level-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.typeSelect = :_typeSelect AND self.parentBudgetLevel = null AND
      self.budgetTypeSelect = :_budgetTypeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_BUDGET"/>
    <context name="_budgetTypeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_BUDGET_TYPE_SELECT_PURCHASE"/>
    <context name="_isParent" expr="eval: true"/>
  </action-view>

  <menuitem title="Investment budgets"
    name="budget-root-budget-management-budgets-investment"
    parent="budget-root-budget-management-budgets"
    action="budget.root.budget.management.budgets.investment" order="30"/>

  <action-view name="budget.root.budget.management.budgets.investment"
    title="Investment budget" model="com.axelor.apps.budget.db.BudgetLevel">
    <view type="grid" name="budget-level-grid"/>
    <view type="form" name="global-budget-budget-level-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.typeSelect = :_typeSelect AND self.parentBudgetLevel = null AND
      self.budgetTypeSelect = :_budgetTypeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_BUDGET"/>
    <context name="_budgetTypeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_BUDGET_TYPE_SELECT_INVESTMENT"/>
    <context name="_isParent" expr="eval: true"/>
  </action-view>

  <menuitem title="Purchase and investment budgets"
    name="budget-root-budget-management-budgets-purchase-and-investment"
    parent="budget-root-budget-management-budgets"
    action="budget.root.budget.management.budgets.purchase.and.investment" order="40"/>

  <action-view name="budget.root.budget.management.budgets.purchase.and.investment"
    title="Purchase and investment budget" model="com.axelor.apps.budget.db.BudgetLevel">
    <view type="grid" name="budget-level-grid"/>
    <view type="form" name="global-budget-budget-level-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.typeSelect = :_typeSelect AND self.parentBudgetLevel = null AND
      self.budgetTypeSelect = :_budgetTypeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_BUDGET"/>
    <context name="_budgetTypeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_BUDGET_TYPE_SELECT_PURCHASE_AND_INVESTMENT"/>
    <context name="_isParent" expr="eval: true"/>
  </action-view>

  <menuitem title="Detailed view" name="budget-root-budget-management-budget-detailed-view"
    parent="budget-root-budget-management"
    action="budget.root.budget.management.budget.detailed.view" order="20"/>
  <action-view name="budget.root.budget.management.budget.detailed.view"
    title="Detailed view" model="com.axelor.apps.budget.db.Budget">
    <view type="grid" name="budget-detailed-grid"/>
    <view type="form" name="budget-form"/>
    <view-param name="forceTitle" value="true"/>
    <view-param name="limit" value="200"/>
    <domain>self.typeSelect = :_typeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_BUDGET"/>
    <context name="_domain"
      expr="eval: &quot;self.typeSelect = com.axelor.apps.account.db.repo.BudgetRepository.BUDGET_TYPE_SELECT_BUDGET and self.budgetLevel.parentBudgetLevel.parentBudgetLevel.parentBudgetLevel == null&quot;"/>
  </action-view>

  <!-- Budget Level Templates -->

  <menuitem title="Templates" name="budget-root-budget-management-templates"
    parent="budget-root-budget-management" order="25"/>

  <menuitem title="Global budget templates"
    name="budget-root-budget-management-templates-global-budget"
    parent="budget-root-budget-management-templates"
    action="budget.root.budget.management.templates.global.budget" order="30"/>
  <action-view name="budget.root.budget.management.templates.global.budget"
    title="Global budget templates" model="com.axelor.apps.budget.db.BudgetLevel">
    <view type="grid" name="budget-level-template-grid"/>
    <view type="form" name="global-budget-template-budget-level-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.typeSelect = :_typeSelect and self.parentBudgetLevel = null</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_TEMPLATE"/>
    <context name="_isParent" expr="eval: true"/>
  </action-view>

  <menuitem title="Line template" name="budget-root-budget-management-templates-line"
    parent="budget-root-budget-management-templates" action="budget.root.management.templates.line"
    order="33"/>
  <action-view name="budget.root.management.templates.line" title="Line template"
    model="com.axelor.apps.budget.db.Budget">
    <view type="grid" name="budget-grid"/>
    <view type="form" name="budget-form"/>
    <view-param name="forceTitle" value="true"/>
    <domain>self.typeSelect = :_typeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.budget.db.repo.BudgetLevelRepository.BUDGET_LEVEL_TYPE_SELECT_BUDGET"/>
    <context name="_domain"
      expr="eval: &quot;self.typeSelect = com.axelor.apps.account.db.repo.BudgetRepository.BUDGET_TYPE_SELECT_TEMPLATE and self.parentBudgetLevel.parentBudgetLevel != null&quot;"/>
  </action-view>

  <menuitem title="Account model" name="budget-root-budget-management-account-model"
    parent="budget-root-budget-management-templates"
    action="budget.root.budget.management.account.model" order="35"/>
  <action-view name="budget.root.budget.management.account.model" title="Account model"
    model="com.axelor.apps.budget.db.AccountModel">
    <view type="grid" name="account-model-grid"/>
    <view type="form" name="account-model-form"/>
  </action-view>

  <menuitem title="Import budgets and budget templates"
    name="budget-root-budget-management-templates-import" parent="budget-root-budget-management"
    action="budget.root.management.templates.import" order="23"/>
  <action-view name="budget.root.management.templates.import"
    title="Import budgets and budget templates" model="com.axelor.apps.base.db.AdvancedImport">
    <view type="form" name="advanced-import-form"/>
    <view-param name="forceTitle" value="true"/>
    <context name="_showRecord"
      expr="eval: __repo__(AdvancedImport).all().filter('self.importId = ?','101').fetchOne()?.getId()"/>
    <context name="_canNew" expr="eval: false"/>
  </action-view>

</object-views>
