<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem name="assets-management-root" title="Assets management" order="-115"
    if="__config__.app.isApp('intervention')" icon-background="grey" icon="fa-wrench" left="true"/>

  <menuitem name="assets-management-root-equipment-tree" title="Equipments tree"
    parent="assets-management-root" icon-background="grey" icon="fa-sitemap" left="true"
    action="action.equipment.view.equipment.tree" order="1"/>

  <action-view name="action.equipment.view.equipment.tree" title="Equipments tree"
    model="com.axelor.utils.db.Wizard">
    <view type="form" name="equipment-tree-partner-filter-form"/>
    <view-param name="forceEdit" value="true"/>
    <context name="_showSingle" expr="true"/>
  </action-view>

  <menuitem name="assets-management-root-equipment" title="Equipments"
    parent="assets-management-root" icon-background="grey" icon="fa-microchip" left="true"
    action="action.equipment.view.equipment" order="2"/>

  <action-view name="action.equipment.view.equipment" title="Equipments"
    model="com.axelor.apps.intervention.db.Equipment">
    <view type="grid" name="equipment-grid"/>
    <view type="form" name="equipment-form"/>
    <view-param name="search-filters" value="equipment-filters"/>
  </action-view>

  <menuitem name="assets-management-root-equipment-line" title="Equipment lines"
    parent="assets-management-root" icon-background="grey" icon="fa-qrcode" left="true"
    action="action.equipment.view.equipment.line" order="3"/>

  <action-view name="action.equipment.view.equipment.line" title="Equipment lines"
    model="com.axelor.apps.intervention.db.EquipmentLine">
    <view type="grid" name="equipment-line-grid"/>
    <view type="form" name="equipment-line-form"/>
    <view-param name="search-filters" value="equipment-line-filters"/>
  </action-view>

  <menuitem name="assets-management-root-park-model" title="Park models"
    parent="assets-management-root" icon-background="grey" icon="fa-qrcode" left="true"
    action="action.equipment.view.equipment.model" order="4"/>

  <action-view name="action.equipment.view.equipment.model" title="Park models"
    model="com.axelor.apps.intervention.db.ParkModel">
    <view type="grid" name="park-model-grid"/>
    <view type="form" name="park-model-form"/>
  </action-view>

  <menuitem name="assets-management-root-conf" title="Configuration"
    parent="assets-management-root" icon-background="grey" icon="fa-cogs" order="99"/>

  <menuitem name="assets-management-root-equipment-families" title="Equipment families"
    parent="assets-management-root-conf" action="action.equipment.view.equipment.families"/>

  <action-view name="action.equipment.view.equipment.families"
    title="Equipment families" model="com.axelor.apps.intervention.db.EquipmentFamily">
    <view type="grid" name="equipment-family-grid"/>
    <view type="form" name="equipment-family-form"/>
  </action-view>

</object-views>
