<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_3.0.xsd">

	<menuitem name="hr-root" priority="108" title="Human resources" icon="img/16px/crmSmall_16px.png" groups="admins,ERP"/> 	

	<menuitem name="expense-all" parent="hr-root"
    	title="Expenses"
    	action="expense.all"/>
    	
    <action-view name="expense.all" title="Expenses" model="com.axelor.apps.hr.db.Expense">
    	<view type="grid" name="expense-grid"/>
	    <view type="form" name="expense-form"/>
	</action-view>
	
	<menuitem name="timesheet-root" parent="hr-root"
    	title="Timesheets"/>
	
	<menuitem name="edit-timesheet" parent="timesheet-root" title="Complete my time sheet" action="edit.timesheet"/>
	
	<action-method name="edit.timesheet">
		<call class="com.axelor.apps.hr.web.timesheet.TimesheetController" method="editTimesheet"/>
	</action-method>
	
	<menuitem name="all-timesheet" parent="timesheet-root" title="All my Timesheets" action="timesheet.all"/>
	
	<action-method name="timesheet.all">
		<call class="com.axelor.apps.hr.web.timesheet.TimesheetController" method="allTimesheet"/>
	</action-method>
	
	<menuitem name="validate-timesheet" groups="MNGT,admins" parent="timesheet-root" title="Timesheets to Validate" action="timesheet.validate"/>
	
	<action-method name="timesheet.validate">
		<call class="com.axelor.apps.hr.web.timesheet.TimesheetController" method="validateTimesheet"/>
	</action-method>
	
	<menuitem name="historic-timesheet" groups="MNGT,admins" parent="timesheet-root" title="Historic colleague Timesheets" action="timesheet.historic"/>
	
	<action-method name="timesheet.historic">
		<call class="com.axelor.apps.hr.web.timesheet.TimesheetController" method="historicTimesheet"/>
	</action-method>
	
	<menuitem name="employee-all" parent="hr-root"
    	title="Employee"
    	action="employee.all"/>

	<action-view name="employee.all" title="Employee" model="com.axelor.apps.hr.db.Employee">
    	<view type="grid" name="employee-grid"/>
	    <view type="form" name="employee-form"/>
	</action-view>
	
	<menuitem name="leave-all" parent="hr-root"
    	title="Leaves"
    	action="leave.all"/>

	<action-view name="leave.all" title="Leaves" model="com.axelor.apps.hr.db.Leave">
    	<view type="grid" name="leave-grid"/>
	    <view type="form" name="leave-form"/>
	</action-view>
	
	<menuitem name="leave-reason-all" parent="hr-root"
    	title="Leave reason"
    	action="leave.reason.all"/>

	<action-view name="leave.reason.all" title="Leave reason" model="com.axelor.apps.hr.db.LeaveReason">
    	<view type="grid" name="leave-reason-grid"/>
	    <view type="form" name="leave-reason-form"/>
	</action-view>
	
	<menuitem name="company-department-all" parent="hr-root"
    	title="Departments"
    	action="company.department.all"/>

	<action-view name="company.department.all" title="Departments" model="com.axelor.apps.base.db.CompanyDepartment">
    	<view type="grid" name="company-department-grid"/>
	    <view type="form" name="company-department-form"/>
	</action-view>
	
</object-views>
