<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_3.0.xsd">

	<menuitem name="hr-root" priority="108" title="Human resources" icon="img/tree-folder.png" groups="admins,ERP"/> 	

	<menuitem name="expense-all" parent="hr-root"
    	title="Expenses"
    	action="expense.all"/>

	<action-view name="expense.all" title="Expenses" model="com.axelor.apps.human.resource.db.Expense">
    	<view type="grid" name="expense-grid"/>
	    <view type="form" name="expense-form"/>
	</action-view>
	
	<menuitem name="timesheet-all" parent="hr-root"
    	title="Timesheets"
    	action="timesheet.all"/>

	<action-view name="timesheet.all" title="Timesheets" model="com.axelor.apps.human.resource.db.Timesheet">
    	<view type="grid" name="timesheet-grid"/>
	    <view type="form" name="timesheet-form"/>
	</action-view>

</object-views>
