<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.0.xsd">

	<menuitem name="hr-root" order="-104" title="Human resources" icon="fa-sitemap" 
	    groups="admins,ERP" icon-background="#84429f"/> 
	
	<menuitem name="timesheet-root" parent="hr-root"
    	title="Timesheets"/>
	
	<menuitem name="edit-timesheet" parent="timesheet-root" title="Complete my time sheet" action="edit.timesheet"/>
	
	<action-method name="edit.timesheet">
		<call class="com.axelor.apps.hr.web.timesheet.TimesheetController" method="editTimesheet"/>
	</action-method>
	
	<menuitem name="all-timesheet" parent="timesheet-root" title="All my Timesheets" action="timesheet.all"/>
	
	<action-method name="timesheet.all">
		<call class="com.axelor.apps.hr.web.timesheet.TimesheetController" method="allTimesheet"/>
	</action-method>
	
	<menuitem name="validate-timesheet" groups="MNGT,admins" parent="timesheet-root" title="Timesheets to Validate" action="timesheet.validate"/>
	
	<action-method name="timesheet.validate">
		<call class="com.axelor.apps.hr.web.timesheet.TimesheetController" method="validateTimesheet"/>
	</action-method>
	
	<menuitem name="historic-timesheet" groups="MNGT,admins" parent="timesheet-root" title="Historic colleague Timesheets" action="timesheet.historic"/>
	
	<action-method name="timesheet.historic">
		<call class="com.axelor.apps.hr.web.timesheet.TimesheetController" method="historicTimesheet"/>
	</action-method>
	
	<menuitem title="Start&amp;Stop Timer" name="time-sheet-timer" parent="timesheet-root" action="time.sheet.timer"/>
	
	<action-method name="time.sheet.timer">
		<call class="com.axelor.apps.hr.web.timesheet.timer.TSTimerController" method="editTimesheetTimer"/>
	</action-method>
	
	<menuitem name="extra-hours-root" parent="hr-root"
    	title="Extra hours"/>
	
	<menuitem name="edit-extra-hours" parent="extra-hours-root" title="Enter extra hours" action="edit.extra.hours"/>
	
	<action-method name="edit.extra.hours">
		<call class="com.axelor.apps.hr.web.extra.hours.ExtraHoursController" method="editExtraHours"/>
	</action-method>
	
	<menuitem name="all-extra-hours" parent="extra-hours-root" title="All my extra hours" action="extra.hours.all"/>
	
	<action-method name="extra.hours.all">
		<call class="com.axelor.apps.hr.web.extra.hours.ExtraHoursController" method="allExtraHours"/>
	</action-method>
	
	<menuitem name="validate-extra-hours" groups="MNGT,admins" parent="extra-hours-root" title="Extra hours to Validate" action="extra.hours.validate"/>
	
	<action-method name="extra.hours.validate">
		<call class="com.axelor.apps.hr.web.extra.hours.ExtraHoursController" method="validateExtraHours"/>
	</action-method>
	
	<menuitem name="historic-extra-hours" groups="MNGT,admins" parent="extra-hours-root" title="Historic colleague extra hours" action="extra.hours.historic"/>
	
	<action-method name="extra.hours.historic">
		<call class="com.axelor.apps.hr.web.extra.hours.ExtraHoursController" method="historicExtraHours"/>
	</action-method>
	
	
	<menuitem name="expense-root" parent="hr-root"
    	title="Expenses"/>
	
	<menuitem name="edit-expense" parent="expense-root" title="Complete my expense" action="edit.expense"/>
	
	<action-method name="edit.expense">
		<call class="com.axelor.apps.hr.web.expense.ExpenseController" method="editExpense"/>
	</action-method>
	
	<menuitem name="all-expense" parent="expense-root" title="All my Expenses" action="expense.all"/>
	
	<action-method name="expense.all">
		<call class="com.axelor.apps.hr.web.expense.ExpenseController" method="allExpense"/>
	</action-method>
	
	<menuitem name="validate-expense" groups="MNGT,admins" parent="expense-root" title="Expenses to Validate" action="expense.validate"/>
	
	<action-method name="expense.validate">
		<call class="com.axelor.apps.hr.web.expense.ExpenseController" method="validateExpense"/>
	</action-method>
	
	<menuitem name="ventilate-expense" groups="MNGT,admins" parent="expense-root" title="Expenses to Ventilate" action="expense.ventilate"/>
	
	<action-view name="expense.ventilate" title="Expenses to Ventilate" model="com.axelor.apps.hr.db.Expense">
		<view type="grid" name="expense-grid"/>
		<view type="form" name="expense-form"/>
		<domain>self.statusSelect = 3 AND self.ventilated = false</domain>
	</action-view>
	
	<menuitem name="historic-expense" groups="MNGT,admins" parent="expense-root" title="Historic colleague Expenses" action="expense.historic"/>
	
	<action-method name="expense.historic">
		<call class="com.axelor.apps.hr.web.expense.ExpenseController" method="historicExpense"/>
	</action-method>
	
	<menuitem name="leave-request-root" parent="hr-root"
    	title="Leave Requests"/>
	
	<menuitem name="edit-leave-request" parent="leave-request-root" title="Complete my leave request" action="edit.leave.request"/>
	
	<action-method name="edit.leave.request">
		<call class="com.axelor.apps.hr.web.leave.LeaveController" method="editLeave"/>
	</action-method>
	
	<menuitem name="all-leave-request" parent="leave-request-root" title="All my Leave Requests" action="leave.all"/>
	
	<action-method name="leave.all">
		<call class="com.axelor.apps.hr.web.leave.LeaveController" method="allLeave"/>
	</action-method>
	
	<menuitem name="validate-leave-request" groups="MNGT,admins" parent="leave-request-root" title="Leave Requests to Validate" action="leave.validate"/>
	
	<action-method name="leave.validate">
		<call class="com.axelor.apps.hr.web.leave.LeaveController" method="validateLeave"/>
	</action-method>
	
	<menuitem name="historic-leave-request" groups="MNGT,admins" parent="leave-request-root" title="Historic colleague Leave Requests" action="leave.historic"/>
	
	<action-method name="leave.historic">
		<call class="com.axelor.apps.hr.web.leave.LeaveController" method="historicLeave"/>
	</action-method>
	
	<menuitem name="leave-request-root-leave-calender" parent="leave-request-root"
		title="Leaves calendar" action="leave.request.root.leave.calender" />

	<action-view name="leave.request.root.leave.calender" title="Leaves calendar"
		model="com.axelor.apps.crm.db.Event" >
		<view type="calendar" name="event-calendar-color-by-user"/>
		<view type="grid" name="leave-grid"/>
		<view type="form" name="leave-form"/>
		<domain>self.typeSelect = 4</domain>
	</action-view>
	
	<menuitem name="all-payroll-preparation" parent="hr-root" title="Payroll Preparations" action="payroll.preparation.all"/>
	
	<action-view name="payroll.preparation.all" title="Payroll Preparations" model="com.axelor.apps.hr.db.PayrollPreparation">
    	<view type="grid" name="payroll-preparation-grid"/>
	    <view type="form" name="payroll-preparation-form"/>
	</action-view>
	
	<menuitem name="all-employment-contract" parent="hr-root" title="Employment Contracts" action="employment.contracts.all"/>
	
	<action-view name="employment.contracts.all" title="Employment Contracts" model="com.axelor.apps.hr.db.EmploymentContract">
    	<view type="grid" name="employment-contract-grid"/>
	    <view type="form" name="employment-contract-form"/>
	</action-view>
	
	<menuitem name="hr-conf" parent="hr-root" title="Configuration"/>
	
	<menuitem name="employee-all" parent="hr-conf"
    	title="Employee"
    	action="employee.all"/>

	<action-view name="employee.all" title="Employee" model="com.axelor.apps.hr.db.Employee">
    	<view type="grid" name="employee-grid"/>
	    <view type="form" name="employee-form"/>
	</action-view>
	
	<menuitem name="leave-reason-all" parent="hr-conf"
    	title="Leave reason"
    	action="leave.reason.all"/>

	<action-view name="leave.reason.all" title="Leave reason" model="com.axelor.apps.hr.db.LeaveReason">
    	<view type="grid" name="leave-reason-grid"/>
	    <view type="form" name="leave-reason-form"/>
	</action-view>
	
	<menuitem name="company-department-all" parent="hr-conf"
    	title="Departments"
    	action="company.department.all"/>

	<action-view name="company.department.all" title="Company departments" model="com.axelor.apps.base.db.CompanyDepartment">
    	<view type="grid" name="company-department-grid"/>
	    <view type="form" name="company-department-form"/>
	</action-view>
		
	<menuitem name="hr-conf-product-activity" parent="hr-conf" title="Product Activities" action="conf.product.activity"/>
	
	<action-view name="conf.product.activity" title="Product Activities" model="com.axelor.apps.base.db.Product">
    	<view type="grid" name="product-activity-grid"/>
	    <view type="form" name="product-activity-form"/>
	    <domain>self.isActivity = true</domain>
	</action-view>
	
	<menuitem name="hr-conf-expense-type" parent="hr-conf" title="Expense Type" action="conf.expense.type"/>
	
	<action-view name="conf.expense.type" title="Expense Type" model="com.axelor.apps.base.db.Product">
    	<view type="grid" name="product-expense-grid"/>
	    <view type="form" name="product-expense-form"/>
	    <view-param name="search-filters" value="products-filters"/>
		<domain>self.isModel = false AND self.expense = true</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_isModel" expr="false"/>
	</action-view>
	
	<menuitem name="admin-root-conf-hr-config" parent="admin-root-conf"
		title="Human Resources configurations" action="admin.root.conf.hr.config" />
		
	<action-view name="admin.root.conf.hr.config" title="Human Resources configurations"
		model="com.axelor.apps.hr.db.HRConfig" >
		<view type="grid" name="hr-config-grid" />
		<view type="form" name="hr-config-form"/>
	</action-view>
	
	
	<menuitem name="end-of-contract-reason-all" parent="hr-conf"
    	title="End of contract reasons"
    	action="end.of.contract.reason.all"/>

	<action-view name="end.of.contract.reason.all" title="End of contract reasons" model="com.axelor.apps.hr.db.EndOfContractReason">
    	<view type="grid" name="end-of-contract-reason-grid"/>
	    <view type="form" name="end-of-contract-reason-form"/>
	</action-view>
	
	
	<menuitem name="employment-contract-template-all" parent="hr-conf"
    	title="Employment Contract Templates"
    	action="employment.contract.templat.all"/>

	<action-view name="employment.contract.templat.all" title="Employment Contract Templates" model="com.axelor.apps.hr.db.EmploymentContractTemplate">
    	<view type="grid" name="employment-contract-template-grid"/>
	    <view type="form" name="employment-contract-template-form"/>
	</action-view>
	
	<action-view name="product.root.product" title="Products" id="hr.product.root.product"
		model="com.axelor.apps.base.db.Product" >
		<view type="cards" name="product-cards" />
		<view type="grid" name="product-grid" />
		<view type="form" name="product-form" />
		<view-param name="search-filters" value="products-filters"/>
		<domain>self.isModel = :_isModel AND self.productTypeSelect = :_productTypeSelect AND self.expense = false</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
		<context name="_isModel" expr="false"/>
		<context name="_productTypeSelect" expr="storable"/>
	</action-view>
	
	<menuitem name="kilometric-allow-param-all" parent="hr-conf"
    	title="Kilometric Allowance Params"
    	action="kilometric.allow.param.all"/>

	<action-view name="kilometric.allow.param.all" title="Kilometric Allowance Params" model="com.axelor.apps.hr.db.KilometricAllowParam">
    	<view type="grid" name="kilometric-allow-param-grid"/>
	    <view type="form" name="kilometric-allow-param-form"/>
	</action-view>
	
	<menuitem name="admin-root-batch-hr" parent="admin-root-batch"
		title="HR batches" action="admin.root.batch.hr" />

	<action-view name="admin.root.batch.hr" title="HR batches"
		model="com.axelor.apps.hr.db.HrBatch" >
		<view type="grid" name="hr-batch-grid"/>
		<view type="form" name="hr-batch-form"/>
	</action-view>

	<menuitem name="hr-report-root" parent="hr-root" title="Reportings"/>
    	
    <menuitem name="menu-hr-manager-dashboard" parent="hr-report-root" title="Human Resources Manager" groups="MNGT,admins"
    	action="hr.manager.dashboard.view"/>
    	
	<action-view name="hr.manager.dashboard.view" title="Human Resource Manager">
		<view type="dashboard" name="hr.manager.dashboard.sample" />
	</action-view>	
    	
    <menuitem name="menu-hr-user-dashboard" parent="hr-report-root" title="Human Resources User"
    	action="hr.user.dashboard.view"/>
    	
	<action-view name="hr.user.dashboard.view" title="Human Resources User">
		<view type="dashboard" name="hr.user.dashboard.sample" />
	</action-view>	

	
</object-views>
