<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.1.xsd">

	<menuitem name="mail-conf"  title="Message"  />
	
	<menuitem name="mail-conf-template"	parent="mail-conf" title="Template" action="admin.root.templating.template" order="5" />
		
	<action-view name="admin.root.templating.template"
		title="Template" model="com.axelor.apps.message.db.Template">
		<view type="grid" name="template-grid"/>
		<view type="form" name="template-form"/>
	</action-view>
	
	<menuitem name="mail-conf-template-rules" parent="mail-conf" title="Template Rules" action="admin.root.templating.template.rules" order="10" />
		
	<action-view name="admin.root.templating.template.rules"
		title="Template Rules" model="com.axelor.apps.base.db.TemplateRule">
		<view type="grid" name="template-rule-grid" />
		<view type="form" name="template-rule-form" />
	</action-view>
	
	<menuitem name="mail-root-email-conf-mail-account"  parent="mail-conf" title="Email Accounts" action="mail.root.email.conf.mail.account" order="15" />	
		
	<action-view name="mail.root.email.conf.mail.account" title="Email Accounts" 
		model="com.axelor.apps.message.db.EmailAccount" >
		<view type="grid" />
		<view type="form" />
	</action-view>
	
	<menuitem name="mail-root-email-conf-email-address" parent="mail-conf"  title="Email addresses" action="mail.root.email.conf.email.address"  order="20"/>	
		
	<action-view name="mail.root.email.conf.email.address" title="Email addresses" 
		model="com.axelor.apps.message.db.EmailAddress" >
		<view type="grid" name="email-address-grid"/>
		<view type="form" name="email-address-form"/>
		<context name="_duplicateFinderFields" expr="address"/>
	</action-view>
	
	<menuitem name="mail-message" parent="mail-conf" title="All messages" action="mail.root.messages"  order="25"/>
	
	<action-view name="mail.root.messages" title="All messages" model="com.axelor.apps.message.db.Message" >
		<view type="grid" name="message-grid"/>
		<view type="form" name="message-form"/>
	</action-view>

	<menuitem name="mail-message-not-send" title="Messages not sent" parent="mail-conf" order="26"
			  action="mail.root.messages.not.send"/>
    
	<action-view name="mail.root.messages.not.send" title="Messages not sent" model="com.axelor.apps.message.db.Message">
		<view type="grid" name="message-not-sent-grid"/>
		<view type="form" name="message-form"/>
        <domain>self.statusSelect = 1 AND self.sentDateT = null</domain>
	</action-view>

	<menuitem name="mail-root-email-conf-routing" parent="mail-conf" title="Routings" action="mail.root.email.conf.routing" order="30"  />	
		
	<action-view name="mail.root.email.conf.routing" title="Routings" 
		model="com.axelor.apps.base.db.Routing" >
		<view type="grid" />
		<view type="form" />
	</action-view>
	
		

</object-views>
