<h1>About Me</h1><hr /><p><strong>First Name:</strong> {{contact.firstName}}</p><p><strong>Last Name:</strong> {{contact.lastName}}</p><p>&nbsp;</p><p><em>Contact me:</em>&nbsp;<a href='mailto:{{contact.email | e}}' target='_blank'>{{contact.fullName}}</a></p><hr /><ul><li>Java</li><li>JavaScript</li><li>Groovy</li><li>HTML5</li></ul><pre>public class Hello {<br /><br />private String testKey1 = {{testKey1}}<br />private String testKey2 = {{testKey2}}<br />private String testKey3 = {{testKey3}}<br />}</pre>