<?xml version="1.0" encoding="UTF-8"?>
<domain-models xmlns="http://axelor.com/xml/ns/domain-models"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/domain-models http://axelor.com/xml/ns/domain-models/domain-models_6.1.xsd">

  <module name="studio" package="com.axelor.studio.db"/>

  <entity name="App" cacheable="true">

    <one-to-one ref="com.axelor.studio.db.AppBusinessProject" name="appBusinessProject"
      mappedBy="app"/>

  </entity>

</domain-models>
