/**
 * Axelor Business Solutions
 *
 * Copyright (C) 2005-2024 Axelor (<http://axelor.com>).
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
.app-cards__container {
    display: grid;
    grid-template:
                "image name name"         2fr
                "buttons buttons buttons" 1fr
                / 60px auto;
    grid-column-gap: 6px;
}

.app-cards__image {
    grid-area: image;
}

.app-cards__image > img {
    position: relative;
    width: 60px;
    height: 60px;
}

.app-cards__name {
    grid-area: name;
}

.app-cards__buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
}

.app-cards__buttons > a + a {
    margin-left: 6px;
}