<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">
	
	<grid name="app-grid" title="Apps" model="com.axelor.apps.base.db.App" canDelete="false" canNew="false">
		<field name="name" />
		<field name="code" />
	</grid>
	
	<form name="app-form" title="App" model="com.axelor.apps.base.db.App" canDelete="false" canNew="false" width="large" 
		onSave="save,action-app-method-check-parent,action-app-method-install-parent,action-method-app-import-data-init"
		onLoad="action-app-on-load-attrs">
		<panel>
			<field name="image" widget="Image" colSpan="2"/>
			<panel colSpan="8">
				<field name="code" colSpan="3" readonly="true" />
				<field name="name" colSpan="8" readonly="true" />
				<field name="dependsOn" colSpan="12" widget="multi-select" readonly="true"  />
				<field name="active" widget="boolean-switch" onChange="action-app-method-check-children" colSpan="2"/>
				<button name="configure" title="Configure" onClick="com.axelor.apps.base.web.AppController:configure"  colSpan="3"  />
        		<spacer colSpan="7"/>
				<field name="demoDataLoaded" readonly="true" colSpan="2"/>
				<button name="importDataDemo" onClick="save,action-method-app-import-data-demo" title="Import demo data" colSpan="3" hideIf="demoDataLoaded"/>
			</panel>
			<field name="description" colSpan="12" readonly="true"/>
			<field name="typeSelect" hidden="true" />
			<field name="initDataLoaded" hidden="true" />
		</panel>
	</form> 
	
	<cards name="app-cards" model="com.axelor.apps.base.db.App" title="Apps" css="rect-image">
		<field name="name" />
		<field name="code" />
		<field name="image" />
		<field name="description"/>
		<field name="typeSelect"/>
		<field name="active"/>
		<template><![CDATA[
			<div>
			  <div class="span4 card-image">
			    <img ng-src="{{$image('image', 'content')}}" />
			  </div>
			  <div class="span8">
				<span><strong>{{code}}</strong></span>
				<br/>
	    		<span><strong>{{name}}</strong></span>
    			<br/>
	  		  	<label class="iswitch form-item"><input type="checkbox" ng-model="active"/><span class="box"/></label>
	  		  </div>
			</div>
			<div class="span12">{{description}}</strong></div>
			<div class="buttons">
        		<a class="btn btn-small btn-success" href="" ng-show="active" ui-action-click="com.axelor.apps.base.web.AppController:configure" x-translate>Configure</a>
    		</div>
		]]>
		</template>
	</cards>
	
	<action-method name="action-method-app-import-data-demo">
		<call class="com.axelor.apps.base.web.AppController" method="importDataDemo"/>
	</action-method>
	
	<action-method name="action-method-app-import-data-init">
		<call class="com.axelor.apps.base.web.AppController" method="importDataInit" if="!initDataLoaded"/>
	</action-method>
	
	 <action-method name="action-app-method-check-parent">
	    <call class="com.axelor.apps.base.web.AppController" method="checkParent"  if="__this__.active &amp;&amp; __this__.active != __self__.active"/>
	 </action-method>
	 
	 <action-method name="action-app-method-install-parent">
	    <call class="com.axelor.apps.base.web.AppController" method="installParent" if="__this__.active &amp;&amp; __this__.active != __self__.active"/>
	 </action-method>
	 
	 <action-method name="action-app-method-check-children">
	    <call class="com.axelor.apps.base.web.AppController" method="checkChildren" if="!active"/>
	 </action-method>
	 
	 <action-attrs name="action-app-on-load-attrs">
	 	<attribute name="hidden" for="configure" expr="eval:!__self__.active"/>
	 	<attribute name="hidden" for="demoDataLoaded" expr="eval:!__self__.active"/>
	 	<attribute name="hidden" for="importDataDemo" expr="eval:!__self__.active || demoDataLoaded"/>
	 </action-attrs>
       
</object-views>
