.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cellContainer {
  position: relative;
}

.duration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border: 1px solid var(--palettes-neutral-300);
  border-radius: 8px;
  padding: 0.08em 0.4em;
  background: var(--palettes-neutral-0);
  width: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 0.92em;
}

.durationInput {
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.95em;
  width: 1.3em;
  margin: 0 0.03em;
  height: 1.1em;
  line-height: 1.1em;
  box-sizing: border-box;
  padding: 0;
  font-family: inherit;
  color: var(--palettes-neutral-800);
}

.durationInput:focus {
  outline: none !important;
  border: none !important;
  background: transparent;
  height: 1.1em;
  line-height: 1.1em;
  box-sizing: border-box;
  padding: 0;
}

.duration span {
  font-size: 0.95em;
  font-weight: 500;
  margin: 0 0.08em;
  line-height: 1.1em;
  color: var(--palettes-neutral-800);
}

.wrapperOutline {
  outline: 0.15rem solid var(--palettes-primary-700);
  margin: 1px;
  outline-offset: 0.2rem;
}

.btnWrapper {
  display: flex;
  gap: 1rem;
}

.wrapper:hover:not([data-editable="true"]) .arrowIcon {
  display: block;
}

.actionWrapper {
  position: absolute;
  top: -0.4rem;
  right: -3.1rem;
  display: none;
  flex-direction: column;
  width: 50px;
  gap: 0.25rem;
  padding: 0.3rem 0.4rem;
  height: fit-content;
  box-shadow: var(--pr-t-elevation-shadow-raised);
  background-color: var(--palettes-neutral-0);
  border-radius: 0.2rem;
  animation: actionWrapper 0.15s ease-in-out;
  z-index: 999;
}

.activateAction {
  display: flex;
}
.wrapper:hover .actionWrapper {
  display: flex;
}

.actionBtn:hover {
  display: flex;
}

.actionWrapper .deleteBtn:hover {
  background-color: #fee2e2;
  color: #ef4444;
  border-color: #ef4444;
}

.warning {
  font-weight: 400;
  color: #92400e;
  border: 1px solid #f59e0b;
  background-color: #fef3c7;
  font-size: 0.7rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  display: flex;
  gap: 0.4rem;
  width: fit-content;
  justify-self: center;
}

.pending {
  color: #92400e;
}

/* Dialog container */
.dialog {
  background: transparent;
}

.dialogContent {
  width: 300px;
  height: 300px;
}

.actionWrapper .invoiceBtn:hover,
.actionWrapper .invoiceBtn {
  color: #92400e;
  border: 1px solid #f59e0b;
  background-color: #fef3c7;
}

.actionWrapper .activateToInvoice {
  background-color: #dcfce7 !important;
  color: #24954f !important;
  border-color: #22c55e !important;
}

.commentIndicator::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: var(--palettes-primary-300);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.multiLineIndicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: repeating-linear-gradient(
    45deg,
    var(--palettes-primary-900),
    var(--palettes-neutral-0) 2px,
    var(--palettes-primary-500) 2px,
    var(--palettes-neutral-0) 2px
  );
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.disableCell {
  display: flex;
  align-self: center;
  justify-self: center;
  width: fit-content;
  min-width: 5rem;
  padding: 0.1rem 0.6rem;
  gap: 0.2rem;
  border-radius: 0.1rem;
  font: 600 0.8em/1 inherit;
  color: var(--palettes-neutral-500);
  font-weight: 600;
  font-size: 0.8em;
}
.hasLines {
  color: var(--palettes-neutral-800);
}

@keyframes actionWrapper {
  from {
    scale: 0.8;
  }

  to {
    scale: 1;
  }
}
