<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">
	
	<menuitem name="teams-app-root" order="-109" title="Teams app" icon="fa-folder" if="__config__.app.isApp('teamsapp')"/>

	<menuitem name="team-post-all" parent="teams-app-root" title="Team post" action="team.post.all"/>

	<action-view name="team.post.all" title="Team post" model="com.axelor.apps.teamsapp.db.TeamPost">
	    <view type="grid" name="team-post-grid"/>
	    <view type="form" name="team-post-form"/>
	</action-view>

</object-views>
