<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">
	
	<!-- Recruitment menus -->
	<menuitem name="recruitment-root" parent="hr-root" if="__config__.app.isApp('recruitment')" title="Recruitment" icon="fa-handshake-o" icon-background="#84429f" />
	
	<menuitem name="recruitment-job-position-open" parent="recruitment-root" title="Job positions" action="recruitment.job.position.open"  />
	
	<action-view name="recruitment.job.position.open" model="com.axelor.apps.talent.db.JobPosition" title="Job positions">
		<view name="job-position-cards" type="cards" />
		<view name="job-position-grid" type="grid" />
		<view name="job-position-form" type="form" />
		<view-param name="search-filters" value="job-position-filters"/>
	</action-view>
	
	<menuitem name="recruitment-job-application-all" parent="recruitment-root" title="Applications" action="recruitment.job.application.all"  />
	
	<action-view name="recruitment.job.application.all" model="com.axelor.apps.talent.db.JobApplication" title="Applications">
		<view name="job-application-grid" type="grid" />
		<view name="job-application-form" type="form" />
		<view-param name="search-filters" value="job-application-filters"/>
	</action-view>
	
	<menuitem name="recruitment-config" parent="recruitment-root" title="Configuration" icon="fa-cog"/>
	
	<menuitem name="recruitment-config-education-level" parent="recruitment-config" title="Level of education" action="recruitment.config.education.level"  />
	
	<action-view name="recruitment.config.education.level" model="com.axelor.apps.talent.db.EducationLevel" title="Level of education">
		<view name="education-level-grid" type="grid" />
		<view name="education-level-form" type="form" />
	</action-view>
	
	<menuitem name="recruitment-config-hiring-stage" parent="recruitment-config" title="Hiring Stage" action="recruitment.config.hiringStage"  />
	
	<action-view name="recruitment.config.hiringStage" model="com.axelor.apps.talent.db.HiringStage" title="Hiring Stage">
		<view name="hiring-stage-grid" type="grid" />
		<view name="hiring-stage-form" type="form" />
	</action-view>
	
	<menuitem name="recruitment-config-source" parent="recruitment-config" title="Source" action="recruitment.config.source"  />
	
	<action-view name="recruitment.config.source" model="com.axelor.apps.talent.db.TalentSource" title="Source">
		<view name="talent-source-grid" type="grid" />
		<view name="talent-source-form" type="form" />
	</action-view>

  <menuitem name="recruitment-config-skill" parent="recruitment-config" title="Skills" action="recruitment.config.skill"/>

  <action-view name="recruitment.config.skill" title="Skills" model="com.axelor.apps.talent.db.Skill">
    <view type="grid" name="tag-skill-grid"/>
    <view type="form" name="tag-skill-form"/>
  </action-view>
	
	<!-- Training menus -->
	<menuitem name="training-root" parent="hr-root" if="__config__.app.isApp('training')" title="Training" icon="fa-graduation-cap" icon-background="#84429f"/>
    
	<menuitem name="training-register-all" parent="training-root" title="All trainings" action="training.register.all" />	
	
	<action-view name="training.register.all" model="com.axelor.apps.talent.db.TrainingRegister" title="All trainings">
		<view name="training-register-grid" type="grid" />
		<view name="training-register-form" type="form" />
		<view-param name="search-filters" value="my-training-register-fitlers"/>
		<context name="_employeeId" expr="eval:__user__.employee?.id" />
  		<context name="_employeeList" expr="eval:([0] + __user__.teamSet.members.employee.id).flatten()" />	
	</action-view>
	
	<menuitem name="training-dashboard" parent="training-root" title="Training dashboard" action="training.dashboard" />
	
	<action-view name="training.dashboard" title="Training dashboard">
		<view type="dashboard" name="training.dashboard"/>
	</action-view>
	
	<menuitem name="training-conf" parent="training-root" title="Configuration" icon="fa-cog"/>
	
	<menuitem name="training-category-all" parent="training-conf" title="Categories" action="training.category.all" />	
	
	<action-view name="training.category.all" model="com.axelor.apps.talent.db.TrainingCategory" title="Categories">
		<view name="training-category-grid" type="grid" />
		<view name="training-category-form" type="form" />
	</action-view>
	
	<menuitem name="training-training-all" parent="training-conf" title="Trainings" action="training.training.all" />	
	
	<action-view name="training.training.all" model="com.axelor.apps.talent.db.Training" title="Trainings">
		<view name="training-grid" type="grid" />
		<view name="training-form" type="form" />
	</action-view>
	
	<menuitem name="training-session-all" parent="training-conf" title="Training sessions" action="training.session.all" />	
	
	<action-view name="training.session.all" model="com.axelor.apps.talent.db.TrainingSession" title="Training sessions">
		<view name="training-session-grid" type="grid" />
		<view name="training-session-form" type="form" />
	</action-view>
	
	<!-- Appraisal menus-->
	<menuitem name="appraisal-root" parent="hr-root" title="Appraisals" if="__config__.app.isApp('appraisal')"  icon="fa-comments-o" icon-background="#84429f"/>
	
	<menuitem name="appraisal-all-appraisals" title="Appraisals" action="appraisal.all.appraisals" parent="appraisal-root" />

	<action-view name="appraisal.all.appraisals"
		model="com.axelor.apps.talent.db.Appraisal" title="Appraisals">
		<view name="appraisal-grid" type="grid" />
		<view name="appraisal-form" type="form" />
		<view-param name="search-filters" value="appraisal-fitlers" />
		<domain>self.isTemplate = false</domain>
		<context name="_userId" expr="eval:__user__.id" />
		<context name="_teamUserIds" expr="eval:([0] + __user__.teamSet.members.id).flatten()" />
	</action-view>
	
	<menuitem  name="appraisal-config" title="Configuration" parent="appraisal-root" icon="fa-cog"/>
	
	<menuitem name="appraisal-template-appraisals" title="Appraisal templates" action="appraisal.template.appraisals" parent="appraisal-config" />
	
	<action-view name="appraisal.template.appraisals" title="Appraisal template" model="com.axelor.apps.talent.db.Appraisal">
		<view type="grid" name="appraisal-template-grid"/>
		<view type="form" name="appraisal-template-form"/>
		<domain>self.isTemplate = true</domain>
	</action-view>
	
	<menuitem name="appraisal-config-appraisal-type" title="Appraisal types" action="appraisal.config.appraisal.type" parent="appraisal-config" />
	
	<action-view name="appraisal.config.appraisal.type" title="Appraisal types" model="com.axelor.apps.talent.db.AppraisalType">
		<view type="grid" name="appraisal-type-grid"/>
		<view type="form" name="appraisal-type-form"/>
	</action-view>
	
</object-views>