<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.0.xsd">
	
	<menuitem name="stock-root" title="Stock management"  order="-85"
	icon="fa-cubes" groups="admins,ERP" icon-background="#b6473f"/>
		
	<menuitem name="stock-root-custdeliveries" parent="stock-root"
		title="Customer Deliveries" action="stock.root.custdeliveries" />

	<action-view name="stock.root.custdeliveries" title="Customer Deliveries"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-out-grid"/>
		<view type="form" name="stock-move-form"/>
		<view-param name="search-filters" value="customer-deliveries-filters"/>
		<domain>self.toLocation.typeSelect = 2</domain>
		<context name="_typeSelect" expr="2"/>
	</action-view>
	
	<menuitem name="stock-root-suparrivals" parent="stock-root"
		title="Supplier Arrivals" action="stock.root.suparrivals" />

	<action-view name="stock.root.suparrivals" title="Supplier Arrivals"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-in-grid"/>
		<view type="form" name="stock-move-form"/>
		<view-param name="search-filters" value="supplier-arrivals-filters"/>
		<domain>self.fromLocation.typeSelect = 2</domain>
		<context name="_typeSelect" expr="3"/>
		<context name="_newDate" expr="eval: __date__.plusWeeks(1)"/>
	</action-view>	
	
			
	<menuitem name="stock-root-internal" parent="stock-root"
		title="Internal Stock Moves" action="stock.root.internal" />

	<action-view name="stock.root.internal" title="Internal Stock Moves"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid"/>
		<view type="form" name="stock-move-form"/>
		<view-param name="search-filters" value="internal-stock-move-filters"/>
		<domain>self.typeSelect = 1</domain>
		<context name="_typeSelect" expr="1"/>
	</action-view>		
	
<!-- 	MUST BE DELETED -->
	
	<menuitem name="stock-root-planned" parent="stock-root"
		title="Forecasts"  />
	
	<menuitem name="stock-root-incoming-production" parent="stock-root-planned"
		title="Production needs" action="stock.root.incoming.production" />

	<action-view name="stock.root.incoming.production" title="Production needs"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid"/>
		<view type="form" name="stock-move-form"/>
		<domain>self.statusSelect = 2 and self.toLocation.id = 5</domain>
	</action-view>	
	
	<menuitem name="stock-root-outcoming-production" parent="stock-root-planned"
		title="Production forecasts" action="stock.root.outcoming.production" />

	<action-view name="stock.root.outcoming.production" title="Production forecasts"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid"/>
		<view type="form" name="stock-move-form"/>
		<domain>self.statusSelect = 2 and self.fromLocation.id = 5</domain>
	</action-view>	
	
	<menuitem name="stock-root-incoming-supplier" parent="stock-root-planned"
		title="Supplier deliveries" action="stock.root.incoming.supplier" />

	<action-view name="stock.root.incoming.supplier" title="Supplier deliveries"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid"/>
		<view type="form" name="stock-move-form"/>
		<domain>self.statusSelect = 2 and self.fromLocation.id = 3</domain>
	</action-view>	
	
	<menuitem name="stock-root-outcoming-supplier" parent="stock-root-planned"
		title="Supplier returns" action="stock.root.outcoming.supplier" />

	<action-view name="stock.root.outcoming.supplier" title="Supplier returns"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid"/>
		<view type="form" name="stock-move-form"/>
		<domain>self.statusSelect = 2 and self.toLocation.id = 3</domain>
	</action-view>	
	
	<menuitem name="stock-root-outcoming-client" parent="stock-root-planned"
		title="Customer deliveries" action="stock.root.outcoming.client" />

	<action-view name="stock.root.outcoming.client" title="Customer deliveries"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid"/>
		<view type="form" name="stock-move-form"/>
		<domain>self.statusSelect = 2 and self.toLocation.id = 2</domain>
	</action-view>	
	
	<menuitem name="stock-root-incoming-client" parent="stock-root-planned"
		title="Customer returns" action="stock.root.incoming.client" />

	<action-view name="stock.root.incoming.client" title="Customer returns"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid"/>
		<view type="form" name="stock-move-form"/>
		<domain>self.statusSelect = 2 and self.fromLocation.id = 2</domain>
	</action-view>	
	
<!-- END MUST BE DELETED -->
		
		
	<menuitem name="stock-root-inventories" parent="stock-root"
		title="Periodical processing"/>		
		
	<menuitem name="stock-root-inventories-draft" parent="stock-root-inventories"
		title="Inventories" action="stock.root.inventories.draft" />
	
	<action-view name="stock.root.inventories.draft" title="Inventories"
		model="com.axelor.apps.stock.db.Inventory" >
		<view type="grid" name="inventory-grid" />
		<view type="form" name="inventory-form"/>
		<view-param name="search-filters" value="inventories-filters"/>
	</action-view>
	
	<menuitem name="stock-root-all-line" parent="stock-root"
		title="Stock Moves Lines" action="stock.root.all.line" />

	<action-view name="stock.root.all.line" title="Stock Moves Lines"
		model="com.axelor.apps.stock.db.StockMoveLine" >
		<view type="grid" name="stock-move-line-all-grid"/>
		<view type="form" name="stock-move-line-all-form"/>
	</action-view>		
	
	<menuitem name="stock-root-report" parent="stock-root"
		title="Reportings" />
		
	<menuitem name="stock-root-conf" parent="stock-root" title="Configuration"/>
		
	<menuitem name="stock-root-location" parent="stock-root-conf"
		title="Stock Locations" action="stock.root.location" />
	
	<action-view name="stock.root.location" title="Stock Locations"
		model="com.axelor.apps.stock.db.Location" >
		<view type="grid" name="location-grid"/>
		<view type="form" name="location-form"/>
	</action-view>
	
	<menuitem name="stock-root-conf-min-stock-rules" parent="stock-root-conf"
		title="Minimum stock rules" action="stock.root.conf.min.Stock.rules" />
	
	<action-view name="stock.root.conf.min.Stock.rules" title="Minimum stock rules"
		model="com.axelor.apps.stock.db.MinStockRules" >
		<view type="grid" name="min-stock-rules-grid" />
		<view type="form" name="min-stock-rules-form" />
		<context name="searchFields" expr="location;product"/>
	</action-view>
	
	<menuitem name="stock-root-conf-stock-tracking-numbers" parent="stock-root-conf"
		title="Tracking Numbers" action="stock.root.conf.stock.tracking.numbers" />
	
	<action-view name="stock.root.conf.stock.tracking.numbers" title="Tracking Numbers"
		model="com.axelor.apps.base.db.TrackingNumber" >
		<view type="grid" name="tracking-number-grid" />
		<view type="form" name="tracking-number-form"/>
		<context name="_datePlusTwoMonths" expr="eval: __date__.plusMonths(2)"/>
	</action-view>
	
<!-- ADMINISTRATION -->


	<menuitem name="admin-root-batch-stock" parent="admin-root-batch"
		title="Stock batches" action="admin.root.batch.stock" />

	<action-view name="admin.root.batch.stock" title="Stock batches"
		model="com.axelor.apps.stock.db.StockBatch" >
		<view type="grid" name="stock-batch-grid"/>
		<view type="form" name="stock-batch-form"/>
	</action-view>
	
	
	<menuitem name="admin-root-conf-stock-config" parent="admin-root-conf"
		title="Stock configurations" action="admin.root.conf.stock.config" />
		
	<action-view name="admin.root.conf.stock.config" title="Stock configurations"
		model="com.axelor.apps.stock.db.StockConfig" >
		<view type="grid" name="stock-config-grid" />
		<view type="form" name="stock-config-form"/>
	</action-view>



<!-- TOP MENU -->

	<menuitem name="top-stock" title="Stock" groups="admins,ERP" top="true" left="false" order="-140"/>
	
	<menuitem name="top-stock-create-stock-move" title="Create Stock Move" order="-100" top="true" parent="top-stock" action="top.stock.move.new"/>
	<action-view name="top.stock.move.new" title="Stock Move" model="com.axelor.apps.stock.db.StockMove">
		<view type="form"/>
	</action-view>
	<menuitem name="top-stock-moves-all" order="-90" title="View Stock moves" action="top.stock.moves.all" parent="top-stock" groups="admins,ERP" top="true" left="false"/>	
	
	<action-view name="top.stock.moves.all" title="Stock moves"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid"/>
		<view type="form" />
		<view-param name="search-filters" value="internal-stock-move-filters"/>
	</action-view>	
	
	<menuitem name="top-stock-cust-deliveries" title="View Customer deliveries" action="top.stock.cust.deliveries" parent="top-stock" groups="admins,ERP" top="true" left="false"/>		
	
	<action-view name="top.stock.cust.deliveries" title="Customer deliveries"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid" />
		<view type="form" name="stock-move-form" />
		<view-param name="search-filters" value="customer-deliveries-filters"/>
		<domain>self.typeSelect = 2 </domain>
		<context name="_typeSelect" expr="eval: 2" />
	</action-view>	
	
	<menuitem name="top-stock-internal-moves" title="View Internal moves" action="top.stock.internal.moves" parent="top-stock" groups="admins,ERP" top="true" left="false"/>		
	
	<action-view name="top.stock.internal.moves" title="Internal moves"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid" />
		<view type="form" name="stock-move-form" />
		<view-param name="search-filters" value="internal-stock-move-filters"/>
		<domain>self.typeSelect = 1 </domain>
		<context name="_typeSelect" expr="eval: 1" />
	</action-view>	
	
	<menuitem name="top-stock-suppl-deliveries" title="View Supplier deliveries" action="top.stock.suppl.deliveries" parent="top-stock" groups="admins,ERP" top="true" left="false"/>		
	
	<action-view name="top.stock.suppl.deliveries" title="Supplier deliveries"
		model="com.axelor.apps.stock.db.StockMove" >
		<view type="grid" name="stock-move-grid" />
		<view type="form" name="stock-move-form" />
		<view-param name="search-filters" value="supplier-arrivals-filters"/>
		<domain>self.typeSelect = 3 </domain>
		<context name="_typeSelect" expr="eval: 3" />
	</action-view>	

		
	<menuitem name="menu-stock-dashboard-1" parent="stock-root-report" 
		title="General"  action="stock.dashboard.one.view" />	

	<action-view name="stock.dashboard.one.view" title="General Stock Details">
		<view type="dashboard" name="stock.dashboard.one" />
	    <context name="_newDate" expr="eval: __date__.plusDays(5)"/>
	</action-view>
	
	<menuitem name="menu-stock-dashboard-2" parent="stock-root-report" 
		title="Deliveries"  action="stock.dashboard.two.view" />	

	<action-view name="stock.dashboard.two.view" title="Deliveries Details">
		<view type="dashboard" name="stock.dashboard.two" />	    
	</action-view>
	
	
</object-views>
