<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.0.xsd">
	
	
	<menuitem name="sc-root-purchase-order-supplier-lines-requests" title="Supplier requests" order="-1" 
		groups="admins,ERP" action="sc.root.purchase.orders.supplier.lines.requests" parent="sc-root-purchase"/>

	<action-view name="sc.root.purchase.orders.supplier.lines.requests" title="Supplier requests"
		model="com.axelor.apps.suppliermanagement.db.PurchaseOrderSupplierLine" >
		<view type="grid" name="purchase-order-supplier-line-grid" />
		<view type="form" name="purchase-order-supplier-line-form" />
		<domain>self.stateSelect = 1</domain>
	</action-view>
	
	<menuitem name="sc-root-purchase-order-supplier-lines-requests-completed" title="Supplier requests completed" order="-1" 
		groups="admins,ERP" action="sc.root.purchase.orders.supplier.lines.requests.completed" parent="sc-root-purchase"/>

	<action-view name="sc.root.purchase.orders.supplier.lines.requests.completed" title="Supplier requests completed"
		model="com.axelor.apps.suppliermanagement.db.PurchaseOrderSupplierLine" >
		<view type="grid" name="purchase-order-supplier-line-grid" />
		<view type="form" name="purchase-order-supplier-line-form" />
		<domain>self.stateSelect = 2</domain>
	</action-view>
	
	<menuitem name="sc-root-purchase-order-supplier-lines-requests-historical" title="Supplier requests historical" order="-1" 
		groups="admins,ERP" action="sc.root.purchase.orders.supplier.lines.requests.historical" parent="sc-root-purchase"/>

	<action-view name="sc.root.purchase.orders.supplier.lines.requests.historical" title="Supplier requests historical"
		model="com.axelor.apps.suppliermanagement.db.PurchaseOrderSupplierLine" >
		<view type="grid" name="purchase-order-supplier-line-grid" />
		<view type="form" name="purchase-order-supplier-line-form" />
	</action-view>

	
</object-views>