<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="project-dms-root" title="Project DMS" parent="project-current-project"
    action="project.dms.view" order="50"/>

  <action-view name="project.dms.view" title="Document view">
    <view name="dms/?projectIds={{_projectIds}}" type="html"/>
    <context name="_projectIds"
      expr="call:com.axelor.apps.project.service.ProjectService:getContextProjectIdsString()"/>
  </action-view>

</object-views>
