<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_7.2.xsd">

  <menuitem name="menu-quality-root" order="-1700" if="__config__.app.isApp('quality')"
    title="Quality" icon="check" icon-background="#3f6bb9"/>

  <menuitem name="quality-controls-root" parent="menu-quality-root"
    title="Quality controls" order="100"/>

  <menuitem name="quality-control-entries" parent="menu-quality-root"
    title="Control entries" action="quality.control.entries.view" order="80"/>

  <action-view name="quality.control.entries.view" title="Control entries"
    model="com.axelor.apps.quality.db.ControlEntry">
    <view type="grid" name="control-entry-grid"/>
    <view type="form" name="control-entry-form"/>
  </action-view>

  <menuitem name="quality-control-plans" parent="menu-quality-root" title="Control plans"
    action="quality.control.plans.view" order="90"/>

  <action-view name="quality.control.plans.view" title="Control plans"
    model="com.axelor.apps.quality.db.ControlPlan">
    <view type="grid" name="control-plan-grid"/>
    <view type="form" name="control-plan-form"/>
  </action-view>

  <menuitem name="quality-processes" parent="quality-controls-root"
    title="Quality processes" action="quality.processes" order="100"/>

  <action-view name="quality.processes" title="Quality processes"
    model="com.axelor.apps.quality.db.QualityProcess">
    <view type="grid" name="quality-process-grid"/>
    <view type="form" name="quality-process-form"/>
  </action-view>


  <menuitem name="quality-controls" parent="quality-controls-root" title="Quality controls"
    action="quality.controls" order="200"/>

  <action-view name="quality.controls" title="Quality controls"
    model="com.axelor.apps.quality.db.QualityControl">
    <view type="kanban" name="quality-control-kanban"/>
    <view type="grid" name="quality-control-grid"/>
    <view type="form" name="quality-control-form"/>
    <view-param name="search-filters" value="quality-control-filters"/>
    <context name="_userId" expr="eval:__user__.id"/>
    <context name="_myActiveTeamId"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeamId()"/>
  </action-view>

  <menuitem name="quality-control-points" parent="quality-controls-root"
    title="Control points" action="quality.controls.points" order="300"/>

  <action-view name="quality.controls.points" title="Control points"
    model="com.axelor.apps.quality.db.ControlPoint">
    <view type="grid" name="control-point-grid"/>
    <view type="form" name="control-point-form"/>
  </action-view>

  <menuitem name="quality-alerts" parent="menu-quality-root" title="Quality alerts"
    action="quality.alerts" order="200"/>

  <action-view name="quality.alerts" title="Quality alerts"
    model="com.axelor.apps.quality.db.QualityAlert">
    <view type="kanban" name="quality-alert-kanban"/>
    <view type="grid" name="quality-alert-grid"/>
    <view type="form" name="quality-alert-form"/>
    <view-param name="search-filters" value="quality-alert-filters"/>
    <context name="_userId" expr="eval:__user__.id"/>
    <context name="_myActiveTeamId"
      expr="call:com.axelor.apps.base.service.user.UserService:getUserActiveTeamId()"/>
  </action-view>

  <menuitem name="quality-calendar" parent="menu-quality-root" title="Calendar" order="300"/>

  <menuitem name="quality-alert-calendar" parent="quality-calendar" title="Alert calendar"
    action="quality.alert.calendar" order="100"/>

  <action-view name="quality.alert.calendar" title="Alert calendar"
    model="com.axelor.apps.quality.db.QualityAlert">
    <view type="calendar" name="quality-alert-calendar"/>
  </action-view>

  <menuitem name="quality-control-calendar" parent="quality-calendar"
    title="Quality control calendar" action="quality.control.calendar" order="200"/>

  <action-view name="quality.control.calendar" title="Quality control calendar"
    model="com.axelor.apps.quality.db.QualityControl">
    <view type="calendar" name="quality-control-calendar"/>
    <domain>self.statusSelect &gt; 2</domain>
  </action-view>

  <menuitem name="quality-improvements" parent="menu-quality-root"
    title="Quality improvements" action="quality.improvements" order="400"/>

  <action-view name="quality.improvements" title="Quality improvements"
    model="com.axelor.apps.quality.db.QualityImprovement">
    <view type="kanban" name="quality-improvement-kanban"/>
    <view type="grid" name="quality-improvement-grid"/>
    <view type="form" name="quality-improvement-form"/>
  </action-view>

  <menuitem name="quality-reportings" parent="menu-quality-root" title="Reportings"
    icon="fa-bar-chart" order="500"/>

  <menuitem name="quality-reportings-dashboard" parent="quality-reportings"
    title="Quality Dashboard" action="quality.dashboard.view" order="100"/>

  <action-view name="quality.dashboard.view" title="Quality Dashboard">
    <view type="dashboard" name="quality.dashboard"/>
  </action-view>

  <menuitem name="quality-configurations" parent="menu-quality-root" title="Configuration"
    icon="fa-cog" order="600"/>

  <menuitem name="quality-control-plan-frequencies" parent="quality-configurations"
    title="Control plan frequencies" action="quality.control.plan.frequencies.view" order="80"/>

  <action-view name="quality.control.plan.frequencies.view"
    title="Control plan frequencies" model="com.axelor.apps.quality.db.ControlPlanFrequency">
    <view type="grid" name="control-plan-frequency-grid"/>
    <view type="form" name="control-plan-frequency-form"/>
  </action-view>

  <menuitem name="quality-control-type" parent="quality-configurations"
    title="Control type" action="quality.control.type.view" order="89"/>

  <action-view name="quality.control.type.view" title="Control type"
    model="com.axelor.apps.quality.db.ControlType">
    <view type="grid" name="control-type-grid"/>
    <view type="form" name="control-type-form"/>
  </action-view>

  <menuitem name="quality-control-plan-characteristics" parent="quality-configurations"
    title="Control plan characteristics" action="quality.control.plan.characteristics.view"
    order="90"/>



  <action-view name="quality.control.plan.characteristics.view"
    title="Control plan characteristics"
    model="com.axelor.apps.quality.db.ControlPlanLineCharacteristic">
    <view type="grid" name="control-plan-line-characteristic-grid"/>
    <view type="form" name="control-plan-line-characteristic-form"/>
  </action-view>

  <menuitem name="quality-teams" parent="quality-configurations" title="Quality teams"
    action="quality.teams" order="100"/>

  <action-view name="quality.teams" title="Quality teams"
    model="com.axelor.team.db.Team">
    <view type="grid" name="team-grid"/>
    <view type="form" name="team-form"/>
    <domain>self.typeSelect = 'quality'</domain>
    <context name="_typeSelect" expr="eval: 'quality'"/>
  </action-view>

  <menuitem name="quality-root-causes" parent="quality-configurations" title="Root causes"
    action="quality.root.causes" order="200"/>

  <action-view name="quality.root.causes" title="Root causes"
    model="com.axelor.apps.quality.db.RootCause">
    <view type="grid" name="root-cause-grid"/>
    <view type="form" name="root-cause-form"/>
  </action-view>

  <menuitem name="quality-tags" parent="quality-configurations" title="Tags"
    action="quality.tags" order="300"/>
  <action-view name="quality.tags" title="Tags" model="com.axelor.apps.base.db.Tag">
    <view type="grid" name="tag-simplified-grid"/>
    <view type="form" name="tag-form"/>
    <domain>:_packageName IN self.concernedModelSet.packageName OR self.concernedModelSet IS EMPTY</domain>
    <context name="_packageName" expr="eval: 'com.axelor.apps.quality.db'"/>
  </action-view>

  <menuitem name="quality-control-point-type" parent="quality-configurations"
    title="Control point type" action="quality.control.point.type" order="400"/>

  <action-view name="quality.control.point.type" title="Control point type"
    model="com.axelor.apps.quality.db.ControlPointType">
    <view type="grid" name="quality-control-point-type-grid"/>
    <view type="form" name="quality-control-point-type-form"/>
  </action-view>

  <menuitem name="quality-improvement-configurations" parent="quality-configurations"
    title="Quality improvement" order="500"/>

  <menuitem name="qi-detection" parent="quality-improvement-configurations"
    title="Detections" action="qi.detection" order="100"/>

  <action-view name="qi.detection" title="Detections"
    model="com.axelor.apps.quality.db.QIDetection">
    <view type="grid" name="qi-detection-grid"/>
    <view type="form" name="qi-detection-form"/>
  </action-view>

  <menuitem name="qi.status" parent="quality-improvement-configurations" title="Statuses"
    action="qi.status" order="200"/>

  <action-view name="qi.status" title="Statuses"
    model="com.axelor.apps.quality.db.QIStatus">
    <view type="grid" name="qi-status-grid"/>
    <view type="form" name="qi-status-form"/>
  </action-view>

  <menuitem name="qi.default" parent="quality-improvement-configurations" title="Defects"
    action="qi.default" order="300"/>

  <action-view name="qi.default" title="Defects"
    model="com.axelor.apps.quality.db.QIDefault">
    <view type="grid" name="qi-default-grid"/>
    <view type="form" name="qi-default-form"/>
  </action-view>

  <menuitem name="qi.decision" parent="quality-improvement-configurations"
    title="Decisions" action="qi.decision" order="400"/>

  <action-view name="qi.decision" title="Decisions"
    model="com.axelor.apps.quality.db.QIDecision">
    <view type="grid" name="qi-decision-grid"/>
    <view type="form" name="qi-decision-form"/>
  </action-view>

  <menuitem name="qi.analysis.method" parent="quality-improvement-configurations"
    title="Analysis methods" action="qi.analysis.method" order="800"/>

  <action-view name="qi.analysis.method" title="Analysis methods"
    model="com.axelor.apps.quality.db.QIAnalysisMethod">
    <view type="grid" name="qi-analysis-method-grid"/>
    <view type="form" name="qi-analysis-method-form"/>
  </action-view>

  <menuitem name="qi.analysis.method.item" parent="quality-improvement-configurations"
    title="Analysis method lines" action="qi.analysis.method.item" order="900"/>

  <action-view name="qi.analysis.method.item" title="Analysis method lines"
    model="com.axelor.apps.quality.db.QIAnalysisMethodItem">
    <view type="grid" name="qi-analysis-method-item-grid"/>
    <view type="form" name="qi-analysis-method-item-form"/>
  </action-view>
  <menuitem name="qi.cause" parent="quality-improvement-configurations" title="Causes"
    action="qi.cause" order="500"/>

  <action-view name="qi.cause" title="Causes" model="com.axelor.apps.quality.db.QICause">
    <view type="grid" name="qi-cause-grid"/>
    <view type="form" name="qi-cause-form"/>
  </action-view>

  <menuitem name="qi.process" parent="quality-improvement-configurations" title="Processes"
    action="qi.process" order="600"/>

  <action-view name="qi.process" title="Processes"
    model="com.axelor.apps.quality.db.QIProcess">
    <view type="grid" name="qi-process-grid"/>
    <view type="form" name="qi-process-form"/>
  </action-view>

  <menuitem name="qi.action" parent="quality-improvement-configurations" title="Actions"
    action="qi.action" order="700"/>

  <action-view name="qi.action" title="Actions"
    model="com.axelor.apps.quality.db.QIAction">
    <view type="grid" name="qi-action-grid"/>
    <view type="form" name="qi-action-form"/>
  </action-view>

</object-views>
