<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://apps.axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://apps.axelor.com/xml/ns/object-views http://apps.axelor.com/xml/ns/object-views/object-views_0.9.xsd">

	

	<menuitem name="hr-root" title="Humain Resources" priority="130"
		icon="img/icons/organisation.png" />

	<menuitem name="hr-root-employee" parent="hr-root"
		title="Employees" action="hr.root.employee" />

	<action-view name="hr.root.employee" title="Employees"
		model="com.axelor.apps.organisation.db.Employee" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="employee-grid" />
		<view type="form" name="employee-form" />
	</action-view>	
	
	<menuitem name="hr-root-allmanagers" parent="hr-root"
		title="All managers" action="hr.root.allmanagers" />

	<action-view name="hr.root.allmanagers" title="All managers"
		model="com.axelor.apps.organisation.db.Employee" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="employee-grid" />
		<view type="form" name="employee-form" />
		<domain>self.macroCategorySelect in (1,2,3)</domain>
	</action-view>	
	
	<menuitem name="hr-root-allworkers" parent="hr-root"
		title="All workers" action="hr.root.allworkers" />

	<action-view name="hr.root.allworkers" title="All workers"
		model="com.axelor.apps.organisation.db.Employee" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="employee-grid" />
		<view type="form" name="employee-form" />
		<domain>self.macroCategorySelect in (4,5,6)</domain>
	</action-view>	
	
	<menuitem name="hr-root-recruitment" title="Recruitment" parent="hr-root"/>
		
	<menuitem name="hr-root-recruitment-candidate" parent="hr-root-recruitment"
		title="All candidates" action="hr.root.recruitment.candidate" />

	<action-view name="hr.root.recruitment.candidate" title="All candidates"
		model="com.axelor.apps.organisation.db.Candidate" icon="img/icons/organisation_small.png">
		<view type="grid" name="candidate-grid" />
		<view type="form" name="candidate-form" />
	</action-view>

	<menuitem name="hr-root-recruitment-managers" parent="hr-root-recruitment"
		title="All managers candidates" action="hr.root.recruitment.managers" />

	<action-view name="hr.root.recruitment.managers" title="All managers candidates"
		model="com.axelor.apps.organisation.db.Candidate" icon="img/icons/organisation_small.png">
		<view type="grid" name="candidate-grid" />
		<view type="form" name="candidate-form" />
		<domain>self.macroCategorySelect in (1,2,3)</domain>
	</action-view>
	
	<menuitem name="hr-root-recruitment-workers" parent="hr-root-recruitment"
		title="All workers candidates" action="hr.root.recruitment.workers" />

	<action-view name="hr.root.recruitment.workers" title="All workers candidates"
		model="com.axelor.apps.organisation.db.Candidate" icon="img/icons/organisation_small.png">
		<view type="grid" name="candidate-grid" />
		<view type="form" name="candidate-form" />
		<domain>self.macroCategorySelect in (4,5,6)</domain>
	</action-view>
	
	<menuitem name="hr-root-inputforms" parent="hr-root"
		title="Input forms" />

	<menuitem name="hr-root-inputforms-timesheet" parent="hr-root-inputforms"
		title="My time sheet" action="hr.root.inputforms.timesheet"/>
		
	<action-view name="hr.root.inputforms.timesheet" title="My time sheet"
		model="com.axelor.apps.organisation.db.Timesheet" icon="img/icons/organisation_small.png">
		<view type="grid" name="timesheet-grid" />
		<view type="form" name="timesheet-form" />
	</action-view>
	
	<menuitem name="hr-root-inputforms-travelexpenses" parent="hr-root-inputforms"
		title="My travel expenses" action="hr.root.inputforms.travelexpenses"/>
		
	<action-view name="hr.root.inputforms.travelexpenses" title="My travel expenses"
		model="com.axelor.apps.organisation.db.Expense" icon="img/icons/organisation_small.png">
		<view type="grid" name="expense-grid" />
		<view type="form" name="expense-form" />
		<domain>self.statusSelect = 'submited'</domain>
	</action-view>
	
	<menuitem name="hr-root-inputforms-overtimes" parent="hr-root-inputforms"
		title="My overtimes" action="hr.root.inputforms.overtimes"/>
		
	<action-view name="hr.root.inputforms.overtimes" title="My overtimes"
		model="com.axelor.apps.organisation.db.Overtime" icon="img/icons/organisation_small.png">
		<view type="grid" name="overtime-grid" />
		<view type="form" name="overtime-form" />
		<domain>self.statusSelect = 'submited'</domain>
	</action-view>
	
	<menuitem name="hr-root-validationforms" parent="hr-root"
		title="Validation forms" />
		
	<menuitem name="hr-root-validationforms-timesheet" parent="hr-root-validationforms"
		title="Time sheet to validate" action="hr.root.validationforms.timesheet"/>
		
	<action-view name="hr.root.validationforms.timesheet" title="Time sheet to validate"
		model="com.axelor.apps.organisation.db.Timesheet" icon="img/icons/organisation_small.png">
		<view type="grid" name="timesheet-grid" />
		<view type="form" name="timesheet-form" />
	</action-view>
	
	<menuitem name="hr-root-validationforms-travelexpenses" parent="hr-root-validationforms"
		title="Travel expenses to validate" action="hr.root.validationforms.travelexpenses"/>
		
	<action-view name="hr.root.validationforms.travelexpenses" title="Travel expenses to validate"
		model="com.axelor.apps.organisation.db.Expense" icon="img/icons/organisation_small.png">
		<view type="grid" name="expense-grid" />
		<view type="form" name="expense-form" />
		<domain>self.statusSelect = 'validated'</domain>
	</action-view>
	
	<menuitem name="hr-root-validationforms-overtimes" parent="hr-root-validationforms"
		title="Overtimes to validate" action="hr.root.validationforms.overtimes"/>
		
	<action-view name="hr.root.validationforms.overtimes" title="Overtimes to validate"
		model="com.axelor.apps.organisation.db.Overtime" icon="img/icons/organisation_small.png">
		<view type="grid" name="overtime-grid" />
		<view type="form" name="overtime-form" />
		<domain>self.statusSelect = 'validated'</domain>
	</action-view>	
		
	<menuitem name="hr-root-paymentforms" parent="hr-root"
		title="Payment forms" />
	
	<menuitem name="hr-root-paymentforms-timesheet" parent="hr-root-paymentforms"
		title="Time sheet to be paid" action="hr.root.paymentforms.timesheet"/>
		
	<action-view name="hr.root.paymentforms.timesheet" title="Time sheet to be paid"
		model="com.axelor.apps.organisation.db.Timesheet" icon="img/icons/organisation_small.png">
		<view type="grid" name="timesheet-grid" />
		<view type="form" name="timesheet-form" />
	</action-view>
	
	<menuitem name="hr-root-paymentforms-travelexpenses" parent="hr-root-paymentforms"
		title="Travel expenses to be paid" action="hr.root.paymentforms.travelexpenses"/>
		
	<action-view name="hr.root.paymentforms.travelexpenses" title="Travel expenses to be paid"
		model="com.axelor.apps.organisation.db.Expense" icon="img/icons/organisation_small.png">
		<view type="grid" name="expense-grid" />
		<view type="form" name="expense-form" />
		<domain>self.statusSelect = 'paid'</domain>
	</action-view>
	
	<menuitem name="hr-root-paymentforms-overtimes" parent="hr-root-paymentforms"
		title="Overtimes to be paid" action="hr.root.paymentforms.overtimes"/>
		
	<action-view name="hr.root.paymentforms.overtimes" title="Overtimes to be paid"
		model="com.axelor.apps.organisation.db.Overtime" icon="img/icons/organisation_small.png">
		<view type="grid" name="overtime-grid" />
		<view type="form" name="overtime-form" />
		<domain>self.statusSelect = 'paid'</domain>
	</action-view>	
	
	<menuitem name="hr-root-conf" parent="hr-root" title="Configuration"
		icon="img/icons/parameter.png" />

	<menuitem name="hr-root-expense" parent="hr-root-conf"
		title="Les notes de frais" action="hr.root.expense" />

	<action-view name="hr.root.expense" title="Les notes de frais"
		model="com.axelor.apps.organisation.db.Expense" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="expense-grid" />
		<view type="form" name="expense-form" />
	</action-view>	
	
	<menuitem name="hr-root-leave-request" parent="hr-root-conf"
		title="Les demandes de congés" action="hr.root.leave.request" />

	<action-view name="hr.root.leave.request" title="Les demandes de congés"
		model="com.axelor.apps.organisation.db.LeaveRequest" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="leave-request-grid" />
		<view type="form" name="leave-request-form" />
		<view type="calendar" name="leave-request-calendar" />
	</action-view>

	<menuitem name="hr-root-overtime" parent="hr-root-conf"
		title="Les heures supplémentaires" action="hr.root.overtime" />

	<action-view name="hr.root.overtime" title="Les heures supplémentaires"
		model="com.axelor.apps.organisation.db.Overtime" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="overtime-grid" />
		<view type="form" name="overtime-form" />
	</action-view>	
	
	<menuitem name="hr-root-training" parent="hr-root-conf"
		title="Les formations" action="hr.root.training" />

	<action-view name="hr.root.training" title="Les formations"
		model="com.axelor.apps.organisation.db.Training" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="training-grid" />
		<view type="form" name="training-form" />
	</action-view>	
	
	<menuitem name="hr-root-timesheet" parent="hr-root-conf"
		title="Les feuilles de temps" action="hr.root.timesheet" />

	<action-view name="hr.root.timesheet" title="Les feuilles de temps"
		model="com.axelor.apps.organisation.db.Timesheet" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="timesheet-grid" />
		<view type="form" name="timesheet-form" />
	</action-view>	
	
	<menuitem name="hr-root-planning" parent="hr-root-conf"
		title="Les plannings" action="hr.root.planning" />

	<action-view name="hr.root.planning" title="Les plannings"
		model="com.axelor.apps.organisation.db.Planning" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="planning-grid" />
		<view type="form" name="planning-form" />
	</action-view>	
	
	<menuitem name="hr-root-schedule" parent="hr-root-conf"
		title="Les horaires" action="hr.root.schedule" />

	<action-view name="hr.root.schedule" title="Les horaires"
		model="com.axelor.apps.organisation.db.Schedule" icon="img/evo-icons/organisation_small.png">
		<view type="grid" name="schedule-grid" />
		<view type="form" name="schedule-form" />
	</action-view>	
	
	<menuitem name="hr-root-config-public-holidays" parent="hr-root-conf"
		title="Les jours fériés" action="hr.root.config.public.holidays" />
		
	<action-view name="hr.root.config.public.holidays" title="Les jours fériés"
		model="com.axelor.apps.organisation.db.PublicHolidays" icon="img/evo-icons/parameter_small.png">
		<view type="grid" name="public-holidays-grid" />
		<view type="form" name="public-holidays-form" />
	</action-view>	

	
	
	<menuitem name="affair-root" title="Affair" priority="120"
		icon="img/icons/affair.png" />
	
	<menuitem name="affair-root-project" parent="affair-root"
		title="Les affaires" action="affair.root.project" />

	<action-view name="affair.root.project" title="Les affaires"
		model="com.axelor.apps.organisation.db.Project" icon="img/icons/affair_small.png">
		<view type="grid" name="project-grid" />
		<view type="form" name="project-form" />
	</action-view>	
	
	
	<menuitem name="project-root" title="Project" priority="110"
		icon="img/icons/project.png" />

	<menuitem name="menu-gant1" parent="project-root"
    title="Gantt Diagram" action="demo.gantt1"/>
    
	<action-view name="demo.gantt1" title="Diagramme de Gantt" icon="img/icons/project_small.png">
    	<view type="html" name="samples/gantt1.html" />
  	</action-view>


	<menuitem name="project-root-project" parent="project-root"
		title="Projects" action="project.root.project" />

	<action-view name="project.root.project" title="Les projets"
		model="com.axelor.apps.organisation.db.Project" icon="img/icons/project_small.png">
		<view type="grid" name="project-grid" />
		<view type="form" name="project-form" />
	</action-view>
	
	<menuitem name="project-root-task" parent="project-root"
		title="Tasks" action="project.root.task" />

	<action-view name="project.root.task" title="Les tâches"
		model="com.axelor.apps.organisation.db.Task" icon="img/icons/project_small.png">
		<view type="grid" name="task-grid" />
		<view type="form" name="task-form" />
		<view type="calendar" name="task-calendar"/>
	</action-view>


</object-views>
