<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://apps.axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://apps.axelor.com/xml/ns/object-views http://apps.axelor.com/xml/ns/object-views/object-views_3.0.xsd">

	<menuitem name="hr-root" title="Human Resources" priority="130"
		icon="img/Other/organisation_70px.png" groups="admins,erp"/>

	<menuitem name="hr-root-employee" parent="hr-root"
		title="Employees" action="hr.root.employee" />

	<action-view name="hr.root.employee" title="Employees"
		model="com.axelor.apps.organisation.db.Employee" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="employee-grid" />
		<view type="form" name="employee-form" />
		<view-param name="search-filters" value="employee-filters"/>
	</action-view>
	
	<menuitem name="hr-root-mission-order" parent="hr-root"
		title="Mission order" action="hr.root.mission.order" />

	<action-view name="hr.root.mission.order" title="Mission order"
		model="com.axelor.apps.organisation.db.MissionOrder" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="mission-order-grid" />
		<view type="form" name="mission-order-form" />
	</action-view>	
	
	<menuitem name="hr-root-recruitment" title="Recruitment" parent="hr-root"/>
	
	<menuitem name="hr-root-recruitment-jobOffer" parent="hr-root-recruitment"
		title="Job Offer" action="hr.root.recruitment.jobOffer" />

	<action-view name="hr.root.recruitment.jobOffer" title="Job Offer"
		model="com.axelor.apps.organisation.db.JobOffer" >
		<view type="grid" name="job-offer-grid" />
		<view type="form" name="job-offer-form" />
	</action-view>
	
		
	<menuitem name="hr-root-recruitment-candidate" parent="hr-root-recruitment"
		title="Candidates" action="hr.root.recruitment.candidate" />

	<action-view name="hr.root.recruitment.candidate" title="Candidates"
		model="com.axelor.apps.organisation.db.Candidate" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="candidate-grid" />
		<view type="form" name="candidate-form" />
	</action-view>
	
	
<!-- 	<menuitem name="hr-root-recruitment-managers" parent="hr-root-recruitment" -->
<!-- 		title="Manager candidates" action="hr.root.recruitment.managers" /> -->

<!-- 	<action-view name="hr.root.recruitment.managers" title="Managers candidates" -->
<!-- 		model="com.axelor.apps.organisation.db.Candidate" icon="img/16px/organisationSmall_16px.png"> -->
<!-- 		<view type="grid" name="candidate-grid" /> -->
<!-- 		<view type="form" name="candidate-form" /> -->
<!-- 		<domain>self.macroCategorySelect in (1,2,3)</domain> -->
<!-- 	</action-view> -->
	
<!-- 	<menuitem name="hr-root-recruitment-workers" parent="hr-root-recruitment" -->
<!-- 		title="Workers candidates" action="hr.root.recruitment.workers" /> -->

<!-- 	<action-view name="hr.root.recruitment.workers" title="Workers candidates" -->
<!-- 		model="com.axelor.apps.organisation.db.Candidate" icon="img/16px/organisationSmall_16px.png"> -->
<!-- 		<view type="grid" name="candidate-grid" /> -->
<!-- 		<view type="form" name="candidate-form" /> -->
<!-- 		<domain>self.macroCategorySelect in (4,5,6)</domain> -->
<!-- 	</action-view> -->

	<menuitem name="hr-root-my-timesheet-line-calendar" parent="hr-root-inputforms"
		title="My timesheet calendar" action="hr.root.my.timesheet.line.calendar" icon="img/16px/calendarTask_16px.png"/>
		
	<action-view name="hr.root.my.timesheet.line.calendar" title="My timesheet calendar"
		model="com.axelor.apps.organisation.db.TimesheetLine" icon="img/16px/calendarTask_16px.png">
		<view type="calendar" name="timesheet-line-calendar" />
		<view type="form" name="timesheet-line-calendar-form" />
		<view type="grid" name="timesheet-line-calendar-grid" />
		<domain>self.timesheet.user = :__user__ and self.timesheet.statusSelect = :_statusSelect</domain>		
		<context name="_statusSelect" expr="1"/>
	</action-view>

	
	<menuitem name="hr-root-inputforms" parent="hr-root"
		title="Input forms" />

	<menuitem name="hr-root-inputforms-timesheet" parent="hr-root-inputforms"
		title="My timesheet" action="hr.root.inputforms.timesheet"/>
		
	<action-view name="hr.root.inputforms.timesheet" title="My timesheet"
		model="com.axelor.apps.organisation.db.Timesheet" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="timesheet-grid" />
		<view type="form" name="timesheet-form" />
		<domain>self.user = :__user__ and self.statusSelect = 1</domain>		
		<context name="_statusSelect" expr="1"/>
	</action-view>
	
	<menuitem name="hr-root-inputforms-expenses" parent="hr-root-inputforms"
		title="My expenses" action="hr.root.inputforms.expenses"/>
		
	<action-view name="hr.root.inputforms.expenses" title="My expenses"
		model="com.axelor.apps.organisation.db.Expense" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="expense-grid" />
		<view type="form" name="expense-form" />
		<domain>self.user = :__user__</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
	</action-view>
	
	<menuitem name="hr-root-inputforms-overtimes" parent="hr-root-inputforms"
		title="My overtimes" action="hr.root.inputforms.overtimes"/>
		
	<action-view name="hr.root.inputforms.overtimes" title="My overtimes"
		model="com.axelor.apps.organisation.db.Overtime" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="overtime-grid" />
		<view type="form" name="overtime-form" />
		<domain>self.user = :__user__</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
	</action-view>
	
	<menuitem name="hr-root-inputforms-leave-request" parent="hr-root-inputforms"
		title="My leave requests" action="hr.root.inputforms.leave.request" />

	<action-view name="hr.root.inputforms.leave.request" title="My leave requests"
		model="com.axelor.apps.organisation.db.LeaveRequest" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="leave-request-grid" />
		<view type="form" name="leave-request-form" />
		<view type="calendar" name="leave-request-calendar" />
		<domain>self.employeeUser = :__user__</domain>
	</action-view>
	
	<menuitem name="hr-root-validationforms" parent="hr-root"
		title="Validation forms" />
		
	<menuitem name="hr-root-validationforms-timesheet" parent="hr-root-validationforms"
		title="Timesheets to validate" action="hr.root.validationforms.timesheet"/>
		
	<action-view name="hr.root.validationforms.timesheet" title="Timesheets to validate"
		model="com.axelor.apps.organisation.db.Timesheet" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="timesheet-grid" />
		<view type="form" name="timesheet-form" />
		<domain>self.statusSelect = 2</domain>
		<context name="_statusSelect" expr="1"/>
	</action-view>
	
	<menuitem name="hr-root-validationforms-expenses-manager" parent="hr-root-validationforms"
		title="Expenses to validate by RSC Manager" action="hr.root.validationforms.expenses.manager"/>
		
	<action-view name="hr.root.validationforms.expenses.manager" title="Expenses to validate by RSC Manager"
		model="com.axelor.apps.organisation.db.Expense" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="expense-grid" />
		<view type="form" name="expense-form" />
		<domain>self.statusSelect = '3'</domain>
	</action-view>
	
	<menuitem name="hr-root-validationforms-Expenses-commercial" parent="hr-root-validationforms" action="hr.root.validationforms.expenses.commercial"
		title="Expenses to validate by commercial" />
		
	<action-view name="hr.root.validationforms.expenses.commercial" title="Expenses to validate by commercial"
		model="com.axelor.apps.organisation.db.Expense" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="expense-grid" />
		<view type="form" name="expense-form" />
		<domain>self.statusSelect = '4'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
	</action-view>
	
	<menuitem name="hr-root-validationforms-overtimes" parent="hr-root-validationforms"
		title="Overtimes to validate" action="hr.root.validationforms.overtimes"/>
		
	<action-view name="hr.root.validationforms.overtimes" title="Overtimes to validate"
		model="com.axelor.apps.organisation.db.Overtime" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="overtime-grid" />
		<view type="form" name="overtime-form" />
		<domain>self.statusSelect = '2'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
	</action-view>	
	
	<menuitem name="hr-root-validationforms-leave-request" parent="hr-root-validationforms"
		title="Leave requests to validate" action="hr.root.validationforms.leave.request" />

	<action-view name="hr.root.validationforms.leave.request" title="Leave requests to validate"
		model="com.axelor.apps.organisation.db.LeaveRequest" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="leave-request-grid" />
		<view type="form" name="leave-request-form" />
		<view type="calendar" name="leave-request-calendar" />
		<domain>self.statusSelect = 2 and self.managerUser = :__user__ or self.employeeUser = :__user__ and self.statusSelect = 2</domain>		
	</action-view>
		
	<menuitem name="hr-root-paymentforms" parent="hr-root"
		title="Payment forms" />
	
	<menuitem name="hr-root-paymentforms-expenses" parent="hr-root-paymentforms"
		title="Expenses to be paid" action="hr.root.paymentforms.expenses"/>
		
	<action-view name="hr.root.paymentforms.expenses" title="Expenses to be paid"
		model="com.axelor.apps.organisation.db.Expense" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="expense-grid" />
		<view type="form" name="expense-form" />
		<domain>self.statusSelect = '4'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
	</action-view>
	
	<menuitem name="hr-root-paymentforms-overtimes" parent="hr-root-paymentforms"
		title="Overtimes to be paid" action="hr.root.paymentforms.overtimes"/>
		
	<action-view name="hr.root.paymentforms.overtimes" title="Overtimes to be paid"
		model="com.axelor.apps.organisation.db.Overtime" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="overtime-grid" />
		<view type="form" name="overtime-form" />
		<domain>self.statusSelect = '4'</domain>
		<context name="_activeCompany" expr="eval:__user__.activeCompany"/>
	</action-view>	
	
	<menuitem name="hr-root-history" parent="hr-root"
		title="History" />
		
	<menuitem name="hr-root-history-olds-timesheets" parent="hr-root-history"
		title="Olds timesheets" action="hr.root.history.olds.timesheets"/>
		
	<action-view name="hr.root.history.olds.timesheets" title="Olds timesheets"
		model="com.axelor.apps.organisation.db.Timesheet" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="timesheet-grid" />
		<view type="form" name="timesheet-form" />
		<domain>self.statusSelect = 3</domain>
		<context name="_statusSelect" expr="1"/>
	</action-view>	
		
	<menuitem name="hr-root-conf" parent="hr-root" title="Configuration"
		icon="img/Other/parameter_59px.png" />

	<menuitem name="hr-root-training" parent="hr-root-conf"
		title="Trainings" action="hr.root.training" />

	<action-view name="hr.root.training" title="Trainings"
		model="com.axelor.apps.organisation.db.Training" icon="img/16px/parameterSmall_16px.png">
		<view type="grid" name="training-grid" />
		<view type="form" name="training-form" />
	</action-view>	
	
	<menuitem name="hr-root-planning" parent="hr-root-conf"
		title="Plannings" action="hr.root.planning" />

	<action-view name="hr.root.planning" title="Plannings"
		model="com.axelor.apps.organisation.db.Planning" icon="img/16px/parameterSmall_16px.png">
		<view type="grid" name="planning-grid" />
		<view type="form" name="planning-form" />
	</action-view>	
	
	<menuitem name="hr-root-schedule" parent="hr-root-conf"
		title="Working hours" action="hr.root.schedule" />

	<action-view name="hr.root.schedule" title="Working hours"
		model="com.axelor.apps.organisation.db.Schedule" icon="img/16px/parameterSmall_16px.png">
		<view type="grid" name="schedule-grid" />
		<view type="form" name="schedule-form" />
	</action-view>	
	
	<menuitem name="hr-root-config-public-holidays" parent="hr-root-conf"
		title="Public holidays" action="hr.root.config.public.holidays" />
		
	<action-view name="hr.root.config.public.holidays" title="Public holidays"
		model="com.axelor.apps.organisation.db.PublicHolidays" icon="img/16px/parameterSmall_16px.png">
		<view type="grid" name="public-holidays-grid" />
		<view type="form" name="public-holidays-form" />
	</action-view>	
	
	<menuitem name="hr-root-conf-task-leave-request-reason" parent="hr-root-conf"
		title="Leave request reasons" action="hr.root.conf.task.leave.request.reason" />

	<action-view name="hr.root.conf.task.leave.request.reason" title="Leave request reasons"
		model="com.axelor.apps.organisation.db.Task" icon="img/16px/projectSmall_16px.png">
		<view type="grid" name="task-leave-reason-grid" />
		<view type="form" name="task-leave-reason-form" />
		<domain>self.isLeaveRequest = true</domain>
	</action-view>

	<menuitem name="business-root" title="Business" priority="120"
		icon="img/Other/business_53px.png" groups="admins,erp"/>
		
	<menuitem name="business-root-project-new-business" parent="business-root" icon="img/16px/create_16px.png"
		title="New Business" action="business.root.project.new.business" />

	<action-view name="business.root.project.new.business" title="New Business"
		model="com.axelor.apps.organisation.db.Project" icon="img/16px/businessSmall_16px.png">
		<view type="form" name="business-project-form" />
		<view type="grid" name="business-project-grid" />
		<domain>self.isBusiness = true</domain>
	</action-view>	
		
	<menuitem name="business-root-project-all-business" parent="business-root"
		title="Business" action="business.root.project.all.business" />

	<action-view name="business.root.project.all.business" title="Business"
		model="com.axelor.apps.organisation.db.Project" icon="img/16px/businessSmall_16px.png">
		<view type="grid" name="business-project-grid" />
		<view type="form" name="business-project-form" />
		<domain>self.isBusiness = true</domain>
	</action-view>	
	
	
	<menuitem name="project-root" title="Project" priority="110"
		icon="img/Other/project_100px.png" groups="admins,erp"/>

<!-- 	<menuitem name="menu-gant1" parent="project-root" -->
<!--     title="Gantt Diagram" action="demo.gantt1"/> -->
    
<!-- 	<action-view name="demo.gantt1" title="Gantt Diagram" icon="img/16px/projectSmall_16px.png"> -->
<!--     	<view type="html" name="samples/gantt1.html" /> -->
<!--   	</action-view> -->


	<menuitem name="project-root-project" parent="project-root"
		title="Projects" action="project.root.project" />

	<action-view name="project.root.project" title="Projects"
		model="com.axelor.apps.organisation.db.Project" icon="img/16px/projectSmall_16px.png">
		<view type="grid" name="project-grid" />
		<view type="form" name="project-form" />
		<view-param name="search-filters" value="project-filters"/>
		<domain>self.isProject = true</domain>
	</action-view>
	
	<menuitem name="project-root-task" parent="project-root"
		title="Tasks" action="project.root.task" />

	<action-view name="project.root.task" title="Tasks"
		model="com.axelor.apps.organisation.db.Task" icon="img/16px/projectSmall_16px.png">
		<view type="grid" name="task-grid" />
		<view type="form" name="task-form" />
		<view type="calendar" name="task-calendar"/>
		<view-param name="search-filters" value="tasks-filters"/>
		<context name="_internalUser" expr="eval: __user__.id"/>
		<context name="_todayDateTime" expr="call:com.axelor.apps.base.service.administration.GeneralService:getTodayDateTime()"/>
		<context name="_newDate" expr="eval: __datetime__.plusDays(5)"/>
	</action-view>
	
	<menuitem name="menu-organisation-dashboard-sample" parent="menu-dashboards-sample" priority="165"
		title="Organisation Dashboard" icon="img/16px/chart_16px.png" action="organisation.dashboard.view.sample"/>	

	<action-view name="organisation.dashboard.view.sample" title="Organisation Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="dashboard" name="org.project.dashboard.sample" />	    
	</action-view>
	
	<menuitem name="menu-project-business-dashboard" parent="menu-dashboards" priority="120"
		title="Project/Business" />	
	
	<menuitem name="menu-project-business-dashboard-1" parent="menu-project-business-dashboard" 
		title="Project/Business Db" icon="img/16px/chart_16px.png" action="project.business.dashboard.view"/>	
	
	<action-view title="Project/Business Db"  name="project.business.dashboard.view">
	  <view type="dashboard" name="org.project.dashboard"/>
	</action-view>
	
	<menuitem name="menu-human-resources-dashboard-sample" parent="menu-dashboards-sample" priority="160"
		title="Human Resources Db" icon="img/16px/chart_16px.png" action="human.resources.dashboard.view.sample" />	

	<action-view name="human.resources.dashboard.view.sample" title="Human Resources Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="dashboard" name="human.resources.dashboard.sample" />
		<context name="_user_id" expr="eval:__user__.id"/>
	</action-view>

	<menuitem name="menu-human-resources-dashboard" parent="menu-dashboards" 
		title="Human Resources" priority="100" />	
	
	<menuitem name="menu-human-resources-dashboard-db-1" parent="menu-human-resources-dashboard" 
		title="Human Resources Db 1" icon="img/16px/chart_16px.png" action="human.resources.dashboard.db1.view" />	
	
	<action-view name="human.resources.dashboard.db1.view" title="Human Resources Db 1"
		icon="img/16px/crmSmall_16px.png">
		<view type="dashboard" name="human.resources.dashboard.1" />
		<context name="_user_id" expr="eval:__user__.id"/>
	</action-view>
	
	<menuitem name="menu-human-resources-dashboard-db-2" parent="menu-human-resources-dashboard" 
		title="Human Resources Db 2" icon="img/16px/chart_16px.png" action="human.resources.dashboard.db2.view" />	

	<action-view name="human.resources.dashboard.db2.view" title="Human Resources Db 2"
		icon="img/16px/crmSmall_16px.png">
		<view type="dashboard" name="human.resources.dashboard.2" />
		<context name="_user_id" expr="eval:__user__.id"/>
	</action-view>
	
	<!-- TOP MENU -->
	
	<menuitem name="top-hr" title="HR" left="false" top="true" groups="admins,erp"/>
	<menuitem name="top-hr-profile" title="My HR Profile" parent="top-hr" priority="100" action="top.hr.profile"/>
	<action-view name="top.hr.profile" title="My HR Profile"
		model="com.axelor.apps.organisation.db.Employee" icon="img/16px/organisationSmall_16px.png">
		<view type="grid" name="employee-grid" />
		<view type="form" name="employee-form" />
		<domain>self.id = :_employeeId</domain>
  		<context name="_employeeId" expr="eval: __user__?.employee?.id"/>
  		<context name="_showSingle" expr="true"/>
	</action-view>
	<menuitem name="top-hr-employees" title="View Employees" parent="top-hr" priority="90" action="hr.root.employee"/>
	<menuitem name="top-hr-create-timesheet" title="Create Timesheet" parent="top-hr" priority="80" action="top.hr.create.timesheet"/>
	<action-view name="top.hr.create.timesheet" title="Create Timesheet" model="com.axelor.apps.organisation.db.Timesheet">
		<view type="form" name="timesheet-form"/>
	</action-view>
	<menuitem name="top-hr-timsheet-all" title="View Timesheets" parent="top-hr" priority="80" action="hr.root.inputforms.timesheet"/>
	<menuitem name="top-hr-create-leave-request" title="Create Leave Request" parent="top-hr" priority="70" action="top.hr.create.leave.request"/>
	<action-view name="top.hr.create.leave.request" title="Create Leave Request" model="com.axelor.apps.organisation.db.LeaveRequest">
		<view type="form" name="leave-request-form"/>
	</action-view>
	<menuitem name="top-hr-leave-request-all" title="View Leave Requests" parent="top-hr" priority="60" action="hr.root.inputforms.leave.request"/>
	<menuitem name="top-hr-create-expense" title="Create Expense" parent="top-hr" priority="50" action="top.hr.create.expense"/>
	
	<action-view name="top.hr.create.expense" title="Create Expense" model="com.axelor.apps.organisation.db.Expense">
		<view type="form" name="expense-form"/>
	</action-view>
	<menuitem name="top-hr-expense-all" title="View Expenses" parent="top-hr" priority="40" action="hr.root.inputforms.expenses"/>
	<menuitem name="top-hr-create-job-offer" title="Create Job Offer" parent="top-hr" priority="30" action="top.hr.create.job.offer"/>
	<action-view name="top.hr.create.job.offer" title="Create Job Offer" model="com.axelor.apps.organisation.db.JobOffer" >
		<view type="form" name="job-offer-form" />
	</action-view>
	<menuitem name="top-hr-job-offer-all" title="View Job Offers" parent="top-hr" priority="20" action="hr.root.recruitment.jobOffer"/>
	
	<menuitem name="top-project" title="Project" left="false" top="true" groups="admins,erp"/>
	<menuitem name="top-project-create-project" title="Create Project" priority="100" parent="top-project" action="top.project.create.project"/>
	<action-view name="top.project.create.project" title="Create Project" model="com.axelor.apps.organisation.db.Project">
		<view type="form" name="project-form"/>
	</action-view>
	<menuitem name="top-project-project-all" title="View Projects" priority="90" parent="top-project" action="project.root.project"/>
	<menuitem name="top-project-create-task" title="Create Task" parent="top-project" priority="80" action="top.project.create.task"/>
	<action-view name="top.project.create.task" title="Create Task" model="com.axelor.apps.organisation.db.Task">
		<view type="form" name="task-form"/>
	</action-view>
	<menuitem name="top-project-task-all" title="View Tasks" priority="70" parent="top-project" action="project.root.task"/>
</object-views>
