<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://apps.axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://apps.axelor.com/xml/ns/object-views http://apps.axelor.com/xml/ns/object-views/object-views_2.0.xsd">
	
	<menuitem name="stock-root" title="Stock management"  priority="85"
	icon="img/16px/baggageCartBox_16px.png" groups="admins,erp"/>
		
	<menuitem name="stock-root-custdeliveries" parent="stock-root"
		title="Customer Deliveries" action="stock.root.custdeliveries" />

	<action-view name="stock.root.custdeliveries" title="Customer Deliveries"
		model="com.axelor.apps.supplychain.db.StockMove" icon="img/16px/productSmall_16px.png">
		<view type="grid" name="stock-move-out-grid"/>
		<view type="form" />
		<view-param name="search-filters" value="customer-deliveries-filters"/>
		<domain>self.toLocation.typeSelect = 2</domain>
		<context name="_typeSelect" expr="2"/>
	</action-view>
					
	<menuitem name="stock-root-suparrivals" parent="stock-root"
		title="Supplier Arrivals" action="stock.root.suparrivals" />

	<action-view name="stock.root.suparrivals" title="Supplier Arrivals"
		model="com.axelor.apps.supplychain.db.StockMove" icon="img/16px/productSmall_16px.png">
		<view type="grid" name="stock-move-in-grid"/>
		<view type="form" />
		<view-param name="search-filters" value="supplier-arrivals-filters"/>
		<domain>self.fromLocation.typeSelect = 2</domain>
		<context name="_typeSelect" expr="3"/>
		<context name="_newDate" expr="eval: __date__.plusWeeks(1)"/>
	</action-view>	
	
			
	<menuitem name="stock-root-internal" parent="stock-root"
		title="Internal Stock Moves" action="stock.root.internal" />

	<action-view name="stock.root.internal" title="Internal Stock Moves"
		model="com.axelor.apps.supplychain.db.StockMove" icon="img/16px/productSmall_16px.png">
		<view type="grid" name="stock-move-grid"/>
		<view type="form" />
		<view-param name="search-filters" value="internal-stock-move-filters"/>
		<domain>self.fromLocation.typeSelect = 1 OR self.toLocation.typeSelect = 1</domain>
		<context name="_typeSelect" expr="1"/>
	</action-view>		
		
		
	<menuitem name="stock-root-inventories" parent="stock-root"
		title="Periodical processing"/>		
		
	<menuitem name="stock-root-inventories-draft" parent="stock-root-inventories"
		title="Inventories" action="stock.root.inventories.draft" icon="img/16px/inventory_16px.png"/>
	
	<action-view name="stock.root.inventories.draft" title="Inventories"
		model="com.axelor.apps.supplychain.db.Inventory" icon="img/16px/inventory_16px.png">
		<view type="grid" />
		<view type="form" />
		<view-param name="search-filters" value="inventories-filters"/>
	</action-view>
	
	<menuitem name="stock-root-all-line" parent="stock-root"
		title="Stock Moves Lines" action="stock.root.all.line" />

	<action-view name="stock.root.all.line" title="Stock Moves Lines"
		model="com.axelor.apps.supplychain.db.StockMoveLine" icon="img/16px/productSmall_16px.png">
		<view type="grid" name="stock-move-line-all-grid"/>
		<view type="form" name="stock-move-line-all-form"/>
	</action-view>		
		
	<menuitem name="stock-root-conf" parent="stock-root" title="Configuration"
		icon="img/Other/parameter_59px.png" />
		
	<menuitem name="stock-root-location" parent="stock-root-conf"
		title="Stock Locations" action="stock.root.location" />
	
	<action-view name="stock.root.location" title="Stock Locations"
		model="com.axelor.apps.supplychain.db.Location" icon="img/16px/addressBook_16px.png">
		<view type="grid" />
		<view type="form" />
	</action-view>
	
	<menuitem name="stock-root-conf-min-stock-rules" parent="stock-root-conf"
		title="Minimum stock rules" action="stock.root.conf.min.Stock.rules" />
	
	<action-view name="stock.root.conf.min.Stock.rules" title="Minimum stock rules"
		model="com.axelor.apps.supplychain.db.MinStockRules" icon="img/16px/addressBook_16px.png">
		<view type="grid" />
		<view type="form" />
	</action-view>
	
	<menuitem name="sc-root-sales" title="Sales" priority="150"
		icon="img/32px/order_32px.png" groups="admins,erp,crm"/>
			
	<menuitem name="sc-root-sales-new-so" title="New Sale order" priority="2" icon="img/16px/create_16px.png"
		 groups="admins,erp" action="sc.root.sales.new.so" parent="sc-root-sales"/>
		
	<action-view name="sc.root.sales.new.so" title="New Sale order"
		model="com.axelor.apps.supplychain.db.SalesOrder" icon="img/16px/create_16px.png">
		<view type="form" name="sales-order-form"/>
		<view type="grid" name="sales-order-grid"/>
		<view-param name="search-filters" value="sales-order-filters"/>
		<context name="_internalUser" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserInfoService:getUserActiveTeam()"/>
	</action-view>	
	
	<menuitem name="sc-root-sales-orders" parent="sc-root-sales" priority="1"
		groups="admins,erp" title="Sale orders" action="sc.root.sales.orders" />
	
	<action-view name="sc.root.sales.orders" title="Sale orders"
		model="com.axelor.apps.supplychain.db.SalesOrder" icon="img/16px/orderSmall_16px.png">
		<view type="grid" name="sales-order-grid" />
		<view type="form" name="sales-order-form" />
		<view-param name="search-filters" value="sales-order-filters"/>
		<context name="_internalUser" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserInfoService:getUserActiveTeam()"/>
	</action-view>	
	
	
	<menuitem name="sc-root-purchases" title="Purchases" priority="150" 
		icon="img/32px/order_32px.png" groups="admins,erp"/>
		
	<menuitem name="sc-root-purchase-order-new" title="New Purchase order" priority="2" icon="img/16px/create_16px.png"
		groups="admins,erp" action="sc.root.purchase.order.new" parent="sc-root-purchases"/>
		
	<action-view name="sc.root.purchase.order.new" title="New Purchase order"
		model="com.axelor.apps.supplychain.db.PurchaseOrder" icon="img/16px/create_16px.png">
		<view type="form" name="purchase-order-form" />
		<view type="grid" name="purchase-order-grid" />
	</action-view>	
	
	<menuitem name="sc-root-purchase-orders" title="Purchase orders" priority="1" 
		groups="admins,erp" action="sc.root.purchase.orders" parent="sc-root-purchases"/>

	<action-view name="sc.root.purchase.orders" title="Purchase orders"
		model="com.axelor.apps.supplychain.db.PurchaseOrder" icon="img/16px/orderSmall_16px.png">
		<view type="grid" name="purchase-order-grid" />
		<view type="form" name="purchase-order-form" />
		<view-param name="search-filters" value="purchases-order-filters"/>
		<context name="_internalUser" expr="eval: __user__.id"/>
	</action-view>



<!-- ADMINISTRATION -->


	<menuitem name="admin-root-batch-supplychain" parent="admin-root-batch"
		title="Supplychain batches" action="admin.root.batch.supplychain" />

	<action-view name="admin.root.batch.supplychain" title="Supplychain batches"
		model="com.axelor.apps.supplychain.db.SupplychainBatch" icon="img/16px/parameterSmall_16px.png">
		<view type="grid" />
		<view type="form" />
	</action-view>
	
	
	<menuitem name="admin-root-conf-supplychain-config" parent="admin-root-conf"
		title="Supplychain configurations" action="admin.root.conf.supplychain.config" icon="img/Other/parameter_59px.png"/>
		
	<action-view name="admin.root.conf.supplychain.config" title="Supplychain configurations"
		model="com.axelor.apps.supplychain.db.SupplychainConfig" icon="img/16px/parameterSmall_16px.png">
		<view type="grid" />
		<view type="form" />
	</action-view>



<!-- TOP MENU -->

	<menuitem name="top-menu-create-so" parent="top-menu-utility" title="Create SO" action="supply.chain.root.sales.order" icon="img/16px/create_16px.png"/>
	
	<action-view name="supply.chain.root.sales.order" title="Sales order"
		model="com.axelor.apps.supplychain.db.SalesOrder" >
		<view type="form" name="sales-order-form" />
		<view type="grid" name="sales-order-grid" />
	</action-view>	
	

	<menuitem name="top-sales" title="Sales" groups="admins,erp,crm" top="true" left="false" priority="160"/>
	
	<menuitem name="top-sales-all" title="All Sales Docs" action="sc.root.sales.orders" parent="top-sales" groups="admins,erp" top="true" left="false"/>
	
	
	<menuitem name="top-sales-offers" title="Quotes" action="top.sales.offers" parent="top-sales" groups="admins,erp" top="true" left="false"/>
	<action-view name="top.sales.offers" title="Quotes"
		model="com.axelor.apps.supplychain.db.SalesOrder" >
		<view type="grid" name="sales-order-grid" />
		<view type="form" name="sales-order-form" />
		<view-param name="search-filters" value="sales-order-filters"/>
		<domain>self.statusSelect = 2</domain>
		<context name="_internalUser" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserInfoService:getUserActiveTeam()"/>
	</action-view>	
	
	
	<menuitem name="top-sales-orders" title="Orders" action="top.sales.orders" parent="top-sales" groups="admins,erp" top="true" left="false"/>		
	
	<action-view name="top.sales.orders" title="Orders"
		model="com.axelor.apps.supplychain.db.SalesOrder" >
		<view type="grid" name="sales-order-grid" />
		<view type="form" name="sales-order-form" />
		<view-param name="search-filters" value="sales-order-filters"/>
		<domain>self.statusSelect = 3</domain>
		<context name="_internalUser" expr="eval: __user__.id"/>
		<context name="_myActiveTeam" expr="call:com.axelor.apps.base.service.user.UserInfoService:getUserActiveTeam()"/>
	</action-view>	
	
	<menuitem name="top-purchase" title="Purchases" groups="admins,erp" top="true" left="false" priority="150"/>
	
	<menuitem name="top-purchase-all" title="All Purchases Docs" action="sc.root.purchase.orders" parent="top-purchase" groups="admins,erp" top="true" left="false"/>		
	
	<menuitem name="top-purchase-quotes" title="RFQ" action="top.purchase.quotes" parent="top-purchase" groups="admins,erp" top="true" left="false"/>		
	
	<action-view name="top.purchase.quotes" title="RFQ"
		model="com.axelor.apps.supplychain.db.PurchaseOrder" >
		<view type="grid" name="purchase-order-grid" />
		<view type="form" name="purchase-order-form" />
		<view-param name="search-filters" value="purchases-order-filters"/>
		<domain>self.statusSelect in (2,3) </domain>
	</action-view>	
	
	<menuitem name="top-purchase-orders" title="Orders" action="top.purchase.orders" parent="top-purchase" groups="admins,erp" top="true" left="false"/>		
	
	<action-view name="top.purchase.orders" title="Orders"
		model="com.axelor.apps.supplychain.db.PurchaseOrder" >
		<view type="grid" name="purchase-order-grid" />
		<view type="form" name="purchase-order-form" />
		<view-param name="search-filters" value="purchases-order-filters"/>
		<domain>self.statusSelect in (4,5) </domain>
	</action-view>		
	
	<menuitem name="top-stock" title="Stock" groups="admins,erp" top="true" left="false" priority="140"/>
	
	<menuitem name="top-stock-moves-all" title="Stock moves" action="top.stock.moves.all" parent="top-stock" groups="admins,erp" top="true" left="false"/>	
	
	<action-view name="top.stock.moves.all" title="Stock moves"
		model="com.axelor.apps.supplychain.db.StockMove" icon="img/16px/productSmall_16px.png">
		<view type="grid" name="stock-move-grid"/>
		<view type="form" />
		<view-param name="search-filters" value="internal-stock-move-filters"/>
	</action-view>	
	
	<menuitem name="top-stock-cust-deliveries" title="Customer deliveries" action="top.stock.cust.deliveries" parent="top-stock" groups="admins,erp" top="true" left="false"/>		
	
	<action-view name="top.stock.cust.deliveries" title="Customer deliveries"
		model="com.axelor.apps.supplychain.db.StockMove" >
		<view type="grid" name="stock-move-grid" />
		<view type="form" name="stock-move-form" />
		<view-param name="search-filters" value="customer-deliveries-filters"/>
		<domain>self.typeSelect = 2 </domain>
		<context name="_typeSelect" expr="eval: 2" />
	</action-view>	
	
	<menuitem name="top-stock-internal-moves" title="Internal moves" action="top.stock.internal.moves" parent="top-stock" groups="admins,erp" top="true" left="false"/>		
	
	<action-view name="top.stock.internal.moves" title="Internal moves"
		model="com.axelor.apps.supplychain.db.StockMove" >
		<view type="grid" name="stock-move-grid" />
		<view type="form" name="stock-move-form" />
		<view-param name="search-filters" value="internal-stock-move-filters"/>
		<domain>self.typeSelect = 1 </domain>
		<context name="_typeSelect" expr="eval: 1" />
	</action-view>	
	
	<menuitem name="top-stock-suppl-deliveries" title="Supplier deliveries" action="top.stock.suppl.deliveries" parent="top-stock" groups="admins,erp" top="true" left="false"/>		
	
	<action-view name="top.stock.suppl.deliveries" title="Supplier deliveries"
		model="com.axelor.apps.supplychain.db.StockMove" >
		<view type="grid" name="stock-move-grid" />
		<view type="form" name="stock-move-form" />
		<view-param name="search-filters" value="supplier-arrivals-filters"/>
		<domain>self.typeSelect = 3 </domain>
		<context name="_typeSelect" expr="eval: 3" />
	</action-view>	

	
	<menuitem name="menu-salesman-dashboard-sample" parent="menu-dashboards-sample" priority="205"
		title="Salesman Db" icon="img/16px/chart_16px.png" action="portal.salesman.dashboard.view.sample" />
		
	<action-view name="portal.salesman.dashboard.view.sample" title="Salesman Dashboard" 
	icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.salesman.dashboard.portal.sample" />
    	<context name="_user" expr="eval:__user__"/>
    	<context name="_user_id" expr="eval:__user__.id"/>
    	<context name="_past_month" expr="eval: __date__.minusMonths(1)"/>
	</action-view>
		
	<menuitem name="menu-sales-manager-dashboard-sample" parent="menu-dashboards-sample" priority="200"
		title="Sales Manager Db" icon="img/16px/chart_16px.png" action="portal.sales.manager.dashboard.view.sample" />	

	<action-view name="portal.sales.manager.dashboard.view.sample" title="Sales Manager Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.sales.manager.dashboard.portal.sample" />
    	<context name="_past_month" expr="eval: __date__.minusMonths(1)"/>
	</action-view>
		
	<menuitem name="menu-purchase-buyer-dashboard-sample" parent="menu-dashboards-sample" priority="190"
		title="Purchase Buyer Db" icon="img/16px/chart_16px.png" action="portal.purchase.buyer.dashboard.view.sample" />	

	<action-view name="portal.purchase.buyer.dashboard.view.sample" title="Purchase Buyer Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.purchase.buyer.dashboard.portal.sample" />
    	<context name="_user" expr="eval:__user__"/>
    	<context name="_user_id" expr="eval:__user__.id"/>
	</action-view>
	
	<menuitem name="menu-purchase-manager-dashboard-sample" parent="menu-dashboards-sample" priority="180"
		title="Purchase Manager Db" icon="img/16px/chart_16px.png" action="portal.purchase.manager.dashboard.view.sample" />	

	<action-view name="portal.purchase.manager.dashboard.view.sample" title="Purchase Manager Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.purchase.manager.dashboard.portal.sample" />
	</action-view>
	
	<menuitem name="menu-purchase-order-dashboard-sample" parent="menu-dashboards-sample"  priority="170"
		title="Purchase Order Db" icon="img/16px/chart_16px.png" action="supply.chain.purchase.order.dashboard.portal.view.sample" />	
		
	<action-view name="supply.chain.purchase.order.dashboard.portal.view.sample" title="Purchase Order Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supply.chain.purchase.order.dashboard.portal.sample" />	    
	</action-view>
	
	<menuitem name="menu-stock-dashboard-sample" parent="menu-dashboards-sample" priority="150" 
		title="Stock Db" icon="img/16px/chart_16px.png"  action="portal.stock.dashboard.view.sample"/>	

	<action-view name="portal.stock.dashboard.view.sample" title="Stock Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="stock.dashboard.portal.sample" />
	    <context name="_newDate" expr="eval: __date__.plusDays(5)"/>
	</action-view>
	
	
	<menuitem name="menu-stock-dashboard" parent="menu-dashboards" 
		title="Stock"  priority="80" />	
		
	<menuitem name="menu-stock-dashboard-1" parent="menu-stock-dashboard" 
		title="Stock Db 1" icon="img/16px/chart_16px.png" action="portal.stock.dashboard.one.view" />	

	<action-view name="portal.stock.dashboard.one.view" title="Stock Dashboard 1"
		icon="img/16px/crmSmall_16px.png"  >
		<view type="portal" name="stock.dashboard.portal.one" />
	    <context name="_newDate" expr="eval: __date__.plusDays(5)"/>
	</action-view>
	
	<menuitem name="menu-stock-dashboard-2" parent="menu-stock-dashboard" 
		title="Stock Db 2" icon="img/16px/chart_16px.png" action="portal.stock.dashboard.two.view" />	

	<action-view name="portal.stock.dashboard.two.view" title="Stock Dashboard 2"
		icon="img/16px/crmSmall_16px.png"  >
		<view type="portal" name="stock.dashboard.portal.two" />	    
	</action-view>
	
	<menuitem name="menu-sales-dashboard" parent="menu-dashboards"  
		title="Sales" priority="50" />	
	
	<menuitem name="menu-sales-dashboard-1" parent="menu-sales-dashboard"  
		title="Sales Db 1" icon="img/16px/chart_16px.png" action="supplychain.sales.dashboard.1.portal" />	
		
	<action-view name="supplychain.sales.dashboard.1.portal" title="Sales Db 1"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.sales.dashboard.1.portal.view" />	 
		<context name="_user" expr="eval:__user__"/>
    	<context name="_user_id" expr="eval:__user__.id"/>
    	<context name="_past_month" expr="eval: __date__.minusMonths(1)"/>  
	</action-view>
	
	<menuitem name="menu-sales-dashboard-2" parent="menu-sales-dashboard"  
		title="Sales Db 2" icon="img/16px/chart_16px.png" action="supplychain.sales.dashboard.2.portal" />	
		
	<action-view name="supplychain.sales.dashboard.2.portal" title="Sales Db 2"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.sales.dashboard.2.portal.view" />	 
		<context name="_past_month" expr="eval: __date__.minusMonths(1)"/> 
	</action-view>
	
	<menuitem name="menu-purchases-dashboard" parent="menu-dashboards"  
		title="Purchases" priority="60" />	
	
	<menuitem name="menu-purchases-dashboard-1" parent="menu-purchases-dashboard"  
		title="Purchases Db 1" icon="img/16px/chart_16px.png" action="supplychain.purchases.dashboard.1.portal" />	
		
	<action-view name="supplychain.purchases.dashboard.1.portal" title="Purchases Db 1"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.purchases.dashboard.1.portal" />	 
		<context name="_user_id" expr="eval:__user__.id"/>   
	</action-view>
	
	<menuitem name="menu-purchases-dashboard-2" parent="menu-purchases-dashboard"  
		title="Purchases Db 2" icon="img/16px/chart_16px.png" action="supplychain.purchases.dashboard.2.portal" />	
		
	<action-view name="supplychain.purchases.dashboard.2.portal" title="Purchases Db 2"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.purchases.dashboard.2.portal" />	    
	</action-view>
	
	<menuitem name="menu-purchases-dashboard-3" parent="menu-purchases-dashboard"  
		title="Purchases Db 3" icon="img/16px/chart_16px.png" action="supplychain.purchases.dashboard.3.portal" />	
		
	<action-view name="supplychain.purchases.dashboard.3.portal" title="Purchases Db 3"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.purchases.dashboard.3.portal" />	    
	</action-view>
	
	<menuitem name="menu-products-dashboard" parent="menu-dashboards-products-goods"  
		title="Products" priority="10" />	
	
	<menuitem name="menu-products-dashboard-1" parent="menu-products-dashboard"  
		title="Product Db" icon="img/16px/chart_16px.png" action="supplychain.products.dashboard.1.portal" />	
		
	<action-view name="supplychain.products.dashboard.1.portal" title="Product Db"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.products.dashboard.1.portal.view" />	 
	</action-view>

	<menuitem name="menu-category-dashboard" parent="menu-dashboards-products-goods"  
		title="Category" priority="20" />	
		
	<menuitem name="menu-category-dashboard-1" parent="menu-category-dashboard"  
		title="Category Db" icon="img/16px/chart_16px.png" action="supplychain.products.category.dashboard.portal" />		
		
	<menuitem name="menu-family-dashboard" parent="menu-dashboards-products-goods"  
		title="Family" priority="30"  />	
	
	<menuitem name="menu-family-dashboard-1" parent="menu-family-dashboard"  
		title="Family Db" icon="img/16px/chart_16px.png" action="supplychain.products.family.dashboard.portal" />	
		
	<action-view name="supplychain.products.category.dashboard.portal" title="Category Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.products.category.dashboard.1.portal.view" />	 
	</action-view>
	
	<action-view name="supplychain.products.family.dashboard.portal" title="Family Dashboard"
		icon="img/16px/crmSmall_16px.png">
		<view type="portal" name="supplychain.products.family.dashboard.1.portal.view" />	 
	</action-view>

	
</object-views>
