.dashlet-no-dropdown .dashlet-header li.dropdown {
    display: none;
}
.report-box .icon-equal:before{
    content: "\003D";
    font-size: 24px;
    font-weight: bold;
}
.dashlet-no-dropdown .fa-level-up{
    color: #079d07;
}

.dashlet-no-dropdown .fa-level-down{
    color: #cb2c2c;
}

.dashlet-no-dropdown.small .dashlet-body{
    zoom: 80%;
}

.report-box.dashlet-no-dropdown .report-icon{
    font-size:30px;
    top:40px;
}

.report-box.dashlet-no-dropdown.small .report-icon{
    font-size:30px;
    top:48px;
}