<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem name="forecast-root" title="Cash management" order="-800"
    if="__config__.app.isApp('cash-management')" icon="fa-money" icon-background="#525252"/>

  <menuitem name="forecast-config-manual-forecast" order="300" parent="forecast-conf"
    title="Manual forecasts" action="forecast-config-manual-forecast"/>

  <action-view name="forecast-config-manual-forecast" title="Manual forecasts"
    model="com.axelor.apps.cash.management.db.Forecast">
    <view type="grid" name="forecast-grid"/>
    <view type="form" name="forecast-form"/>
    <view-param name="search-filters" value="forecast-filters"/>
  </action-view>

  <menuitem name="forecast-root-forecast-recap" order="200" parent="forecast-root"
    title="Forecast Recaps" action="forecast.root.forecast.recap"/>

  <action-view name="forecast.root.forecast.recap" title="Forecast Recaps"
    model="com.axelor.apps.cash.management.db.ForecastRecap">
    <view type="grid" name="forecast-recap-grid"/>
    <view type="form" name="forecast-recap-form"/>
    <view-param name="search-filters" value="forecast-recap-filters"/>
    <domain>self.isReport != true</domain>
  </action-view>

  <menuitem name="forecast-root-forecast-report" order="300" parent="forecast-root"
    title="Forecast Reports" action="forecast.root.forecast.report" icon="fa-bar-chart"/>

  <action-view name="forecast.root.forecast.report" title="Forecast Reports"
    model="com.axelor.apps.cash.management.db.ForecastRecap">
    <view type="grid" name="forecast-report-grid"/>
    <view type="form" name="forecast-report-form"/>
    <view-param name="search-filters" value="forecast-recap-filters"/>
    <domain>self.isReport = true</domain>
  </action-view>

  <menuitem name="forecast-conf" title="Configuration" order="400" parent="forecast-root"
    icon="fa-cog"/>

  <menuitem name="forecast-conf-forecast-generator" order="200" parent="forecast-conf"
    title="Forecast Assistants" action="forecast.conf.forecast.generator"/>

  <action-view name="forecast.conf.forecast.generator" title="Forecast Assistants"
    model="com.axelor.apps.cash.management.db.ForecastGenerator">
    <view type="grid" name="forecast-generator-grid"/>
    <view type="form" name="forecast-generator-form"/>
    <view-param name="search-filters" value="forecast-generator-filters"/>
  </action-view>

  <menuitem name="forecast-conf-forecast-recap-line-type" parent="forecast-conf"
    title="Forecast Recap line Types" action="forecast.conf.forecast.recap.line.type" order="100"/>

  <action-view name="forecast.conf.forecast.recap.line.type"
    title="Forecast Recap line Types"
    model="com.axelor.apps.cash.management.db.ForecastRecapLineType">
    <view type="grid" name="forecast-recap-line-type-grid"/>
    <view type="form" name="forecast-recap-line-type-form"/>
  </action-view>

  <menuitem name="menu-cash-management-dashboard-1" parent="forecast-root"
    title="Cash Management Dashboard" action="cash.management.dashboard.1.view" order="100"/>

  <action-view name="cash.management.dashboard.1.view" title="Cash Management Dashboard"
    model="com.axelor.utils.db.Wizard">
    <view type="form" name="forecast-dashboard-form"/>
    <context name="_userId" expr="eval: 0"/>
  </action-view>

  <!--Help for Cash Management-->
  <menuitem name="menu-cashmanagement-help" title="Help" icon="fa-question-circle" parent="forecast-root"
    order="1500"/>

</object-views>
