<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

	<menuitem name="forecast-root" title="Cash management" order="-86"  if="__config__.app.isApp('cash-management')"
		icon="fa-money"  icon-background="#e0a83c"/>
	
	<menuitem name="forecast-root-forecast" order="10" parent="forecast-root"
		title="Forecasts" action="forecast.root.forecast" />

	<action-view name="forecast.root.forecast" title="Forecasts"
		model="com.axelor.apps.cash.management.db.Forecast" >
		<view type="grid" name="forecast-grid" />
		<view type="form" name="forecast-form" />
	</action-view>
	
	<menuitem name="forecast-root-forecast-recap" order="20" parent="forecast-root"
		title="Forecast Recaps" action="forecast.root.forecast.recap" />

	<action-view name="forecast.root.forecast.recap" title="Forecast Recaps"
		model="com.axelor.apps.cash.management.db.ForecastRecap" >
		<view type="grid" name="forecast-recap-grid" />
		<view type="form" name="forecast-recap-form" />
		<domain>self.isReport != true</domain>
	</action-view>
	
	<menuitem name="forecast-root-forecast-report" order="30" parent="forecast-root" title="Forecast Reports" action="forecast.root.forecast.report" icon="fa-bar-chart"/>

	<action-view name="forecast.root.forecast.report" title="Forecast Reports"
		model="com.axelor.apps.cash.management.db.ForecastRecap" >
		<view type="grid" name="forecast-report-grid" />
		<view type="form" name="forecast-report-form" />
		<domain>self.isReport = true</domain>
	</action-view>
		
	<menuitem name="forecast-conf" title="Configuration" order="200" parent="forecast-root" icon="fa-cog"/>
	
	<menuitem name="forecast-conf-forecast-generator" order="10" parent="forecast-conf"
		title="Forecast Assistants" action="forecast.conf.forecast.generator" />

	<action-view name="forecast.conf.forecast.generator" title="Forecast Assistants"
		model="com.axelor.apps.cash.management.db.ForecastGenerator" >
		<view type="grid" name="forecast-generator-grid" />
		<view type="form" name="forecast-generator-form" />
	</action-view>
	
	<menuitem name="forecast-conf-forecast-reason" order="20" parent="forecast-conf"
		title="Forecast Reasons" action="forecast.conf.forecast.reason" />

	<action-view name="forecast.conf.forecast.reason" title="Forecast Reasons"
		model="com.axelor.apps.cash.management.db.ForecastReason" >
		<view type="grid" name="forecast-reason-grid" />
		<view type="form" name="forecast-reason-form" />
	</action-view>
  
    <menuitem name="forecast-conf-forecast-recap-line-type" parent="forecast-conf" title="Forecast Recap line Types" action="forecast.conf.forecast.recap.line.type"/>
  
    <action-view name="forecast.conf.forecast.recap.line.type" title="Forecast Recap line Types" model="com.axelor.apps.cash.management.db.ForecastRecapLineType">
      <view type="grid" name="forecast-recap-line-type-grid"/>
      <view type="form" name="forecast-recap-line-type-form"/>
    </action-view>
	
	
</object-views>
