<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="gdpr-root" title="GDPR" icon="fa-gavel" icon-background="#004aad"
    if="__config__.app.isApp('gdpr')" order="-65"/>

  <menuitem name="gdpr-root-request" parent="gdpr-root" title="GDPR Request"
    action="action.gdpr.view.request" order="1"/>

  <action-view name="action.gdpr.view.request" title="GDPR Request"
    model="com.axelor.apps.gdpr.db.GDPRRequest">
    <view type="grid" name="gdpr-request-grid"/>
    <view type="form" name="gdpr-request-form"/>
  </action-view>

  <menuitem name="gdpr-root-processing-register" parent="gdpr-root"
    title="GDPR Processing Register" action="action.gdpr.view.processing.register" order="2"/>

  <action-view name="action.gdpr.view.processing.register"
    title="GDPR Processing Register" model="com.axelor.apps.gdpr.db.GDPRProcessingRegister">
    <view type="grid" name="gdpr-processing-register-grid"/>
    <view type="form" name="gdpr-processing-register-form"/>
  </action-view>

</object-views>
