<?xml version="1.0" encoding="UTF-8"?>
<domain-models xmlns="http://axelor.com/xml/ns/domain-models"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/domain-models http://axelor.com/xml/ns/domain-models/domain-models_5.2.xsd">

	<module name="base" package="com.axelor.apps.base.db"/>

  	<entity name="App" lang="java" strategy="JOINED" cacheable="true">
		
	    <string name="name" title="Name" required="true" translatable="true"/>
	    <string name="code" title="Code" required="true" unique="true"/>
	    <string name="description" title="Description" large="true" translatable="true"/>
	    <string name="modules" title="Modules contains in the app" />
	    <many-to-many name="dependsOnSet" title="Depends on" ref="App"/>
		<many-to-one name="image" ref="com.axelor.meta.db.MetaFile" title="Image"/>
		<boolean name="initDataLoaded" title="Init data loaded" />
		<boolean name="demoDataLoaded" title="Demo data loaded" />
		<boolean name="isRolesImported" title="Roles imported" />
		<boolean name="active" title="Installed" />
		<integer name="sequence" title="Sequence" />
		<integer name="installOrder" title="Install order" />
		<string name="languageSelect" title="Language" selection="select.language" />
		<one-to-many name="accessConfigList" ref="AccessConfig" title="Access config" mappedBy="app"/>
		
		<finder-method name="findByCode" using="code" cacheable="true" />
		
		<finder-method name="findByName" using="name" cacheable="true" />
		

  	</entity>

</domain-models>
