<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.0.xsd">

  <menuitem name="menu-studio-root" title="BPM" order="-70" icon="fa-pencil-square-o" icon-background="purple" groups="admins"/>
  
  <!-- Model menus -->
  <menuitem name="menu-studio-model" title="Model" parent="menu-studio-root" order="5"/>
  
  <menuitem name="menu-meta-model-studio" title="Models" parent="menu-studio-model" action="menu.meta.model.studio" order="5"/>
  
  <action-view name="menu.meta.model.studio" title="Models" model="com.axelor.meta.db.MetaModel">
    <view type="grid" name="meta-model-studio-grid"/>
    <view type="form" name="meta-model-studio-form"/>
    <context name="__check_version" expr="eval:'silent'" />
  </action-view>
  
  <menuitem name="menu-studio-meta-select" title="Selections" parent="menu-studio-model" action="menu.studio.meta.select" order="6"/>
  
  <action-view name="menu.studio.meta.select" title="Selections" model="com.axelor.meta.db.MetaSelect">
    <view type="grid" name="meta-select-grid"/>
    <view type="form" name="meta-select-form"/>
  </action-view>
  
  <!-- View menus -->
  <menuitem name="menu-studio-view" title="View" parent="menu-studio-root" order="10"/>
  
  <menuitem name="menu-form-builder" title="Form builders" parent="menu-studio-view" action="menu.form.builder" order="5"/>
  
  <action-view name="menu.form.builder" title="Form builders" model="com.axelor.studio.db.ViewBuilder">
    <view type="grid" name="view-builder-grid"/>
    <view type="form" name="view-builder-form"/>
    <domain>self.viewType = 'form'</domain>
    <context name="_viewType" expr="eval:'form'" />
    <context name="__check_version" expr="eval:'silent'" />
  </action-view>
  
  <menuitem name="menu-grid-builder" title="Grid builders" parent="menu-studio-view" action="menu.grid.builder" order="10"/>
  
  <action-view name="menu.grid.builder" title="Grid builders" model="com.axelor.studio.db.ViewBuilder">
    <view type="grid" name="view-builder-grid"/>
    <view type="form" name="view-builder-form"/>
    <domain>self.viewType = 'grid'</domain>
    <context name="_viewType" expr="eval:'grid'" />
  </action-view>
  
  <menuitem name="menu-chart-builder" title="Chart builders" parent="menu-studio-view" action="menu.chart.builder" order="15"/>
  
  <action-view name="menu.chart.builder" title="Chart builders" model="com.axelor.studio.db.ViewBuilder">
    <view type="grid" name="view-builder-grid"/>
    <view type="form" name="chart-builder-form"/>
    <domain>self.viewType = 'chart'</domain>
    <context name="_viewType" expr="eval:'chart'" />
  </action-view>
  
  <menuitem name="menu-dashboard-builder" title="Dashboard builders" parent="menu-studio-view" action="menu.dashboard.builder" order="20"/>
  
  <action-view name="menu.dashboard.builder" title="Dashboard builders" model="com.axelor.studio.db.ViewBuilder">
    <view type="grid" name="dashboard-builder-grid"/>
    <view type="form" name="dashboard-builder-form"/>
    <domain>self.viewType = 'dashboard'</domain>
    <context name="_viewType" expr="eval:'dashboard'" />
  </action-view>
  
  <menuitem name="menu-action-builder" title="Action builders" parent="menu-studio-view" action="menu.action.builder" order="23"/>
  
  <action-view name="menu.action.builder" title="Action builders" model="com.axelor.studio.db.ActionBuilder">
    <view type="grid" name="action-builder-grid"/>
    <view type="form" name="action-builder-form"/>
  </action-view>
  
  <menuitem name="menu-menu-builder" title="Menu builders" parent="menu-studio-view" action="menu.menu.builder" order="25"/>
  
  <action-view name="menu.menu.builder" title="Menu builders" model="com.axelor.studio.db.MenuBuilder">
    <view type="grid" name="menu-builder-grid"/>
    <view type="form" name="menu-builder-form"/>
  </action-view>
  
  
  <!-- Workflow menus -->
  <menuitem name="menu-studio-wkf" title="Workflow" parent="menu-studio-root"  order="15"/>
  
  <menuitem name="menu-wkf" title="Workflows" parent="menu-studio-wkf" action="menu.wkf" order="5"/>
  
  <action-view name="menu.wkf" title="Workflows" model="com.axelor.studio.db.Wkf">
    <view type="grid" name="wkf-grid"/>
    <view type="form" name="wkf-form"/>
  </action-view>
  
  <menuitem name="menu-wkf-tracking" title="Workflow tracking" parent="menu-studio-wkf" action="menu.wkf.tracking" order="10"/>
  
  <action-view name="menu.wkf.tracking" title="Workflow tracking" model="com.axelor.studio.db.WkfTracking">
    <view type="grid" name="wkf-tracking-grid"/>
    <view type="form" name="wkf-tracking-form"/>
  </action-view>
  
  <menuitem name="menu-wkf-dashboard" title="Workflow dashboard" parent="menu-studio-wkf" action="menu.wkf.dashboard" order="15"/>
  
  <action-view name="menu.wkf.dashboard" title="Workflow dashboard">
    <view type="dashboard" name="dasbhoard-wkf"/>
  </action-view>
  
  <!-- Report menus -->
  <menuitem name="menu-studio-report" title="Report" parent="menu-studio-root" order="20"/>
  
  <menuitem name="menu-report-builder" title="Report builders" parent="menu-studio-report" action="menu.report.builder" order="5"/>
  
  <action-view name="menu.report.builder" title="Report builders" model="com.axelor.studio.db.ReportBuilder">
    <view type="grid" name="report-builder-grid"/>
    <view type="form" name="report-builder-form"/>
  </action-view>
  
  <!-- Import/Export menus -->
  <menuitem name="menu-studio-import-export" title="Import/Export" parent="menu-studio-root" order="30"/>
  
  <menuitem name="menu-import-export" title="Module import/export" parent="menu-studio-import-export" action="menu.import.export" order="5"/>
  
  <action-view name="menu.import.export" title="Module import/export" model="com.axelor.studio.db.DataManager">
    <view type="grid" name="data-manager-grid"/>
    <view type="form" name="data-manager-form"/>
  </action-view>
  
  <menuitem name="menu-record-import-wizard" title="Record import" parent="menu-studio-import-export" action="menu.record.import.wizard" order="10"/>
  
  <action-view name="menu.record.import.wizard" title="Record import" model="com.axelor.studio.db.RecordImportWizard">
    <view type="grid" name="record-import-wizard-grid"/>
    <view type="form" name="record-import-wizard-form"/>
  </action-view>
  
  <!-- Configuration menus -->
  <menuitem name="menu-studio-configuration" title="Configuration" parent="menu-studio-root" order="50"/>
  
  <menuitem name="menu-studio-module" title="Modules" action="action.studio.module" parent="menu-studio-configuration" order="5"/>

  <action-view name="action.studio.module" title="Modules" model="com.axelor.meta.db.MetaModule">
      <view type="grid"/>
      <view type="form"/>
  </action-view>
  
  <menuitem name="menu-filter-operator" title="Operators" action="action.filter.operator" parent="menu-studio-configuration" order="10"/>

  <action-view name="action.filter.operator" title="Operators" model="com.axelor.studio.db.FilterOperator">
      <view type="grid" name="filter-operator-grid"/>
      <view type="form" name="filter-operator-form"/>
  </action-view>
  
  <menuitem name="menu-field-type" title="Field types" action="action.field.type" parent="menu-studio-configuration" order="15"/>

  <action-view name="action.field.type" title="Field types" model="com.axelor.studio.db.FieldType">
      <view type="grid" name="field-type-grid"/>
      <view type="form" name="field-type-form"/>
  </action-view>
  
  <menuitem name="menu-studio-template" title="Templates" parent="menu-studio-configuration" action="action.module.manager" order="20"/>
  
  <action-view name="action.module.manager" title="Template" model="com.axelor.studio.db.StudioTemplate">
  	  <view type="grid" name="studio-template-grid"/>
      <view type="form" name="studio-template-form"/>
  </action-view>
  
  <!-- Apply updates -->
  <menuitem name="menu-apply-updates" title="Apply updates" parent="menu-studio-root" action="action.apply.updates" order="60"/>
  
  <action-view name="action.apply.updates" title="Apply updates" model="com.axelor.studio.db.ModuleRecorder">
    <view type="form" name="module-recorder-form"/>
    <context name="_showRecord" expr="eval:__repo__.of(ModuleRecorder).all().fetchOne()?.getId()" />
  </action-view>
  
</object-views>