<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem name="project-announcement" title="Announcement" order="400"
    parent="project-current-project" action="project.announcement"
    if="__config__.app.isApp('business-support')"/>

  <action-view name="project.announcement" title="Announcement"
    model="com.axelor.apps.businesssupport.db.ProjectAnnouncement">
    <view type="grid" name="project-announcement-grid"/>
    <view type="form" name="project-announcement-form"/>
    <domain>self.project.id IN :_projectIds OR :_project is null</domain>
    <context name="_project" expr="eval: __user__.contextProject"/>
    <context name="_projectIds"
      expr="call:com.axelor.apps.project.service.ProjectService:getContextProjectIds()"/>
  </action-view>

  <menuitem title="Project.version" name="project-versions" parent="menu-project-root"
    action="action.project.version.view.all.versions" order="700"
    if="__config__.app.isApp('business-support')"/>

  <action-view name="action.project.version.view.all.versions" title="Project.version"
    model="com.axelor.apps.businesssupport.db.ProjectVersion">
    <view type="grid" name="project-version-grid"/>
    <view type="form" name="project-version-form"/>
  </action-view>

  <menuitem name="project-task-customer" title="Tickets" order="-1100"
    if="__config__.app.isApp('business-support')" icon="fa-tasks" icon-background="#3f6bb9"/>

  <menuitem name="project-task-customer-my-task" title="My Tickets"
    parent="project-task-customer" action="project.task.customer.my.task" order="100"/>

  <action-view name="project.task.customer.my.task" title="My Tickets"
    model="com.axelor.apps.project.db.ProjectTask">
    <view type="grid" name="project-task-client-grid"/>
    <view type="form" name="project-task-client-form"/>
    <domain>self.customerReferral = :user AND self.isPrivate = false AND self.typeSelect =
      :_typeSelect</domain>
    <context name="user" expr="eval: __user__"/>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.project.db.repo.ProjectTaskRepository.TYPE_TICKET"/>
  </action-view>

  <menuitem name="project-task-customer-new" title="New Ticket"
    parent="project-task-customer" action="project.task.customer.new" order="200"/>

  <action-view name="project.task.customer.new" title="New tasks"
    model="com.axelor.apps.project.db.ProjectTask">
    <view type="form" name="project-task-client-form"/>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.project.db.repo.ProjectTaskRepository.TYPE_TICKET"/>
  </action-view>

  <menuitem name="project-task-customer-treated-by-customer"
    title="Tasks to be treated by customer" parent="project-task-customer"
    action="project.task.customer.treated.by.customer" order="300"/>

  <action-view name="project.task.customer.treated.by.customer"
    title="Tasks to be treated by customer" model="com.axelor.apps.project.db.ProjectTask">
    <view type="grid" name="project-task-client-grid"/>
    <view type="form" name="project-task-client-form"/>
    <domain>self.status.isCompleted = false AND self.isPrivate = false AND self.assignment = 1 AND
      self.typeSelect = :_typeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.project.db.repo.ProjectTaskRepository.TYPE_TICKET"/>
  </action-view>

  <menuitem name="project-task-customer-treated-by-provider"
    title="Tasks to be treated by provider" parent="project-task-customer"
    action="project.task.customer.treated.by.provider" order="400"/>

  <action-view name="project.task.customer.treated.by.provider"
    title="Tasks to be treated by provider" model="com.axelor.apps.project.db.ProjectTask">
    <view type="grid" name="project-task-client-grid"/>
    <view type="form" name="project-task-client-form"/>
    <domain>self.status.isCompleted = false AND self.isPrivate = false AND self.assignment = 2 AND
      self.typeSelect = :_typeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.project.db.repo.ProjectTaskRepository.TYPE_TICKET"/>
  </action-view>

  <menuitem name="project-task-customer-open-all" title="All open ticket"
    parent="project-task-customer" action="project.task.customer.open.all" order="500"/>

  <action-view name="project.task.customer.open.all" title="All open ticket"
    model="com.axelor.apps.project.db.ProjectTask">
    <view type="grid" name="project-task-client-grid"/>
    <view type="form" name="project-task-client-form"/>
    <domain>self.status.isCompleted = false AND self.isPrivate = false AND self.typeSelect =
      :_typeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.project.db.repo.ProjectTaskRepository.TYPE_TICKET"/>
  </action-view>

  <menuitem name="project-task-customer-all" title="All tickets"
    parent="project-task-customer" action="project.task.customer.all" order="600"/>

  <action-view name="project.task.customer.all" title="All tickets"
    model="com.axelor.apps.project.db.ProjectTask">
    <view type="grid" name="project-task-client-grid"/>
    <view type="form" name="project-task-client-form"/>
    <domain>self.isPrivate = false AND self.typeSelect = :_typeSelect</domain>
    <context name="_typeSelect"
      expr="eval: com.axelor.apps.project.db.repo.ProjectTaskRepository.TYPE_TICKET"/>
  </action-view>

</object-views>

